[2016-12-14 18:11] przemos opened #1 "Availability of aws-serverless-java-container jar"
Hi,

can you let us know in which maven repository the artifact is deployed ?

Thanks,
Przemek

[2016-12-14 22:23] SAPessi commented on #1
Hi,

This is not submitted to a repo yet. For the time being you can just clone/download the repo to your workstation and run `mvn install`. As soon as we merge the spring-support branch we'll push the packages to a public repository.

Stefano

[2016-12-16 12:33] przemos commented on #1
Cheers :)
I work around it by using by using https://jitpack.io/ temporarily.
Great job Stefano!

[2017-01-18 01:53] joeyvmason opened #5 "Accept-Encoding header causes Spring to throw 500 errors"
If `Content-Type` request header is `application/json` instead of `application/json;charset=UTF`, then providing `Accept-Encoding` values other than `UTF-8` (e.g. `gzip, deflate, sdch`) will result in 500 errors when running on AWS Lambda. Have not been able to reproduce this locally, but it happens without fail when run on AWS Lambda.

Full stack trace:

[code]

[2017-01-18 01:54] SAPessi commented on #5
Thanks, I'll take a look

[2017-01-18 20:07] SAPessi commented on #5
Fix and unit test committed

[2017-01-18 20:07] #5 closed

[2017-01-19 02:30] SAPessi commented on #1
version 0.2 of the library is now on the maven repository, closing this,

[2017-01-19 02:30] #1 closed

[2017-02-19 02:03] mattcorey opened #10 "HttpServletRequest.getRequestUrl is incorrect"
When running in AWS using the Spring integration, fronted by an API Gateway in AWS Proxy mode, calling HttpServletRequest returns a StringBuffer of the following format:

`<api-gateway-host>//<requestPath>`

It _should_ return something like the following:

`<scheme>://<api-gateway-host>/<stage>/<requestPath>`

The primary visible impact of this is when using the Spring Data REST with auto-generat

[2017-02-19 16:45] SAPessi commented on #10
Thanks Matt, will review and give feedback/merge tomorrow. Keep the feedback coming if you run into any other issue and we'll make the fix.

[2017-02-20 12:32] mattcorey opened #12 "Use Stage to activate a specific Spring profile"
If the lambda is running under a specific 'stage', the component should use this to activate a Spring profile that may be packaged with the function.  This will allow the user to control different configurations (data source, output queue, etc) based on the stage it's running as (test, prod, etc)

[2017-02-20 22:40] SAPessi commented on #10
I've merged the pull request, closing this issue.

[2017-02-20 22:40] #10 closed

[2017-02-20 22:41] SAPessi commented on #12
thanks Matt, will look into this ASAP.

[2017-02-20 23:55] mattcorey commented on #12
I've done this before, and may be able to get to it in the next few days.  If you agree with the premise I've proposed, I can implement this.

[2017-02-21 16:04] mattcorey commented on #12
I have a working version of this that just needs some cleanup - I should be able to finish it tonight or tomorrow

[2017-02-22 00:36] SAPessi commented on #12
I think it's an interesting idea. Although we often recommend you deploy completely separate API/Lambda functions for each environment - ie they may have the same stage and the API id/function arn distinguishes between a prod and dev one. See the pipeline example here: https://aws.amazon.com/blogs/compute/continuous-deployment-for-serverless-applications/

[2017-02-22 02:19] mattcorey commented on #12
This looks really similar to what we're doing - we use the Serverless Framework for our deployments, which offers a similar way to model a serverless app in a single place.  Our resources are independent by stage, using a key in the name of the resources to determine where it should be used.  Any other configuration is managed in the Spring profiles, such as feature switches, etc.  This allows me

[2017-02-22 16:26] SAPessi commented on #12
How do you normally activate a profile? Assume you use the `@Profile` annotation and then call the `setActiveProfile` method on the application context? If that's the case, I will add a setActiveProfile method to the `SpringLambdaContainerHandler` that changes the profile of the current application context

[2017-02-23 03:10] mattcorey commented on #12
I use both the @Profile annotation to setup specific bean/resource settings, and the application-<profile-name>.properties pattern standardized in SpringBoot, and I use the 'setActiveProfile' to set it.  I have a working example in my forked repository:  https://github.com/mattcorey/aws-serverless-java-container/tree/profile-support

One gotcha I found when putting tests together for this -- In or

[2017-02-28 17:51] SAPessi commented on #12
I took a look at your branch. I'm not 100% sure I'd want to use the API Gateway stage automatically.

I think we should add the getStage method to the `AwsProxyServletContext` like you did, but then I'd let you set the profile directly on the application context before you pass it to the library. What I'm getting at is that I'm not sure the library should be involved in setting the profile.

I can

[2017-03-01 00:40] mattcorey commented on #12
I see what you're getting at - to this point, I'm designing my apps to be deployed Into AWS Lambda first, but it won't necessarily be the case.

I'm not sold on asking the developer to explicitly get the stage, and then activate the profile based on it, because I don't think developers think about profiles as an API option, but rather as a runtime switch.  In addition to exposing the ApplicationCo

[2017-03-01 01:11] SAPessi commented on #12
I like the idea of adding an `activateSpringProfile` method to the container handler. This way the profile name could come from both environment variables in Lambda or stages in API Gateway. I think it's more flexible. Do you want to make the changes to your branch and send a pull request or want me to add the method and copy your tests?

[2017-03-01 22:07] mattcorey commented on #12
I took a whack at it -- take a look on the new branch:  https://github.com/mattcorey/aws-serverless-java-container/tree/simplified-profile-support

[2017-03-01 23:33] SAPessi commented on #12
Looks good. Want to send the pull request?

[2017-03-01 23:48] mattcorey commented on #12
Done

[2017-03-02 00:26] SAPessi commented on #12
Merged the pull request and closing the issue. Thanks Matt!

[2017-03-02 00:26] #12 closed

[2017-03-03 13:12] mattcorey opened #14 "New release?"
Any way we can get a new release with the recent changes?  Are there any other roadmap items you have in mind for this library?

[2017-03-03 16:13] SAPessi commented on #14
Yes, we will push 0.3 out now (latest early next week). I have some clean up and refactoring to do but otherwise features are driven by requests here. If there is something else you'd like to see in the library let us know and we'll get right to it.

[2017-03-03 22:04] SAPessi commented on #14
Version 0.3 is now on maven central. Closing this issue. Feel free to open another issue if you come up with other features you'd like in the library

[2017-03-03 22:04] #14 closed

[2017-03-07 22:16] blakeney opened #15 "AwsProxyServletContext Does Not Support Servlet Filter Registration"
Hello,

I am trying to use this library along with Spring Boot to create a REST application that uses `javax.servlet.Filter` implementations to transform responses.  I see that all of the filter-related methods in `AwsProxyServletContext` are overridden to simply return `null` or to do nothing ([source](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-contai

[2017-03-08 17:29] blakeney commented on #15
I did some more investigation and determined with more certainty that indeed, the current implementation does not support Filter registration (or Servlet registration, for that matter).  I also determined that `HandlerInterceptor`s will not serve my particular need, so I am just going to work around this in the `handleRequest` method of my own project for the time being, essentially bypassing Spri

[2017-03-08 22:11] SAPessi commented on #15
Correct, at the moment it does not. I'd be interested to take a look at your filter code and see if/how we can add support for it. Anything you can share on GitHub or here?

[2017-03-13 08:55] AlainJanssens commented on #15
Is this also the reason why '@Valid' isn't working?

[2017-03-13 16:01] AlainJanssens opened #16 "Unable to config @Valid for bean validation in spring"
If you annotate your project with @EnableWebMvc and you add the hibernate-validator to your classpath, you should be able to use @Valid in your controller to validate the annotated bean...

Unfortunately this is not working...

Any idea why, or a workaround?

Regards

[2017-03-13 16:02] SAPessi commented on #15
I'm no spring expert but doing some research I can see that the `@Valid` annotation does run as a filter. We are currently designing filters support based on this issue and we'll have something in a branch over the next few weeks.

[2017-03-13 16:04] AlainJanssens commented on #15
Thanks for the answer @SAPessi ..

I created a separated issue for this...

[2017-03-13 16:07] SAPessi commented on #15
I'll keep that issue open until I can confirm for certain that this is the cause of the issue. If it is, then I'll close the separate issue and group everything in here. Otherwise we'll address it there.

[2017-03-13 16:08] SAPessi commented on #16
We are investigating whether this is caused by #15.

[2017-03-20 20:41] davidmco65 opened #17 "Problems with 403 Forbidden and 405 Method Not Allowed"
Hi,
I'm having an issue trying to get a single Java Lambda to handle all HTTP Methods.

Here's my interface:

[code]

And my implementation class:

[code]

Yet when I try to use Postman to call POST on /contacts (actually /TEST/contacts because TEST is my stage name), I get the 403 Forbidden error.

And when I try to use DELETE on /contacts/12345 - where I should receive a 404 Not Found because Co

[2017-03-20 22:24] SAPessi commented on #17
Looking into it. Just to confirm, if you start this on your local machine using the embedded container in Jersey it responds correctly?

[2017-03-20 23:22] SAPessi commented on #17
I've tried to test something similar in local with Jersey 2.24. Looks like you cannot define a method with a sub-path in the interface,  you have to define both in the implementation. Note that all of these tests are with the embedded Grizzly container in local. We'll get to Lambda and API Gateway next.

The DELETE method works for me when the interface is defined like this:
[code]

And the implem

[2017-03-20 23:56] davidmco65 commented on #17
So when I define in both Interface and Implementation, I get Duplicate definition errors.  It thinks both the Interface and Implementation are definitions.

So I ran my JUnit tests, which I'm assuming fires up Grizzly.  All tests worked.  I've actually got more methods:

	@HEAD
	@Path("/ping")
	@Consumes({MediaType.APPLICATION_JSON})
	public Response ping(@QueryParam("numAdditionalInstancesToPing"

[2017-03-21 01:03] SAPessi commented on #17
Is there a repo where we can take a look at the entire app?

On the 1st question, 403 is normally returned by API Gateway when you try to open a method that is not defined in the API. Would be good to see the API Gateway definition.

[2017-03-21 15:03] davidmco65 commented on #17
Unfortunately, this is a private business app and I can't share all of the sources.  I can share more of the code around this resource with a little editing.
Here's the API definition:
![image](https://cloud.githubusercontent.com/assets/16906571/24153549/5e5fdc32-0e14-11e7-8e0e-653c73377eb2.png)

![image](https://cloud.githubusercontent.com/assets/16906571/24153574/778d4140-0e14-11e7-91e4-1ad4f677

[2017-03-21 15:07] SAPessi commented on #17
Thanks Daniel,

You are getting a 403 on the POST because there isn't an HTTP method defined in the `/contacts` resource in API Gateway. The `ANY` method you have defined there in the `{proxy+}` resource will only handle calls to sub-resources of contacts, for example `/contacts/123`. To handle requests to the contacts resource your API should look like this:

[code]

This is a start. I'll look in

[2017-03-21 15:11] davidmco65 commented on #17
Oh wow!  I didn't know you had to do that!  Thanks so much!  That helps a lot.  I'll try that out very shortly.

David

[2017-03-21 15:57] SAPessi commented on #17
I also edited your comment to add an even more scrubbed version of the impl class.

[2017-03-21 16:23] SAPessi commented on #17
Assuming the API Gateway configuration fixes your 403 on the POST. I'm now trying to replicate the 405 on the DELETE method without much luck.

When I start the server in local with your latest code, it responds to the DELETE method as expected. Same when I use Lambda and API Gateway.

This is the class I'm using to run the local tests:
[code]

And this is my simple Lambda handler:
[code]

[2017-03-21 18:46] davidmco65 commented on #17
So adding the additional method under the /contacts resource made everything work!

Not sure I totally understand why, but as long as it works, I'm happy.

I'd also be interested in contributing to this project if you are looking for developers/maintainers.  Let me know.

Thanks,
David

[2017-03-21 18:52] SAPessi commented on #17
Thanks David, I'm currently working on issues #15 and #16. However, if there are other features you need in the library, feel free to open a new issue and send a pull request. We are always looking for feedback on the library.

I'm going to close this issue for now. thanks for all the help to debug this.

[2017-03-21 18:52] #17 closed

[2017-03-22 22:56] SAPessi commented on #15
Hey @blakeney, could you share some sample code on how you initialize (and add) filters in your spring application?

[2017-03-23 23:51] SAPessi commented on #15
I've pushed a first version of the filter support to the servlet-improvements branch. This is the commit https://github.com/awslabs/aws-serverless-java-container/commit/d7bec0a06a4d241a6ef150fbaba733d74cde13ad. You can register filters with the setStartupHandler lambda:

[code]

Next I will work on supporting the filter annotations.

[2017-03-23 23:52] SAPessi commented on #16
I have an update on filters posted on #15

[2017-03-24 21:39] SAPessi commented on #16
@AlainJanssens can you paste here some sample code on how you use `@Valid` (both init and runtime) so that I can include it in a unit test?

[2017-03-28 17:56] SAPessi commented on #16
Turns out this is not caused by #15. I have looked into this and managed to get the `@Valid` annotation working. I've added a unit test for this in the new branch

Few things to do:

1. declare your config as an `AnnotationConfigWebApplicationContext`:
[code]

2. Add the required dependencies in the pom.xml file:
[code]

3. Use the `@Valid` annotation in your method.
[code]

[2017-03-28 17:56] SAPessi commented on #16
Switched to help wanted tag and closing the issue.

[2017-03-28 17:56] #16 closed

[2017-03-31 21:10] SAPessi opened #19 "Add support for Play framework"
Logging the feature request from our Twitter poll: https://twitter.com/sapessi/status/846816218422034432

Add support for the [Play Framework](https://www.playframework.com/).

[2017-04-03 06:55] dasniko opened #20 "CDI Support for the Jersey/JAX-RS container?"
Ok guys, this is really awesome!
Thanks for doing this.

I've got the Spring integration up and running in minutes. It really works like a charme with all the Spring functionality included like autowiring etc.

The Jersey/JAX-RS integration also works quite good, but I would love to see some CDI support here as well. Is this somehow possible to provide a simple/small/lightweight CDI integration wi

[2017-04-03 14:51] SAPessi commented on #20
Hi Niko,

Thanks for the compliments and feedback. I will look into this. To help us narrow down the scope for a first release, is there something specific you are looking for? Could you give us some mock code of how you would like your tests to work like?

S

[2017-04-03 16:49] dasniko commented on #20
Hi @SAPessi,
thanks for your quick reply.

Meanwhile, I started to implement the `aws-serverless-java-container-jersey` with some `jersey-weld2-se` here: https://github.com/serverlessbuch/lambda-jaxrs-cdi
(this is the repository for my upcoming book on serverless computing, but german-language only)

However, the unit-tests work fine, even with CDI.
But as soon as I run it on AWS Lambda (through A

[2017-04-12 21:10] SAPessi opened #21 "Unified logging interface"
At the moment the library uses the Lambda `Context`, where it is available, to access the `Logger` object. This doesn't scale well and results in "hidden" exceptions in a few places. We should introduce a logger

[2017-04-13 21:01] SAPessi commented on #15
Version 0.4 is out and adds support for servlet filter:

[code]

Closing this issue.

[2017-04-13 21:01] #15 closed

[2017-04-17 23:08] SAPessi opened #24 "Add support for Cognito User Pool authorizer"
Update internal methods to support the `claims` object in the request authorization context. This is relevant when an API is configured with a User Pool authorizer from Amazon Cognito.

[2017-04-19 16:27] yyolk commented on #24
This is currently my most-wanted :)

[2017-04-19 17:02] SAPessi commented on #24
Thanks. Working on this now. It may result in an API change. I will probably have to change the shape of the [`AuthorizerContext`](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/internal/model/ApiGatewayAuthorizerContext.java) object

[2017-04-19 23:11] SAPessi commented on #24
Just committed a first implementation of this. You can try it by cloning this branch and running `mvn install` on your local machine: https://github.com/awslabs/aws-serverless-java-container/tree/cognito-user-pool

The branch is for version `0.5-SNAPSHOT`. This adds the `CognitoAuthorizerClaims` object in the authorizer context:

[code]

[2017-04-20 15:52] yyolk commented on #24
Excited :)

Checking out and using that branch, I'm now able to authenticate via cognito-user-pools (like before) but now my Lambda isn't throwing back `Internal Server Error` when correctly authenticating.

I am getting this following error when trying to do `request.getRequestContext().getAuthorizer().getClaims();`, but I'm almost positive it's something on my side currently

[code]

[2017-04-20 16:01] SAPessi commented on #24
Could you share the code at (and around) LambdaHandler.java:36?

[2017-04-20 16:11] yyolk commented on #24
Here's the full class, without imports that was built off of the samples. Our container is based off of the Spring Container, but we're not currently `dispatching()` to the servlet - line36 is the `System.out.println` in the `try` block - again, I'm almost positive it's on my side.

[code]

[2017-04-20 16:17] SAPessi commented on #24
What's the exception? Was that a NullPointer?

[2017-04-20 16:29] yyolk commented on #24
Yes it was `java.lang.NullPointerException`

However, on further investigation (I was looking at old logs)... I get this only if I invoke from the lambda console, I get what I assume is expected if I route through API gateway endpoint with `COGNITO_USERPOOL` as the authorizer

When invoking through API-gateway I get this from line 36:
[code]

[2017-04-20 16:42] SAPessi commented on #24
That's the expected behavior. When testing from the Lambda console, make sure that your test event contains the user pools context. Take a look at the [sample event in the tests](https://github.com/awslabs/aws-serverless-java-container/blob/cognito-user-pool/aws-serverless-java-container-core/src/test/java/com/amazonaws/serverless/proxy/internal/model/CognitoAuthorizerClaimsTest.java#L22)

When in

[2017-04-20 17:08] yyolk commented on #24
Thank you for the link to the sample event.

I'm currently trying to grab a cognitoIdentityId from an authorized request with `Authorization: idToken` but getting `null` for both `getCognitoAuthenticationType()` and `getCognitioIdentityID()` off of `awsProxyRequest.getRequestContext().getIdentity()`, I'm not sure this is correct?

I used [this](https://github.com/awslabs/aws-serverless-java-contai

[2017-04-20 17:12] SAPessi commented on #24
The Cognito identity is populated only if you are using AWS_IAM as the authorization strategy and the temporary credentials you use to make the call were generated by the Cognito Identity service. If you are looking for the User Pool identity id then you need to you the `getSubject()` method of the claims object.

[2017-04-20 17:14] SAPessi commented on #24
By the way, are you building support for a new container? What is `Pangea`?

[2017-04-20 17:37] yyolk commented on #24
Thank you for the insight. That makes much more sense now x-ref'ing the https://github.com/awslabs/aws-serverless-auth-reference-app

Pangea is whom I work for, our container is a WIP and may be dropped ultimately but it's useful for me right now to understand the library.

I also started the container because I wasn't sure why I was getting `Internal Server Error` (exception on lambda) when succe

[2017-04-20 17:39] SAPessi commented on #24
Great. I'll merge this into master soon. By the way, I've just created a gitter room for this repo: https://gitter.im/awslabs/aws-serverless-java-container

[2017-04-21 17:00] SAPessi commented on #24
This is merged into master. Closing issue.

[2017-04-21 17:00] #24 closed

[2017-04-24 19:26] dasniko commented on #20
I got my example now working with Weld as CDI implementation.
This works very well, but I have to build it with Gradle. As soon I build it with Maven, Weld won't work.

Yet, I don't know why this occurs, but I keep investigating and will compare classpaths...

[2017-04-24 21:54] SAPessi commented on #20
Let me know how it goes. I'll pick this issue up after I've added support for the Play framework.

[2017-04-25 05:46] dasniko commented on #20
With the help from @bbilger, who has a similar project as yours https://github.com/bbilger/jrestless we found the solution in proper configuration of `beans.xml`, `@...Scoped` annotations and extended `maven-shade-plugin`: https://github.com/bbilger/jrestless-examples/issues/9#issuecomment-296917099

I've updated my above mentioned project and it's working pretty good.

[2017-05-01 18:40] SAPessi opened #26 "Inject request principal with Spring framework"
The request principal is not automatically injected using the Spring framework.

[code]

[2017-05-02 19:30] gmaruti opened #27 "URLs in html getting encoded"
I built a Spring MVC application and deployed on Lambda. I have a spring controller on Lamda which returns a HTML page. This page contains links as part of th:href attribute. But when rendered the link is not working as expected as URLs are getting encoded.

Looks some encoding filter getting applied on the content and encrypting all the URLs. This is happening even with the URL passed as "redirec

[2017-05-02 19:40] SAPessi commented on #27
The url there seems to be urlencoded. The framework itself does not do any url encoding, it simply returns the response body as a string: https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/internal/servlet/AwsProxyHttpServletResponseWriter.java#L42

Can you share some code on how the html is generated

[2017-05-02 20:11] gmaruti commented on #27
[PlaceListPage.txt](https://github.com/awslabs/aws-serverless-java-container/files/971836/PlaceListPage.txt)

Attached the HTML page (changed extension to .txt)

I have Spring Controller bean that returns the html

`
    @RequestMapping("/places")
    public String places() {
          ....
          String url = "PlacesListPage"; // PlacesListPage.html is present under templates directory

[2017-05-02 20:30] SAPessi commented on #27
Thanks @gmaruti. Just to confirm, if you start the spring app on your local machine the url is returned correctly?

[2017-05-02 21:18] gmaruti commented on #27
Yes, it does work in local...

[2017-05-02 21:44] SAPessi commented on #27
Is there any chance I can get access to the demo app to replicate. I cannot find a place where the framework would be urlencoding something. The only place where we url encode is in the response here: https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/internal/servlet/AwsHttpServletResponse.java#L99

[2017-05-02 22:42] SAPessi commented on #27
never mind. I managed to replicate the issue. I will look into it and let you know.

[2017-05-03 14:00] alepeltier opened #28 "Error when trying to register a container request filter through a lambda"
Hello,

I'm currently working on an authentication filter with aws-serverless-java-container. I've created the filter and registered it in my Handler but when I try and run it in a lambda I get the following error message:

{
  "errorMessage": "A MultiException has 3 exceptions.  They are:\n1. java.lang.IllegalStateException: A descriptor SystemDescriptor(\n\timplementation=org.glassfish.jersey.se

[2017-05-03 15:09] SAPessi commented on #27
I located the issue in the `LinkExpression` class. When processing the link, it returns a URL encoded expression if the response is not null:

[code]

I'll investigate this comparing how the embedded container in spring boot behaves.

[2017-05-03 16:24] SAPessi commented on #27
@gmaruti are you using SpringBoot for the application or the plain spring framework?

[2017-05-03 17:42] SAPessi commented on #27
@gmaruti  I have committed a fix to the servlet-improvements branch. This fixes the issue for me. If you can, clone the branch, mvn install in local, change your pom to use 0.5-SNAPSHOT and test if this fixes the issue for you.

[2017-05-03 18:20] SAPessi commented on #28
The issue in this case is that the shaded jar did not include the `javassist` package that Jersey uses to do bytecode manipulation. When shading a jar, make sure to include `org.javassist:*`

[2017-05-03 18:20] #28 closed

[2017-05-03 18:27] ggallotti opened #30 "Inyect ServletContext and HttpServletResponse automatically"
Having hundrerds of Jersey endpoints where ServletContext and HttpServletResponse is inyected, when using 'aws-serverless-java-container'  I have to modify the code in order to obtain the Servlet context from the Request.

Could be simpler if the ServletContext and HttpServletResponse could be inyected as HttpServletRequest is.

[code]

I'm already inyecting HttpServletRequest this way:
https://gi

[2017-05-03 18:45] SAPessi commented on #26
I looked into this. Spring is doing the right thing and calling the `getPrincipal` method of the `HttpServletRequest` object. By default, the framework uses the `AwsProxySecurityContext` object to retrieve the user principal. The object only supports the authorization types supported by API Gateway, it does not recognize a user principal from the request: https://github.com/awslabs/aws-serverless-

[2017-05-03 19:43] gmaruti commented on #27
Thanks,  I will check and let you know...

[2017-05-03 21:06] SAPessi commented on #30
This was fixed in the last commit. Closing this now and will merge into master once I have confirmation that #27 is also resolved.

[2017-05-03 21:06] #30 closed

[2017-05-03 21:27] ggallotti commented on #30
It's working. Thanks!

[2017-05-05 09:55] gmaruti commented on #27
@SAPessi  I tested the code and it worked for me too!!.. Thanks for quick fix.

[2017-05-05 14:27] SAPessi commented on #27
Nice. I will close this and merge

[2017-05-05 14:27] #27 closed

[2017-05-05 19:32] SAPessi commented on #26
Confirmed 0.5-SNAPSHOT behaves as expected for Cognito User Pools. One additional note:

[code]

[2017-05-09 05:11] gmaruti opened #33 "Spring Lambda load time issue"
Apologies if this is wrong place for this query.

I am building Spring Lambda function with and with out Spring Boot. I observe Lambda function takes considerable load time and at times timing out (taking more than 15secs).

Any suggestions on improving the startup times?

[2017-05-09 15:13] SAPessi commented on #33
Hi, do you have VPC configured in your Lambda function? Connecting to a VPC can introduce additional latency when the Lambda function first starts.

Having said that, Spring is definitely the slowest framework to start. I have a few ideas on how to speed things up but they will require a lot of testing and likely won't be included in the 0.5 release.

Try to increase the amount of memory allocated

[2017-05-09 17:01] mattcorey commented on #33
Can you summarize your ideas succinctly enough for someone in the community to take a shot at the updates?

[2017-05-10 02:26] jinwg opened #34 "custom domain name with base path"
When I specified /ping1  as basePath for my custom domain. when I am trying to invoke them (api.mydomain.com/ping1/ping) I got 404.  after dump the input stream,  i found  the base path was passed into API request path like below.
 {"resource":"/{proxy+}","path":"/ping1/ping","httpMethod":"GET","headers":

Do we have a good solution to solve the problem?

Thanks in advance

[2017-05-10 02:37] SAPessi commented on #34
Hi @jinwg

I can see this going both ways. Let me make a practical example of an application that is composed of two services: First, a catalogue service accessible from the `/catalogue` resource; second, an ordering service accessible from the `/orders` resources. The services would be implemented as two separate Lambda function, each expecting a full resource path - for the orders service this c

[2017-05-10 02:39] SAPessi commented on #33
@mattcorey Haven't fully thought this through, but I can see three options that are not necessarily mutually exclusive:

 1. Ask the Spring team for input on how to configure the application context to skip some of the initialization and introspection steps
 2. Instead of relying on dependency injection, write some `AbstractProcessor` classes that people can run at compile time that generate bytec

[2017-05-10 16:38] jinwg commented on #34
@SAPessi ,  thanks for your reply. sometime the base path in API gateway domain mapping is not full control by developer.  other product team may decide how to use that.   and this issue only happen when i use {proxy+} mode,   if i publish each method behind  API endpoint,  this problem will not happen.  look below path filed for 2 cases,  possible it is problem of APIGateway?

**Custom domain wit

[2017-05-10 17:04] jinwg commented on #34
oh,  sorry.. i misunderstand you.. my bad..

[2017-05-10 17:24] SAPessi commented on #34
@jinwg No need to close the issue. If you think we should offer an option to exclude a base path from the request leave it open and we'll talk it through

[2017-05-14 20:01] gmaruti opened #35 "Spring MVC - requestDispatcher null"
I tried Spring MVC application with Spring boot. I have a Controller method which will forward to success /failure html page. This works fine with Spring Boot and Lambda. But I am facing Load time and Jar file size issues wirh Spring Boot.

So decided to try without Spring boot, with plain Spring using aws-serverless framework. I started getting error like "javax.servlet.ServletException: Could no

[2017-05-15 15:17] SAPessi commented on #35
Hi @gmaruti, can you share the code for your Lambda handler. This should work with both Spring and Spring Boot. To fix the jar size issue with Spring Boot you could try and shade unnecessary artifacts in maven. For example you wouldn't need Tomcat in your packaged jar.

[2017-05-15 20:07] gmaruti commented on #35
@SAPessi, i shared the link to the code base in earlier comment. Below is the link to Lambda Handler
https://github.com/gmaruti/mvc-sample-spring/blob/master/src/main/java/com/maruti/mvc_sample/LambdaHandler.java

What I observed is apart from increasing the size of jar Spring boot is also increasing load time, more when component scan is used. To overcome, started using XML approach but as mentio

[2017-05-16 15:26] SAPessi commented on #35
@gmaruti Thanks. I replicated the issue. Looking into it.

[2017-05-16 15:55] SAPessi commented on #35
Yes, the issue is that we need to implement the `RequestDispatcher`. Changing this to enhancement. I'll work on this over the next couple of weeks.

[2017-05-18 10:31] johnboy14 commented on #34
@SAPessi This sounds like an issue with the APIGateway, surely it shouldn't be including the custom domains base path but instead be mapping directly to the raw endpoint. A quick fixaround for this is to rewrite the `path` variable to match the `resource` e.g.

`awsProxyRequest.setPath(awsProxyRequest.getResource());`

[2017-05-18 15:06] SAPessi commented on #20
ah, good to hear. I'll keep this open to see if there is something we can include in the project to make the process easier. If not, I'll at least update the wiki to document this.

[2017-05-18 18:02] SAPessi commented on #34
@johnboy14 I don't think it's so black and white. The base path may actually be part of the endpoint you define in the code. Per my original example, you may have the API called orders that defines the resources under /orders. However, the `/orders` resource is not part of the API definition but rather a base path in the custom domain name, this way you can have both `/orders` and `/catalogue` und

[2017-05-22 16:37] jinwg commented on #34
@SAPessi, thanks for reopening this again.  i agree with you,  it is better to offer an option to define wether or not exclude the base path, and suggest excluding the base path by default. i think a microservice usually is supposed to handle its own internal resources without dependency of external input.

Thanks again.

[2017-05-26 19:09] gmaruti commented on #35
@SAPessi Any idea when this enhancement will be available.

[2017-05-26 21:02] davidmco65 opened #36 "Issue with API GW authentication using Cognito authorizer"
I get this in CloudWatch when I call a service configured to use my Cognito Authorizer in API GW.  I'm passing a new, valid token received from Cognito in the appropriate header field.  I'm using 0.5-SNAPSHOT build I pulled down today from github.

[code]

[2017-05-26 21:05] SAPessi commented on #35
@gmaruti still working on it. Running into a few issues. I'll keep you posted here

[2017-05-26 21:06] SAPessi commented on #36
@davidmco65 can you also post a sample events here. Looks like claims is a string instead of an object or the other way around.

[2017-05-27 00:09] davidmco65 commented on #36
OK, this was my fault.  I had not quite changed all references to the framework to 0.5-SNAPSHOT.  I had one still using 0.3 and some still using 0.4.  Once I cleaned everything out and rebuilt/redeployed, it works.
My apologies!
One question though: Is the JWT token reuseable/refreshable and what is its lifetime?

Thanks again!
David

[2017-05-27 00:35] SAPessi commented on #36
Cool. I'll close this one then.

@davidmco65 The token lasts for 1 hour, in the response from Cognito you also get a refresh token that you can use to renew the identity and access tokens.

[2017-05-27 00:35] #36 closed

[2017-05-27 00:59] davidmco65 commented on #36
Any chance we can configure how long the token lasts?  I'm not getting the credentials, so I don't get the refresh token either.

[2017-05-27 01:30] SAPessi commented on #36
You cannot configure the duration of the token. However, Cognito User Pools should return a refresh token after a successful auth: https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_AuthenticationResultType.html

[2017-06-12 12:31] greglira opened #37 "Incorrect use of ServletFileUpload (common-fileupload) results in NPE"
We implemented a lambda function (proxy to API Gateway method which consumes **multipart** content) using the aws-serverless-java-container library.
However, during the testing we found out that it didn't work: all requests were failing with *java.lang.NullPointerException: No FileItemFactory has been set.*
It seems like the no-args constructor was used in https://github.com/awslabs/aws-serverless

[2017-06-12 15:01] SAPessi commented on #37
It certainly looks like a bug. I'll make the change and add some unit tests for this in the next release. Thanks!

[2017-06-20 18:37] SAPessi commented on #26
Any updates on this? If there is no feature request here, I will close this item.

[2017-06-20 18:57] SAPessi commented on #37
The fix for this has been merged into master. Release 0.5 will go out later today.

[2017-06-20 18:57] #37 closed

[2017-06-20 18:57] SAPessi commented on #35
Fix for this is now merged into master. Release 0.5 will go out later today.

[2017-06-20 18:57] #35 closed

[2017-06-20 19:00] SAPessi commented on #34
This is now implemented and merged into master. Release 0.5 will go out later today.

You can set it by using the `stripBasePath` method in the `LambdaContainerHandler` object.

[code]

I've used Jersey for my example but the method is available in all implementations.

[2017-06-20 19:00] #34 closed

[2017-06-20 20:22] joeyvmason commented on #33
+1

[2017-06-21 23:58] davidmco65 opened #39 "Field "path" not in AwsProxyRequest"
When trying to deserialize the AwsProxyRequest within a StreamHandler-derived class, I get:

`Unrecognized field "path" (class com.amazonaws.serverless.proxy.internal.model.ApiGatewayRequestContext), not marked as ignorable (9 known properties: "resourcePath", "apiId", "accountId", "resourceId", "requestId", "identity", "httpMethod", "stage", "authorizer"])
`
From:

`AwsProxyRequest request = mapp

[2017-06-22 00:09] SAPessi commented on #39
Fixed with the latest pull request. This will go out with 0.6

[2017-06-22 00:09] #39 closed

[2017-06-30 21:49] mkjois opened #40 "Spark integration fails due to web sockets not being supported"
I have a working hello-world-ish local Spark server, but when trying to run it on Lambda it throws the [`UnsupportedOperationException`](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-spark/src/main/java/com/amazonaws/serverless/proxy/spark/embeddedserver/LambdaEmbeddedServer.java#L63) when the embedded server tries to [configure web sockets](htt

[2017-06-30 21:51] SAPessi commented on #40
API Gateway and Lambda do not support web sockets so you wouldn't be able to receive requests from clients. What are you trying to accomplish with web sockets?

[2017-06-30 21:52] mkjois commented on #40
I'm not using web sockets. But the Spark service always calls `configureWebSockets()` on startup, which throws an exception, which kills the process.

[2017-06-30 21:53] SAPessi commented on #40
Can you show me the code for your LambdaHandler class?

[2017-06-30 21:57] SAPessi commented on #40
The one catch with spark is that you need to define the resources after you have initialized the handler: https://github.com/awslabs/aws-serverless-java-container/blob/master/samples/spark/pet-store/src/main/java/com/amazonaws/serverless/sample/spark/LambdaHandler.java#L45

[2017-06-30 21:58] mkjois commented on #40
Sure. Thanks for the quick reply btw.

[code]

[code]

[2017-06-30 22:03] SAPessi commented on #40
Thanks, I will test this. Which version of spark are you using?

[2017-06-30 22:04] mkjois commented on #40
2.6.0

I'm looking right now to see if that's the issue. Their changelog is here: http://sparkjava.com/news#spark-kotlin-released

[2017-06-30 22:05] SAPessi commented on #40
Thanks. I'll test this and publish a fix in the next few days. Flying around right now.

[2017-06-30 22:06] SAPessi commented on #40
Meanwhile, could you try with spark 2.5.3 - the library is tested with this version.

[2017-06-30 22:39] mkjois commented on #40
Getting a strange NPE with Spark 2.5.3:
[code]

It's hard to tell but it looks like maybe `filterChainManager` isn't being set? Looking through the code, it looks like the implementation of `SparkLambdaContainerHandler.handleRequest()` doesn't set the `httpServletContext` with the [setter here](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/

[2017-07-01 00:24] SAPessi commented on #40
Yes, it looks like it's a bug with the latest release. I think FilterChainManager was introduced in 0.5. Try and use 0.4 of the library - I'll include this fix in the TT.

[2017-07-01 00:34] SAPessi commented on #40
I've found the issue and have a fix - I will create some unit tests for this over the weekend and push it. I'll let you know when it's there and you can start using 0.6-SNAPSHOT

[2017-07-01 13:22] dmcg opened #41 "Provide example of using raw HttpServletRequest"
I'm trying to work out how to have a raw service(httpServletRequest, httpServletResponse) lambda method called. There is no documentation to help!

[2017-07-01 16:26] SAPessi commented on #41
What do you mean by raw service? Are you using Spring, Jersey, or Spark?

[2017-07-01 19:22] dmcg commented on #41
None of these. I was assuming that I'd be able to map service() of an HttpServlet as the lambda handler and have it called with an HttpServletRequest

[2017-07-02 16:05] SAPessi commented on #41
The library is not a full implementation of the servlet specs - it's just meant to act as a wrapper for spring, jersey, or spark applications.

Technically you could use the core objects to receive an `AwsProxyRequest` event, instantiate a new `AwsProxyHttpServletRequest` from it, and then pass it in directly to your servlet. However, you should not expect the servlet context and filters to work.

[2017-07-02 16:52] dmcg commented on #41
I appreciate that large chunks of the servlet spec are not there - just looking for a route (no pun intended) to have my code run in either Jetty or Lambda. Thanks for the pointer.

[2017-07-02 16:52] #41 closed

[2017-07-03 17:44] SAPessi opened #42 "Support for Spark 2.6.0"
There are some breaking changes in the embedded server interface.

[2017-07-03 18:00] Fefbug opened #43 "Principal.getName with federated cognito user not returning identityId"
Hi,
I am using spring with Api gateway and lamba proxy.
When i Inject the principal on my controller it does not return the cognito identity with federated user.
The principale getName method now return the temporary user generated by the assume role call.

before the 0.5 my getAuthentificationScheme was AUTH_SCHEME_COGNITO, but now it fall into the AUTH_SCHEME_AWS_IAM

https://github.com/awslabs/

[2017-07-03 18:08] SAPessi commented on #43
There was indeed a breaking change when we started handling user pool auth properly. You are now going to the AWS_IAM branch of the code - which is the correct behavior. However, you expect (rightly) the Cognito identity id as a principal since the call is authorized with credentials produced by Cognito Federated Identities.

This is caused by the fact that the library returns the `userArn` when t

[2017-07-03 19:37] SAPessi commented on #40
I've pushed a fix for the bugs in the 2.5.3 support to the `servlet-improvements` branch. You should be able to get started right away by cloning the branch, `mvn install`, and adding `0.6-SNAPSHOT` as a dependency to your project.

I noticed that spark made some breaking changes in 2.6.0 that require bigger changes to the library, particularly if we want to support both 2.5.x and 2.6.x versions.

[2017-07-03 21:03] mkjois commented on #40
Thanks a bunch! Would it be possible to publish the 2.5.3-related bug fixes to the 0.5 version on maven central? I agree that supporting 2.6 would be appropriate for the 0.6 release. Perhaps it's a good idea to employ semver with patch updates?

[2017-07-03 21:05] mkjois commented on #42
For reference, their changelog is here: http://sparkjava.com/news#spark-26-released

[2017-07-03 21:10] SAPessi commented on #40
Yes, it may make sense to push out a fixed `0.5.1`. I would also like to include #43 in the release, just waiting to get a little bit of feedback on the proposed changes then I'll push this out.

[2017-07-03 21:23] mkjois commented on #43
I'm not very familiar with this use case, but if it's going to be a breaking change, perhaps it should be in 0.6? The proposed fix looks fine to me

[2017-07-04 07:01] dmcg opened #44 "AwsServletContext requiring Context in ctor is a pain"
I know that this isn't your use-case, but...

... I'm using the Servlet interfaces to build a binding between Lambda and web-abstractions that overlay routing on top of a single servlet.

So I need an AwsServletContext to pass to the init() of their servlet. But I can't have one until the first request is made, because AwsServletContext needs Context. But only for logging, which doesn't seem a goo

[2017-07-04 19:40] SAPessi commented on #44
Yes, this is definitely on the cards for release 0.6 - it will come together with #21

[2017-07-04 22:09] dmcg commented on #44
Excellent, I'll close this given #21

[2017-07-04 22:09] #44 closed

[2017-07-05 09:15] dmcg commented on #40
+1 for a 0.5.1 to get us running with Spark 2.5.3

[2017-07-05 15:44] SAPessi commented on #43
Following the conversation on Gitter looks like we are settled on option 1. Committing a fix for this now.

[2017-07-05 15:55] SAPessi commented on #40
@mkjois, @dmcg I've committed both fixes and it seems to be working fine for me. Would you mind testing with 0.6-SNAPSHOT from the `servlet-improvements` branch

[2017-07-06 04:47] thepont commented on #33
I don't know if this will be helpful, but I managed to reduce the cold start time of my application from 50 seconds to 10 seconds by changing a few things around.

The biggest success for me was setting `lazyInit` in `@ComponentScan` to true, since not all my requests require access to the same beans, I also reduced the basePackages of the component scan a little ( this mostly reduced my cold star

[2017-07-06 05:06] S66D opened #46 "Support for Jooby framework"
If it is convenient Support [Jooby ](http://jooby.org) framework?!

[2017-07-06 06:16] dmcg commented on #40
Will do.  Do you expect it to work against Spark 2.6 or just 2.5.3?

[2017-07-06 06:20] SAPessi commented on #40
@dmcg only 2.5.3 - I have support for 2.6 in a separate issue for the next major release

[2017-07-06 08:56] dmcg commented on #40
0.6-SNAPSHOT from the servlet-improvements branch works for me, thanks

[2017-07-06 16:03] SAPessi commented on #33
Thanks @thepont, super helpful tips. I will definitely look at updating our Spring sample and try some of your suggestions. I plan to move the documentation for the repo to the wiki, I will create a tips page for each implementation and add your content there!

[2017-07-06 16:04] SAPessi commented on #40
Good to know, thanks. If all goes well I will push out 0.5.1 today.

[2017-07-06 16:05] SAPessi commented on #46
Thanks @S66D - I will look into this for a future release

[2017-07-06 16:40] SAPessi commented on #43
Resolving now that the fix is merged into master

[2017-07-06 16:40] #43 closed

[2017-07-06 16:40] SAPessi commented on #40
Resolving now that the fix is verified and about to go out

[2017-07-06 16:40] #40 closed

[2017-07-12 20:22] andrii142 opened #47 "Is it any way to inject bean to rest controller?"
Got out of memory error as it is now

[2017-07-13 00:36] SAPessi commented on #47
I assume you are talking about Spring. This should work normally. Java (and Spring) are pretty memory hungry, if you look at the Lambda logs it should tell you how much memory it consumed, what do you see there? Have you tried to increase the memory available to the Lambda function?

[2017-07-13 08:02] dmcg commented on #42
Should you be looking for inspiration, this would be a really useful feature for us!

[2017-07-13 15:44] SAPessi commented on #42
@dmcg I'll try to make this available in 0.6 at the end of the month. I'll start testing next week.

[2017-07-17 17:31] SAPessi commented on #47
Did increasing the amount of memory available to the function help? Can I close this issue?

[2017-07-23 12:37] maciejtreder opened #49 "isBase64Encoded() is not mapped."
How to reproduce:

Enable binary support in the API Gateway:

Place following code in the handler:

[code]

Output is (in my particular case):
[code]

As you can see in JSON object, the property `isBase64Encoded` is set to true, and output from `request.isBase64Encoded()` gives false (default boolean value).

Same issue occurs for class which implements `RequestHandler<AwsProxyRequest, AwsProxyRes

[2017-07-23 13:35] #49 closed

[2017-07-25 16:27] SAPessi commented on #49
hey @maciejtreder did you resolve the issue?

[2017-07-25 16:58] maciejtreder commented on #49
@SAPessi Yup. I was using an old version of a dependency. Thanks for asking.

[2017-07-25 17:04] SAPessi commented on #49
@maciejtreder great. Apologies for the delay in responding but I was on holiday for the past few days.

[2017-07-27 16:34] franciscodominguez opened #50 "There is a Dependency convergence within your project"
I am working with your jersey samples and I have been notices some Dependency convergence issues:
Dependency convergence error for javax.ws.rs:javax.ws.rs-api:2.1-m01 paths to dependency are:
  +-com.amazonaws.serverless:aws-serverless-java-container-jersey:0.5.1
    +-com.amazonaws.serverless:aws-serverless-java-container-core:0.5.1
      +-javax.ws.rs:javax.ws.rs-api:2.1-m01
and
  +-com.amazonaw

[2017-07-27 17:07] SAPessi commented on #50
Thanks. I'll fix this for the next commit!

[2017-07-27 18:59] franciscodominguez commented on #50
@SAPessi
i updated my comment. The latest version does not work since org.glassfish.hk2.api.Factory is no longer present. I have not done the research to figure out the migration path for that class.

[2017-07-27 19:40] franciscodominguez commented on #50
@SAPessi
upgrading past 2.26-b03 could be problematic as the org.glassfish.hk2:hk2-api is no longer org.glassfish.jersey.core:jersey-server it is just a separate jar. I tried just including the latest hk2-api as a dependency but that failed. you may not want to change this until the direction of jersey is solidified.

[2017-08-07 23:34] SAPessi opened #51 "addCookie in HttpServletResponse not working correctly"
From Gitter chat:

((HttpServletResponse) response).addCookie(ck); does not set cookie at a given domain (root domain for example) also it does not set it as secure & HTTPOnly. However if I use ((HttpServletResponse) response).addHeader("Set-Cookie", cookie); it works okay.. any suggestions on why its behaving in such a manner?

[2017-08-08 15:27] SAPessi commented on #51
Verified this is a bug. Addressing it now in the servlet-improvements branch

[2017-08-08 17:05] SAPessi commented on #50
I'm rolling the core back to re-api:2.0.1 - and updating jersey to 2.25.1. Once Jersey2.26 is out of beta I will update all dependencies and add support.

[2017-08-08 18:09] SAPessi commented on #50
Addressed in the latest commit. If you have time try and clone 0.6-SNAPSHOT from the `servlet-improvements` branch and let me know if it works for you

[2017-08-08 18:10] SAPessi commented on #47
I'm closing this issue since we haven't heard back in 27 days

[2017-08-08 18:10] #47 closed

[2017-08-08 18:58] SAPessi commented on #44
@dmcg Better late than never, I've addressed this in the latest commit. it's on the `servlet-improvements` branch

[2017-08-08 18:59] SAPessi commented on #21
Moved to slf4j-api in the latest commit.

[2017-08-08 19:33] SAPessi commented on #42
@dmcg @mkjois I've looked through the changes, they are minor but still breaking. I have two options:
1. Upgrade to spark 2.6.0 for all
2. Add a new module specifically for spark2.6.0

What would your preference be?

[2017-08-08 19:54] mkjois commented on #42
My preference would be to upgrade to spark 2.6.0 for all, either in version 0.6 or 0.7.

I can understand option 2 but if you do go with it I think this module should continue to mature with Spark, while you can introduce a new module for staying with 2.5.3

[2017-08-08 21:03] SAPessi commented on #42
Thanks @mkjois - I will publish 0.6 as is since I have a bug fix for the servlet specs that should be included in all releases. From 0.7-SNAPSHOT I will upgrade to spark 2.6.0 for all.

[2017-08-08 21:08] SAPessi commented on #26
Comment from Gitter chat:
one thing to consider may to follow the default in Spring, I believe it will return a Principal with named anonymousUser with a single ROLE_ANONYMOUS authority
for the first case
instead of null

[2017-08-08 21:16] SAPessi commented on #26
After looking into this, my decision is that this should not be a change in the framework. according to the servlet specifications, if there is no authenticated user, the `getUserPrincipal` method should return null: http://docs.oracle.com/javaee/7/api/javax/servlet/http/HttpServletRequest.html#getUserPrincipal--

To retrieve the expected value with spring, the application should leverage the [Ano

[2017-08-08 21:16] #26 closed

[2017-08-11 00:05] SAPessi commented on #51
Haven't heard back on this. Unit tests seem to be working fine so resolving.

[2017-08-11 00:06] SAPessi commented on #21
About to merge changes into master, resolving.

[2017-08-11 00:06] #21 closed

[2017-08-11 00:06] SAPessi commented on #50
Resolving this and about to merge changes into master

[2017-08-11 00:06] #50 closed

[2017-08-12 04:53] eranation opened #53 "@PathVariables not URL encoded"
In a classic Spring deployment (e.g. on a standalone / built in Spring Boot embedded Tomcat), when you get a @PathVariable, usually it's already URL decoded, e.g. if I send a request to

/foo/bar/Some%20Thing

to a

@GetMapping("/foo/bar/{baz}")
public void handle(@PathVariable("baz") String baz) …

then baz should be "Some Thing"

This can be fixed in the Lambda handler easily, but I think it wil

[2017-08-12 04:58] eranation opened #54 "Feature Request - Allow to run locally"
I managed to make it run on Tomcat as a WAR file with some playing with maven profiles, but it's not exactly the same as the ApiGatewayRequestContext is not available in an offline / local war deployment. It will be nice if there was a built in way to run the app locally as a Spring application with similar RequestContext behavior as in a lambda deployment.

[2017-08-12 05:06] eranation opened #55 "Feature request - configurable Principal field"
At the moment in a Spring scenario, if you inject the Principal and use Cognito auth, you get the cognito sub (Subject). If you need the username, you must either do a lookup request to Cognito, or fish the ApiGatewayRequestContext and grab it via .getAuthorizer().getClaims().getUsername()

It would be nice if the field that is mapped to the Principal name can be configurable so that one can point

[2017-08-13 02:36] SAPessi commented on #53
Since we are not yet at version 1.0, I think we can afford a breaking change. This clearly looks like a bug so I'd be in favor of simply changing the behavior of the library. I will ask the community in the Gitter chat for feedback and do some research - I'll update this issue next week.

[2017-08-13 02:38] SAPessi commented on #54
@eranation I'm wondering if we should do some research on how to run applications written with this library using the new sam-local: https://github.com/awslabs/aws-sam-local - what do you think?

[2017-08-13 02:42] SAPessi commented on #55
This is possible today by creating a custom [`SecurityContextWriter`](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/internal/SecurityContextWriter.java) and passing it to the library.

We could solve this easily by giving you an easy way to inject the security context writer without having to man

[2017-08-13 14:26] mianor64 opened #56 "Bug - Filter called only once per URL"
**Summary**
Filters are not working as expected (at least for SpringLambdaContainerHandler). Filters are called only the first time a URL is called. I used the sample pet-store for Spring and added a filter as described in the documentation.
First time I called an URL (i.e. /pets/1), the filter is executed as expected. If I call the same URL again, the filter is not executed.
If I call another URL

[2017-08-13 18:09] SAPessi commented on #56
Thanks @mianor64 - I'll investigate and push a fix to 0.7-SNAPSHOT next week

[2017-08-13 19:37] Fefbug opened #57 "Spring exception message missing in API gateway response"
Hi,
When you throw an exception with @ResponseStatus(value = HttpStatus.INTERNAL_SERVER_ERROR) annotation.
API gateway answer with the right status code but the exception message is gone.

sample code to reproduce :
[code]

[2017-08-14 01:06] SAPessi commented on #57
Thanks @Fefbug - I'll investigate this week and give you an update here.

[2017-08-14 09:56] aaron-kumar opened #58 "Apache Camel route is supported?"
I was unable to run Apache Camel route in AWS Lambda. Do this container supports running Apache Camel route?

[2017-08-14 14:52] SAPessi commented on #58
Hi @aaron-kumar, Apache Camel Route is is not currently supported. Is this something you are interested in? We can definitely consider it for our roadmap.

Could you share some sample code on how you envision the integration with Camel Route working?

[2017-08-14 16:49] SAPessi commented on #56
Hi @mianor64, I've found the issue and addressed it in the last commit on the `servlet-improvements` branch. I've also added a unit test for this case. If you don't mind, could you test with your application:

1. Clone the `servlet-improvements` branch from GitHub:
[code]

2. Use maven to install the new version in local:
[code]

3. Update your pom.xml to use version `0.7-SNAPSHOT`

[2017-08-14 16:58] nisbshah commented on #51
Hi @SAPessi

Sorry, could not test this earlier.
Things have got worse after I pulled 0.6 version. Now it's NOT setting up the cookie at all with following code.
((HttpServletResponse) response).addCookie(ck);

[2017-08-14 17:03] SAPessi commented on #51
Let me re-open this. The [code for the addCookie method](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/internal/servlet/AwsHttpServletResponse.java#L83) is pretty straightforward. Are you checking in the response from API Gateway or on the return value from your Lambda function?

Any chance you h

[2017-08-14 17:25] SAPessi commented on #53
hey @eranation, I did some research on this and it turns out containers do automatically URIDecode a request with the configured charset. Spring Boot automatically configures this to UTF-8: https://dddpaul.github.io/blog/2015/12/21/spring-boot-uri-encoding/

I will add a new `uriEncoding` parameter to the [`ContainerConfig`](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-

[2017-08-14 18:01] SAPessi commented on #53
I've pushed a fix for this to the `servlet-improvements` branch. If you get a chance to test the latest version from that branch let me know if this works for you. I've added a couple of unit tests to the spring implementation and the core request reader.

[2017-08-14 19:48] SAPessi commented on #57
Hey @Fefbug, I've looked into this and the library is doing the right thing, it never receives a body from Spring. Unless you declare an exception handler, Spring will only set the status code in the response and not the body. Take a look at the [tutorial here](http://www.baeldung.com/exception-handling-for-rest-with-spring).

This is a decent exception handler sample for a REST API:

[code]

I've

[2017-08-14 19:55] dhcrees opened #59 "Query Parameters with space."
Not sure if this is the right place to ask this question, but I can’t seem to find much help on the subject.  We’ve been using the container now for months and everything works great.  We’ve used this for a simple API which only contains a single Query Parameter.  We’ve noticed that when we put a space into the parameter then the API Gateway returns an Internal Server Error immediately.  So for ex

[2017-08-14 19:57] SAPessi commented on #59
Hi @dhcrees, just to confirm, you are using the serverless-java-container library right? I'm just in the process of fixing #53 so I can take a look at this one too. When you run the test call from the API Gateway console with the space, what does the event look like in the logs on the right, could you paste it here?

[2017-08-14 20:01] dhcrees commented on #59
Stefano,

Yes, we’re using the Serverless-Java-Container. (Jersey).  Its been working great since the first release, but we’ve just noticed this happening (well its the first time we’ve put a space in to be fair).   We’ve been able to use the container library with Jetty which allows us to run the framework locally, where we don’t see the error.  It only seems to happen when we deploy the lambda t

[2017-08-14 20:07] SAPessi commented on #59
Great thanks. Let me try and replicate. I'll update you here.

[2017-08-14 20:08] dhcrees commented on #59
Stefano,

Can you confirm if you think the issue is likely to be the framework.  I’ve opened a case with AWS earlier because I thought it was the gateway after I saw all the suggestions to use $util.urlEncode().  If it is then I can close the support ticker with AWS, not that people are taking his from different angles.

Many thanks.

[2017-08-14 20:28] nisbshah commented on #51
I am checking the response from Api gateway (Lamda backend). Also, Just to point out, I am using aws-Serverless-java-container-Spring.

following is my code to set cookie

`  public static void setCookie(ServletRequest request, ServletResponse response, String name, String value,
      boolean set, boolean global, boolean bSecureCookie, Integer maxAge, boolean httpOnly) {
    Cookie ck = new Cooki

[2017-08-14 20:30] SAPessi commented on #59
Hey @dhcrees, I found the issue and fixed it. The issue is that the [`JerseyRequestReader` creates a new URI with the raw values from API Gateway](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-jersey/src/main/java/com/amazonaws/serverless/proxy/jersey/JerseyAwsProxyRequestReader.java#L85). Any unencoded query string parameter cause it to throw a

[2017-08-14 20:33] dhcrees commented on #59
Stefano,

Many thanks, I will try it when I get to work in the morning.

Just to be clear, I do the mvn install inside the clone of serverlet-improvement.?

Sorry I normally just let maven handle this stuff :)

[2017-08-14 20:34] SAPessi commented on #51
Thanks @nisbshah - let me test with Spring. Is this a static method you call from a method annotated with `@RequestMapping`?

[2017-08-14 20:35] SAPessi commented on #59
@dhcrees Yes, clone the servlet improvements branch and run `mvn install` from that folder. This will install `0.7-SNAPSHOT` in your local maven cache. Then you'll be able to refer to it from your other projects. Hopefully the official 0.7 will be out before the end of the month.

[2017-08-14 20:37] dhcrees commented on #59
Excellent, once again thanks.  Will try it first thing in the morning and get back to you

[2017-08-14 20:40] nisbshah commented on #51
yes!

[2017-08-14 20:45] SAPessi commented on #51
Hey @nisbshah, I'm struggling to replicate. This is my test: I have added your static method (verbatim) and added a new mapped method that looks like this:

[code]

This is the unit test I ran against it and it succeeds:

[code]

[2017-08-14 20:47] Fefbug commented on #57
I just try your sample it works like a charm !
I close the issue Thanks!

[2017-08-14 20:47] #57 closed

[2017-08-14 20:48] SAPessi commented on #57
Great. Thanks @Fefbug - only one more thing to pay attention to, the `@ExceptionHandler` annotation can receive a list of classes. My recommendation would be to specify which custom exception classes you want to handle with this and let Spring deal with the rest with its default settings.

[2017-08-14 20:52] SAPessi commented on #19
Not sure I'll get this into 0.7, given the number of bugs that have come out recently I may have to push out 0.7 sooner than I thought. Removing from 0.7 milestone for the time being.

[2017-08-14 22:42] nisbshah commented on #51
I believe the key thing to note in the above CustomCookie is why is it adding Expires= <BLAH> !? Max-Age=-1 means cookie will expire when browsing session ends. Where as for some reason, the above mentioned cookie gets the expiry time as the current time! And that is the reason it expires the cookie as soon as it sets it.

[2017-08-14 22:56] SAPessi commented on #51
Thanks @nisbshah, got you now. So the `Set-Cookie` header is returned, but the value is wrong. The reason I was setting both is because I expected Max-Age to take precedence as described [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie):

I can change the logic to skip the `Expires` field if `Max-Age` is set to -1, would this work?

[2017-08-15 00:05] nisbshah commented on #51
I would recommend leaving Expires field altogether. Anyways, I believe it's deprecated in the latest versions.
Also, if no value is provided to the max-age it defaults to -1
private int maxAge = -1;
Above LOC is from Cookie class in Javax.servlet

[2017-08-15 00:07] SAPessi commented on #51
Thanks @nisbshah, I want to make sure that older browsers are supported too. If the Max-Age is -1, I skip the expire header altogether. If Max-Age is > 0, I calculate the expire header to match the max age. Pushing a commit of these changes now to the `servlet-improvements` brach, let me know if you get a chance to test this.

[2017-08-15 03:36] mianor64 commented on #56
Hi @SAPessi, I confirm it's working now! Thanks for your fast answer.

[2017-08-15 08:40] dhcrees commented on #59
Stefano,

I’ve cloned and tested the 0.7-SNAPSHOT into our project and everything is working as intended.

Many thanks

[2017-08-15 15:07] SAPessi commented on #59
Thanks for testing @dhcrees, I'll close this and merge the changes into master today.

[2017-08-15 15:07] #59 closed

[2017-08-15 15:08] SAPessi commented on #56
Great, thanks for checking @mianor64, I'll close this and merge into master today.

[2017-08-15 15:08] #56 closed

[2017-08-15 17:03] SAPessi commented on #42
Hey @mkjois, I just pushed a commit to the `spark-upgrade` branch that supports 2.6.0. If you get a chance, can you give it a try?

[2017-08-16 15:02] SAPessi commented on #53
This was reported as fixed offline. Closing the issue.

[2017-08-16 15:02] #53 closed

[2017-08-16 15:33] SAPessi commented on #51
I've made an additional fix to this: `Max-Age` should not be returned at all if the value is negative. I've tested this running inside Lambda from a browser and the cookie is set correctly. Change is in servlet-improvements branch and I will merge it today.

[2017-08-16 15:33] #51 closed

[2017-08-16 15:41] SAPessi commented on #42
Merged upgraded changes into master. Closing this issue.

[2017-08-16 15:41] #42 closed

[2017-08-16 15:46] mkbrv commented on #58
I am considering Apache Camel as well, I have been putting some time these last days to create a custom camel component for processing http requests. Also there are significant limits on what you can do with Camel on a Lambda, since you have to hold the main thread blocked until everything else is solved, which is kind of difficult unless you don't do more than 1 route per request or any seda queu

[2017-08-16 15:49] mkbrv commented on #54
For the Spring Boot project I easily made a new submodule with a simple class and a dependency to my lambda module. The class looks like:

[code]
I also added a dependency to spring boot so I can run it from the main in a tomcat:
[code]

It works just fine.

[2017-08-16 16:29] SAPessi commented on #55
We discussed this offline. We see two option:

1. Create a new [`HandlerMethodArgumentResolver`](http://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/messaging/handler/invocation/HandlerMethodArgumentResolver.html) for Spring and a [`ContextResolver`](https://docs.oracle.com/javaee/7/api/javax/ws/rs/ext/ContextResolver.html) in Jersey. All you'd have to do then is:
[

[2017-08-16 16:34] SAPessi commented on #58
hey @mkbrv, thanks for the +1 on Apache Camel. We'll definitely look into it. If Spring is taking too long to load you may want to consider increasing the amount of memory allocated to the Lambda function, this will also give it more CPU (hence faster start). Alternatively, both Jersey and Spark are faster at boot.

[2017-08-16 16:36] SAPessi commented on #54
All 3 supported frameworks can be started locally with an embedded container, this allows you to test your application. To emulate API Gateway and Lambda's behavior you are definitely better off using the [aws-sam-local](https://github.com/awslabs/aws-sam-local) project. The sample applications included in this repo have a basic SAM template you can just re-use.

I'm closing this issue for now.

[2017-08-16 16:36] #54 closed

[2017-08-16 17:45] mkjois commented on #42
@SAPessi Sorry didn't get to test, I'm pretty swamped at work this week.

Thanks for the upgrade though! Might want to update the readme with a note about these versions as well

[2017-08-21 15:38] SAPessi commented on #55
Since there is no feedback and this is not a high priority fix I'm pulling it out of 0.7. The data is still accessible through the request attributes.

[2017-08-22 17:21] yyolk commented on #55
I'm not a user of Spring or Jersey, so I see a lot of benefit in option 2

[2017-08-22 20:46] nisbshah commented on #51
Hi @SAPessi sorry for the late reply. I got the latest code and included the snapshot version to my project. I believe we still have got a problem...

Cookie when we set the max-age to -1
`sessionToken=94ef8938-2c97-4c10-8347-d2efc1e72780; Path=/; Secure; HttpOnly; Domain=amazonaws.com`

Cookie when we set the max-age to 20
`sessionToken=1cb0deb1-2a77-4913-862a-072b9b24b243; Path=/; Secure; HttpOn

[2017-08-22 20:50] nisbshah commented on #51
I got the latest code and tested.. its working as expected! Thank you :)
Sorry for the delayed reply.

[2017-08-25 20:05] ScottWinkler opened #62 "Jersey HttpServletResponse Injection"
From the docs, I can inject an HttpServletRequest using the following:
[code]

And I can access the HttpServletRequest using:
[code]

However, I have not found a way to inject the HttpServletResponse. It would be nice to bind a factory method like:

[code]

So that I can access the HttpServletResponse using the @Context object, e.g. something like:

[code]

If this is not possible, is there anothe

[2017-08-25 22:00] SAPessi commented on #62
Hi @ScottWinkler, at the moment we only have a Factory implementation for the [request](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-jersey/src/main/java/com/amazonaws/serverless/proxy/jersey/factory/AwsProxyServletRequestFactory.java) and [context](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-contain

[2017-09-03 18:36] mianor64 opened #66 "Bug - Filter chain not working properly"
**Summary**
Filter chain is not working as expected. In some case I want to set the response directly, for example for authorization  (i.e return http code 401), in doFilter method and interrupt the process. But even if the http code of the reponse is correctly set (401), the process is not interrupted. The controller with the URL requested is then called (but should not be). Then you received htt

[2017-09-05 20:42] SAPessi commented on #66
Hey @mianor64. This is indeed a bug. The behavior should be fixed by #65. It will go out with the next release.

[2017-09-15 04:35] sunieldalal opened #67 "Add Filter example for Spring container"
Please add Filter example for Spring container. This will help developers to understand and add such features in their respective projects.

[2017-09-15 12:35] navalgandhi1989 opened #68 "Enable to Add Spring DelegatingFilterProxy Filter to Handler"
Hi,

I am trying to Run a Spring Code on Lambda. Everything works except Spring's URL Based Security. I Tried adding the springSecurityFilterChain filter my self but it gives the following exception.

		 java.lang.IllegalArgumentException: FilterConfig must not be null
			at org.springframework.util.Assert.notNull(Assert.java:134)
			at org.springframework.web.filter.GenericFilterBean.init(Generic

[2017-09-15 15:36] SAPessi commented on #68
Hi @navalgandhi1989 I'll investigate and get back to you next week. We also have a fix for filters going in with #65 so I'll test both together.

[2017-09-15 16:05] navalgandhi1989 commented on #68
Thanks,

I really liked the overall implementation. I will be glad to help in development of new features.

[2017-09-19 18:03] iannickb opened #69 "ApiGatewayAuthorizerContext not serializing contextProperties"
We are adding some context in a custom authorizer and it seems like the ApiGatewayAuthorizerContext is not serializing it properly. The principalId is available but we can't get anything else through `getContextValue(String key)`.

Everything also works fine when using the following interface:
[code]

[2017-09-19 21:05] SAPessi commented on #69
This is probably because the model objects [use annotations](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/internal/model/ApiGatewayAuthorizerContext.java#L52) to serialize the event correctly. The default Lambda serializer does not support annotations. The only way to work around this is to use

[2017-09-19 21:27] iannickb commented on #69
This is exactly the workaround I have, thanks @SAPessi.

[2017-09-19 21:27] #69 closed

[2017-09-22 16:38] SAPessi opened #70 "Spring RequestBody injection throws NPE"
From the [Gitter room](https://gitter.im/awslabs/aws-serverless-java-container).

for `@RequestBody(required = false)` and if the client does not pass RequestBody, AWS serverless throws NPE.. Here is the stacktrace,

[code]

[2017-09-22 21:34] lskrajny opened #71 "Spark: Cold start occassionally throws NullPointer exception"
Following spark sample, occasionally getting:

[code]

[2017-09-27 17:48] helloalleo commented on #42
Could you provide an example?

[2017-09-27 18:21] helloalleo commented on #42
Nevermind. I got it working the problem which I got was in included `compile 'com.sparkjava:spark-debug-tools:0.5'`

[2017-09-27 19:59] SAPessi commented on #42
hey @helloalleo, what problem were you running into? Was there a specific exception?

[2017-09-27 20:00] SAPessi commented on #71
Thanks @lskrajny - marking as a bug for now. I'll investigate and let you know next week.

[2017-09-27 20:08] helloalleo commented on #42
I got this error when included `compile 'com.sparkjava:spark-debug-tools:0.5'`

[code]

[2017-10-12 16:25] SAPessi commented on #71
I could replicate this in travis CI but not in local. I suspect this is a race condition where the [`ignite`](https://github.com/awslabs/aws-serverless-java-container/blob/servlet-improvements/aws-serverless-java-container-spark/src/main/java/com/amazonaws/serverless/proxy/spark/embeddedserver/LambdaEmbeddedServer.java#L51) method is not called consistently before the handle method is called. To g

[2017-10-12 20:08] SAPessi commented on #66
Hey @mianor64, I've committed a fix for this to `0.8-SNAPSHOT` in the `servlet-improvements` branch. I've also added a couple of unit tests for it to the Spark and Spring implementations. If you get a chance, could you help me run a quick test?

[2017-10-12 21:03] SAPessi commented on #70
Fix for this is now committed in the `servlet-improvements` branch

[2017-10-21 19:13] eranation commented on #55
I think option 2, as much as I hate casting or doing instanceof, is the most consistent with Spring Security. this also seems to be backward compatible.

[2017-10-24 15:50] jordiperendreu opened #72 "Spring Boot is not handling the request"
Hi,

I followed the documentation about Spring Boot, I have:

LambdaHandler:
[code]

My controller code:
[code]

I get on logs:
`2017-10-25 18:23:29.361  WARN 20596 --- [           main] o.s.web.servlet.PageNotFound             : No mapping found for HTTP request with URI [/apps/1] in DispatcherServlet with name 'aws-servless-java-container'`

But removing: springBootApplication.setWebEnvironment(

[2017-10-30 14:52] lskrajny commented on #71
tested it but unfortunately this doesn't still seem to work:

[code]

[2017-10-30 17:34] SAPessi commented on #71
Thanks for testing @lskrajny - I'll try and do some more work to replicate it. I would expect it to happen with the unit tests that start applications but so far I haven't had any luck.

[2017-10-31 18:04] HRHDaniel opened #73 "Spring Boot unable to load ServletContext"
Taking the PetStore example and updating it with the suggestions from the readme to launch spring-boot, the springBootApplication.run() line continues to fail with "A ServletContext is required to configure default servlet handling".  I've tried multiple various configurations and continue to get this exception.  Could we get a working example of spring-boot included in the checked in examples?

[2017-11-02 21:12] SAPessi commented on #73
Thanks Daniel, I will add a spring boot-specific sample soon!

[2017-11-05 03:33] cenxui opened #74 "enable cors in container"
It is possible to modify sam.yaml to enable cors without adding swagger.yaml or manually enable cors in APIGateway? If not how to dynamically add the lambda function name to swagger. The lambda function  will be FUNCTION_NAME-XXXXXXX "XXXXXX" is random hash.

[2017-11-06 22:15] SAPessi commented on #74
At the moment this is not possible - the SAM team has taken on a feature request for this and they will work on it: https://github.com/awslabs/serverless-application-model/issues/23

[2017-11-10 12:36] jancona commented on #68
I just ran into this issue when programmatically adding a filter. I fixed it by initializing filterConfig with a FilterHolder.Config object. I'm not sure if that's the correct solution, but I'll create a PR.

[2017-11-15 21:59] lewisje1991 opened #76 "Application Properties Not Loading for Spring Boot"
I am having issues loading the application.properties files for my spring boot application I get the following error message. I am trying to include JPA so I connect my lambda function up to an RDS instance.

[code]

application.local.properties
[code]

Application.Config.java
[code]

[2017-11-21 15:52] SAPessi commented on #71
Hey @lskrajny - I'm still struggling to replicate in local. However, Travis CI did fail the build with a similar issues, really seems to be a race condition. I have made a couple of small changes and since then the Travis build has worked correctly. Do you mind testing again version `0.8-SNAPSHOT` from the `servlet-improvements` branch?

[2017-11-21 18:52] lskrajny commented on #71
Hi @SAPessi  - tested recent build, and observed NPE now is indeed less frequent, but it still exists. So possibility of the race was reduced but not eliminated.

In the meantime found  solution to the initial problem, after adding `Spark.awaitInitialization()` in the initialization code of the Lambda handler (not the container library) NPE on initialization went away.

So initialization code look

[2017-11-21 18:55] SAPessi commented on #71
Thanks @lskrajny - I was basing my implementation on the default Jetty embedded server and it doesn't look like they call that method. Regardless, sounds like the right thing to do. I will incorporate the call in the framework and commit the changes now. Thanks for putting so much time into this. I'll push out 0.8 ASAP

[2017-11-21 18:57] lskrajny commented on #71
Cool, once done will test

[2017-11-21 18:58] SAPessi commented on #71
Change is committed to the servlet-improvements branch. All unit tests still pass.

[2017-11-21 19:00] SAPessi commented on #66
Unit tests are all passing. Closing this assuming the fix works.

[2017-11-21 19:00] #66 closed

[2017-11-21 19:01] SAPessi commented on #70
Closing issue preparing for 0.8 release.

[2017-11-21 19:01] #70 closed

[2017-11-21 19:02] SAPessi commented on #74
Closing this as should be handled by the SAM team.

[2017-11-21 19:02] #74 closed

[2017-11-21 19:41] lskrajny commented on #71
Strange, it is still throwing NPE :/

Could it be it is executing `Spark.awaitInitialization()` before routes are defined?

[2017-11-21 19:46] SAPessi commented on #55
I've implemented these changes. You can now cast the Principal field to `CognitoUserPoolPrincipal` and call the `getClaims()` method to extract all of the claims in the token. I have also added support for custom claims in the object. You can get custom claims using the `getClaim(String key)` method of the `CognitoAuthorizerClaims` object.

Resolving the issue.

[2017-11-21 19:46] #55 closed

[2017-11-21 19:47] SAPessi commented on #71
Looks like you are right. may have to call the awaitInitialization() after the routes are included. I'll add it to the documentation and sample instead :(

[2017-11-21 20:00] SAPessi commented on #71
ok. Pushed the updates to the `servlet-improvements` branch. I simply updated the `README` to include the call to `awaitInitialization()` and also added it to the sample app. Testing the changes now and then I'll commit and merge.

[2017-11-21 20:04] SAPessi commented on #71
@lskrajny I'm closing this issue for now. If you run into the error again even with the awaitInitialization re-open it and I'll dig deeper.

[2017-11-21 20:04] #71 closed

[2017-11-23 07:57] Bart1909 opened #78 "Spring "Model" not being loaded"
I'm trying to move my Spring MVC application to lambda.
I've got a method:
`
@RequestMapping(value = "/saveFavorites", method = RequestMethod.POST)
public String action(Model model, HttpServletResponse response, @ModelAttribute("favoritenForm") FavoritenForm favoritenForm,@CookieValue(value = "myApplicationCookie", defaultValue = "") String token)
throws JsonParseException, JsonMappingException, C

[2017-11-24 16:49] SAPessi commented on #78
Hi @Bart1909, can you confirm that the Lambda function is executed (check CloudWatch logs)? Are there no exceptions in the logs?

Couple things I would look at first:
1. Exceptions in CW Logs
2. Make sure that the integration configuration between API Gateway and Lambda is set to proxy

If you find an exception please share it here.

[2017-11-24 16:51] SAPessi commented on #76
Hey @lewisje1991, which container handler class are you using? For spring boot, I would try the [SpringBootLambdaContainerHandler](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-spring/src/main/java/com/amazonaws/serverless/proxy/spring/SpringBootLambdaContainerHandler.java)

I'm assuming you've checked the uber jar and that the properties file i

[2017-11-28 13:41] lewisje1991 commented on #76
Hey @SAPessi here is my handler

[code]

[2017-12-03 23:30] lewisje1991 commented on #76
That fixes the issue I was having.

[2017-12-03 23:30] #76 closed

[2017-12-03 23:40] lewisje1991 opened #79 "Api Gateway Timeout with Spring boot and RDS"
I am new to Java and spring my simple API has one model, one repository class and one controller, it connects to an RDS instance, it is timing out on API gateway, it works when I test it via the lambda interface or via the test functionality in API gateway. Are there any optimisations I can make to my pom.xml file to speed up the loading of my spring boot application in lambda. Any help would be a

[2017-12-04 02:41] SAPessi commented on #79
The first thing I would try is to enable X-Ray on the Lambda function. I suspect connecting to the VPC (to access RDS) takes longer than the spring start. X-Ray will give you the break-down of where the time is spent. Your pom file looks pretty clean and you are excluding the right things.

[2017-12-04 03:39] davidmco65 commented on #79
API gateway has a hardcoded 30 second timeout even if the Lambda completed
successfully. Testing from Lambda console skips API gateway and therefore,
the timeout.

David

On Dec 3, 2017 19:41, "Stefano Buliani" <notifications@github.com> wrote:

The first thing I would try is to enable X-Ray on the Lambda function. I
suspect connecting to the VPC (to access RDS) takes longer than the spring
start.

[2017-12-05 20:58] lewisje1991 commented on #79
Thanks @SAPessi & @davidmco65 I have enabled xray, I only see a limited amount of stats but it helped me find an exception that was thrown. I am now running into a problem with RDS connections not being cleared after a request it seems to ramp up to 60 connections unusually quickly. Is there a way to kill off connections once the lambda has been executed? or a setting in spring boot to limit this?

[2017-12-05 21:07] SAPessi commented on #79
Looks like an issue with the way Spring Boot is managing the connection pool. Lambda allows only one event to be processed by each instance at a time and will re-use instances of the function as much as possible. Your handler class is initialized as a singleton and the handler is called for each invocation, but class-scoped variables are retained.

Normally, I declare a connection pool with a sing

[2017-12-05 21:22] lewisje1991 commented on #79
@SAPessi Can you link me to an example on how to setup the connection pools?

My lambda is also still very slow like 7 seconds to return a string, xray doesn't provide any information on why this is, could this be I haven't set up xray correctly?

[2017-12-11 23:46] nisbshah commented on #51
@SAPessi I have found one more issue with addCookie() in the AwsHttpServletResponse class..
While trying to set multiple cookies, addCookie() just keeps on appending all cookies to the same "Set-Cookie" header. Due to which, Browser only sets the 1st cookie in the list and ignores all others. While setting multiple cookies, each cookie should be set by a separate response header.
For Eg:
Set-Cooki

[2017-12-12 00:01] SAPessi commented on #51
Hey @nisbshah unfortunately this is behavior I had to hard-code in the library. API Gateway expects headers to be a plain map (only one Set-Cookie key in the response). Even if we were to expose the cookies as a multi-valued map in the library, API Gateway would only pick the first one.

[2017-12-12 00:12] nisbshah commented on #51
Thank you for your response.. Will wait for the AWS to fix the root issue.

[2017-12-13 00:41] feinstein opened #80 "SLF4J Error message Log on first execution."
The first time my lambda code runs, it leave a `SLF4J` error message on CloudWatch logs:

![image](https://user-images.githubusercontent.com/8120472/33915841-ac5c9a5c-df8c-11e7-941f-414c6830b3b9.png)

You can see on the above image that I run my lambda code several times and the `SLF4J` error only appears on the first execution.

In order to be sure this was not a problem from my code, I downloade

[2017-12-13 16:16] SAPessi commented on #80
Hey @feinstein, are you including Lambda's [log4j appender](http://docs.aws.amazon.com/lambda/latest/dg/java-logging.html) in your dependencies?

[2017-12-13 16:25] feinstein commented on #80
Hi @SAPessi, I am, but in any case the second screen shot is the sample code from the library, pure, I didn't modify it, just compiled and uploaded it.

[2017-12-13 16:29] SAPessi commented on #80
ok. Let me look into it. The library uses SLF4J as an interface and trusts that an appender is included (the Lambda log4j appender should work). I'll run some tests to figure out what is going on. We'll use this issue to track it.

[2017-12-13 16:34] feinstein commented on #80
Great, if you need my project's code, please let me know.

Also, IMHO I believe libraries should default to the no-op SLF4J Appender when none is present, with no error messages, since most applications want libraries to be transparent and not pollute the logs with cryptic error messages.

[2017-12-13 16:44] feinstein commented on #80
I am not very much experienced on SLF4J, I did a quick search and this website has the error message and the explanation.

https://www.slf4j.org/manual.html

So maybe there's a configuration documentation missing, saying that I need to provide a SLF4J binding.

The error message from the sample I believe is due to the lack of Log4j2 Appender configuration, so it will default to the console.

[2017-12-15 12:39] rhidajat opened #81 "Spring Boot Setup Not working"
I am trying to use Spring boot for the sample PetStore project, and having trouble getting it to run without error using [aws-sam-local](https://github.com/awslabs/aws-sam-local). The error I am getting is:

[code]

pom.xml is as follow:
[code]

LambdaHandler.java is modified to be (based on the Readme):
[code]

Everything else remains unchanged, anyone has any ideas how to set up Spring Boot corr

[2017-12-15 17:12] SAPessi commented on #81
Hey @rhidajat, try and use the [SpringBootLambdaContainerHandler](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-spring/src/main/java/com/amazonaws/serverless/proxy/spring/SpringBootLambdaContainerHandler.java) instead. This was originally mentioned in #76. I will make sure to update the documentation to be specific about Spring Boot.

[2017-12-18 13:04] cenxui opened #82 "Only mail attribute in claim : Spark container"
Try to get the claim attributes like this.

[code]

Only mail is not null. Well, the id_token tested in APIGateway returning the right claim data, but it's not available in spark container.

[2017-12-18 17:22] SAPessi commented on #82
Hey @cenxui, I have seen this before when you used the normal POJO handler method. The issue is that the Jackson library Lambda uses behind the scenes does not support annotations - in the context object I'm [using annotations to customize the field names](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/

[2017-12-18 17:22] SAPessi commented on #81
Let me know if the SpringBoot container handler solved the issue.

[2017-12-18 21:59] SAPessi commented on #79
@lewisje1991 Can you share the code you are using to connect to the database and run the query here?

[2017-12-19 03:27] cenxui commented on #82
Hello, is it possible that the future version will support annotations?

[2017-12-19 22:39] SAPessi commented on #82
Unfortunately it is not something the library can control. The lack of annotations support is part of the Lambda runtime, something we cannot control. I'll ping the Lambda team with this feature request.

[2017-12-19 22:41] SAPessi commented on #73
Hey @HRHDaniel, have you tried the [SpringBootLambdaContainerHandler](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-spring/src/main/java/com/amazonaws/serverless/proxy/spring/SpringBootLambdaContainerHandler.java)?

[2017-12-19 22:42] SAPessi commented on #72
Hi @jordiperendreu, we have added a [SpringBootLambdaContainerHandler](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-spring/src/main/java/com/amazonaws/serverless/proxy/spring/SpringBootLambdaContainerHandler.java) in the latest release, can you try with this object?

[2017-12-20 02:02] rhidajat commented on #81
@SAPessi, thank you for the pointers! SpringBootLambdaContainerHandler did solve that issue, but now I am getting a new issue that the applications always return a `{"message":"Gateway timeout"}` using both sam-local and AWS Lambda.
According to #79, the only way to debug this is by using Lambda X-Ray, correct?
Below are the classes I've changed.

Lambda Handler.java
[code]

PetStoreWebAppInitiali

[2017-12-20 03:25] cenxui commented on #82
Thank you for your kindly repply. It seams that only a work arround can solve this issue. But the problem still exists even though we close this issue. Maybe there should be a proper way to help a new user avoid this problem.

[2017-12-20 19:10] SAPessi commented on #81
I would definitely test with X-Ray. Very often the gateway timeout message is because the Lambda function ran out of time before it could process the request. Try and increase the [timeout value](https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#awsserverlessfunction) in your SAM template

[2017-12-20 19:11] SAPessi commented on #82
I'll switch the samples to use the Stream handler and the instructions in the README file. I'll keep this open for tracking the changes.

[2017-12-20 21:55] agibalov opened #84 "SpringBootLambdaContainerHandler doesn't set the contextPath"
Spring provides [a nice mechanism to build URLs](https://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/web/servlet/mvc/method/annotation/MvcUriComponentsBuilder.html) by referencing controller classes and their handler methods:

[code]

Internally, this mechanism relies on the current `ServletRequest` and namely its `getContextPath()` method.

I see that while my `AwsProxyRequ

[2017-12-20 22:05] SAPessi commented on #84
Thanks for the feedback @loki2302 - I believe older versions of the library set the content path from the stage. We removed this because it was causing issues in other places. I'll test again to figure out what was happening, if possible I'll add the stage back in the context path.

[2017-12-21 12:56] axdsilva commented on #72
I have also being trying to use it.

@jordiperendreu when I removed springBootApplication.setWebEnvironment(false : I got the following exception:

**Unable to start embedded container; nested exception is org.springframework.context.ApplicationContextException: Unable to start EmbeddedWebApplicationContext due to missing EmbeddedServletContainerFactory bean.: org.springframework.context.Applicati

[2017-12-21 12:58] axdsilva commented on #72
Here is my Lambda handler code:

package com.nike.pdh.test.lambda;

import com.amazonaws.serverless.exceptions.ContainerInitializationException;
import com.amazonaws.serverless.proxy.internal.model.AwsProxyRequest;
import com.amazonaws.serverless.proxy.internal.model.AwsProxyResponse;
import com.amazonaws.serverless.proxy.spring.SpringLambdaContainerHandler;
import com.amazonaws.services.lambda.ru

[2017-12-21 13:08] axdsilva commented on #72
`package com.nike.pdh.test.lambda;

import com.amazonaws.serverless.exceptions.ContainerInitializationException;
import com.amazonaws.serverless.proxy.internal.model.AwsProxyRequest;
import com.amazonaws.serverless.proxy.internal.model.AwsProxyResponse;
import com.amazonaws.serverless.proxy.spring.SpringLambdaContainerHandler;
import com.amazonaws.services.lambda.runtime.Context;
import com.amazon

[2017-12-21 13:10] axdsilva commented on #72
[code]

[2017-12-21 13:40] axdsilva commented on #73
@SAPessi  Can you please add a springboot working sample please? This is great functionality if it works as intended.

[2017-12-22 02:56] axdsilva commented on #72
Here is the latest code I have --still not working with 0.8
[code]

[2017-12-22 02:57] axdsilva commented on #72
Here is my sprint boot application:
[code]

[2017-12-22 02:57] axdsilva commented on #72
Here is the controller

[code]

[2017-12-22 10:04] JonasJurczok opened #85 "[Question] shade plugin vs combined jar"
Hi,
I just started experimenting with Lambda and was wondering why everyone is using the shade plugin for assembling the final jar. I'm asking because the [best practices](http://docs.aws.amazon.com/lambda/latest/dg/best-practices.html) state that you should create a zip file with a lib folder in it (bullet point 6).

Is there a specific reasoning for not doing this? Or am I just missing a point?

[2017-12-22 15:51] JonasJurczok commented on #76
@lewisje1991 how did you change the `ApplicationConfig` to get this to work? Would you mind posting it?

Thanks :)

[2017-12-22 18:15] SAPessi commented on #81
Here's how I setup my app. I'll add this as an official sample in the next release.
`Application.java`
[code]

`LambdaHandler.java`
[code]

To prevent excessive logging from SpringBoot from slowing down things, I've also created a `logback.xml` file in the `resources` folder:

[code]

[2017-12-22 18:17] SAPessi commented on #85
Hey @JonasJurczok, a jar file is not that different from a zip. The reason why I used the maven shade plugin is that it makes it easier to automate packaging and deployments. Instead of creating a custom script to package the zip file, I can just run mvn package from my build process.

[2017-12-22 18:22] JonasJurczok commented on #85
The difference is in the way dependencies are packed (extracted, pure
classes vs complete jars in a lib folder). And according to the docs the
latter one is better. That's why I asked :)

And yes I see the packaging aspect, but you can also achieve this with
other plugins (even the default ones)

Am 22.12.2017 19:17 schrieb "Stefano Buliani" <notifications@github.com>:

[2017-12-22 19:11] SAPessi commented on #85
I think the difference may be more around jar size than anything else - makes cold starts faster because the code file to download is smaller. In the samples, I use the shade plugin for the sake of simplicity. Have you tried with other plugins? Something I should consider for the samples?

[2017-12-22 19:13] SAPessi commented on #76
I've also posted a sample of the spring boot app I'm using in #81.

[2017-12-23 11:52] JonasJurczok commented on #85
I was hoping you could tell me :D I just started with this and was confused about the difference between best practices and what everyone is doing. It feels like everyone is just copying the one example code snippet that is done with the shade plugin (for the sake of simplicity) but then no one is changing this anymore for the remainder of the project :D

[2017-12-27 13:00] lewisje1991 commented on #76
@SAPessi thanks ill try your example out tonight.

[2017-12-28 21:30] lewisje1991 commented on #79
I have tried limiting the connection pool in the application properties and also closing the db connection after the handler has executed but my database connections still seem to grow by 10 on each request.

**Lambda Handler**

[code]

**Application Config**

[code]
**Controller**

[code]

**Repository**

[code]

**Model**

[code]

**Application Properties**

[code]

[2017-12-30 13:35] davidbellem commented on #81
I am currently facing the same problem as rhidajat: I am seeing a timeout. I invoke the function directly in the AWS console (using the "Test" button in Lambda) and see that it is timing out. I can see that the spring context does not load up fast enough for processing:
![screen shot 2017-12-30 at 14 33 22](https://user-images.githubusercontent.com/3380267/34454571-8cb05ef6-ed6e-11e7-93a7-3fd5aa78

[2017-12-30 16:55] davidbellem commented on #81
I was able to resolve it by setting the memory to 1024 in the sam.yml. Since the maximum memory used is around 114MB it seems to be related to CPU power as mentioned here: https://github.com/awslabs/aws-serverless-java-container/issues/33

[2017-12-30 18:48] avinashbitra opened #86 "Duplicate values in the AwsProxyHttpServletRequest.getParameterMap()"
<img width="515" alt="screen shot 2017-12-30 at 12 42 12 pm" src="https://user-images.githubusercontent.com/5384557/34456554-edb998b2-ed5e-11e7-92c7-aff9924a3c73.png">

File: AwsProxyHttpServletRequest

 @Override
 public Map<String, String[]> getParameterMap() {
        Map<String, String[]> output = new HashMap<>();
        Map<String, List<String>> params = urlEncodedFormParameters
.....

[2018-01-02 15:32] davidbellem opened #87 "@Async support for Spring Boot on AWS Lambda"
I wanted to add asynchronous processing to my spring boot app on AWS Lambda.

The obvious way to do it (spring standard @async as described here https://spring.io/guides/gs/async-method/) did not work. It looks like the Lambda function is stopped as soon as a response is returned and does not even go into the @Async method. Without the Async annotation it works as expected.

Is there a way to make

[2018-01-02 21:59] SAPessi commented on #79
Sorry guys I'm OOTO and I've only just seen this. I'm no Spring expert so can't really tell what's going on behind the scenes. I've taken a very quick look at your code and seems like you are re-initializing the handler every time the handleRequest method is called. You should try to initialize `this.handler` only if is null, otherwise you can re-use the existing one.

[code]

[2018-01-02 22:00] SAPessi commented on #86
Hey @avinashbitra, can you share what the original request you sent looks like?

[2018-01-02 22:04] SAPessi commented on #87
Hey @davidbellem, there isn't a way to make this work. Lambda will freeze your container as soon as the handler method returns. At the moment, with Lambda and API Gateway you can only support synchronous request/response patterns.

What are you trying to achieve? If this is a process that just needs to run in the background to complete a task and no information is returned in the response, conside

[2018-01-02 22:22] davidbellem commented on #87
I have a very strict timelimit on how fast the lambda function needs to return a result (3 seconds) but I need to make some http calls that all together take up to 10 seconds. I have a way to return the result by calling an external url. (Btw: This is for a slackbot in case you were wondering). Just that I make sure I understand you correctly: You are suggesting to create a second lambda function

[2018-01-02 22:22] davidbellem commented on #87
I forgot to mention: Thanks for the fast response!

[2018-01-02 22:53] SAPessi commented on #87
Understood.

Lambda simply waits for the handler to return, I often use an ExecutorService to complete multiple tasks at the same time and have the main thread (the handler one) wait for it.

In your case, since your code needs to run for longer than the handler itself, you are better off moving it to a separate function.

[2018-01-03 01:25] adsil2 commented on #72
I got my stuff to work. I chnaged from building lambda from a shadow jar to a zip and it worked just fine. Please ignore the above.... Nice work on this.

[2018-01-03 03:32] avinashbitra commented on #86
its just a regular http request GET request with query parameters
http://hostname/api?foo=bar&academicYear=2018

[2018-01-03 18:03] avinashbitra commented on #86
@SAPessi issue here is inside the spring framework while using spring rest repositories and making a http get request with query parameters, framework is trying to map the request parameters to method parameters.

While framework is trying to map the parameters, it makes multiple request.getParameterMap() invocations and because of the above code we are seeing duplicate values for a parameter.

[2018-01-05 02:25] adsil2 opened #88 "Activate Spring profile support for SpringBootLambdaContainerHandler"
I have integrated my Spring boot application into the lambda runtime using this library.  How do I support multiple profiles of runtime execution. I know this is possible in the SpringLambdaContainerHandler:

   SpringLambdaContainerHandler.getAwsProxyHandler().activateSpringProfiles("dev");

Here is example of my code:
[code]

[2018-01-06 06:10] SAPessi commented on #88
I'll look into this. Let me flag it as an enhancement request.

[2018-01-06 07:45] avinashbitra commented on #86
@SAPessi Is there any update on this.

[2018-01-06 13:21] adsil2 commented on #88
Thank you very much!

[2018-01-06 20:38] metaphyze opened #89 "No Enchanced Context in AwsProxyRequest (using Spark)"
I'm passing some enhanced context from my custom authorizer lambda.  I can see the context when the request is received by a Python lambda.  However, it's missing from the AwsProxyRequest in my Java lambda running Spark: awsProxyRequest.getRequestContext().getAuthorizer().getContextValue("customkey") is null.  Also, awsProxyRequest.getRequestContext().getAuthorizer().getClaims() is null.

[2018-01-07 00:10] SAPessi commented on #89
Are you using a POJO handler or a stream-based one with Lambda? The serializer built into the Lambda runtime does not support annotations. The model classes use [annotations to read arbitrary fields from the context](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/internal/model/ApiGatewayAuthorize

[2018-01-07 00:12] SAPessi commented on #86
Hey @avinashbitra, I'll try to get this fixed for the next release of the framework. I'm at home on Paternity leave for the next 2 weeks.

[2018-01-07 00:14] metaphyze commented on #89
I'm using the lambda (the exact lambda) from the Spark sample project.  Here's the signature:

    @Override
    public AwsProxyResponse handleRequest(AwsProxyRequest awsProxyRequest, Context context) {

This sounds like a framework bug to me.

[2018-01-07 00:17] SAPessi commented on #89
I think that's the issue then. I will add a stream sample in the next release of the framework. Unfortunately we cannot rely on Lambda's serialization to read those values, and because the keys for the context values are arbitrary I cannot define a model for them - I need to rely on the `@JsonAny...` annotations.

The only way to make this work is to change the handler class to implement the `Requ

[2018-01-07 00:25] metaphyze commented on #89
Thanks.  I'll take a look at the Spring example.  Someone should make a note of this though in the "Enhanced Context" documentation:

https://aws.amazon.com/about-aws/whats-new/2016/12/enhanced-context-for-custom-authorizers-in-amazon-api-gateway/

and the custom authenticator documentation:

https://docs.aws.amazon.com/apigateway/latest/developerguide/use-custom-authorizer.html

I did a lot of de

[2018-01-07 00:32] metaphyze commented on #89
Also, while you're talking to the Lambda team, can you ask them to document how you get the Authorizer out of the Spark Request object in the request handlers.  This is how:

((ApiGatewayRequestContext)req.attribute("com.amazonaws.apigateway.request.context")).getAuthorizer().getPrincipalId();

Definitely need to write that down somewhere.

[2018-01-07 01:50] metaphyze commented on #89
Here's one possible solution.  Since the framework jar isn't sealed, in my own project, I can replace ApiGatewayAuthorizerContext with an identical version in the same package but with my custom attributes added to the class.  For example, if I wanted to add the JWT info to the enhanced context in the authorizer lambda (because I've already extracted it there and don't want to do it again in the S

[2018-01-07 01:56] SAPessi commented on #89
The context properties are saved as [request attributes](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/internal/servlet/AwsProxyHttpServletRequestReader.java#L38). That is a possible solutions, but the cleanest (and recommended) way is to switch to the Stream handler. What's preventing you from u

[2018-01-07 02:19] metaphyze commented on #89
It looks like the enhanced context properties are coming in as custom json properties on the authorizer object.  I wrote this to see exactly what the stream contained:

package com.amazonaws.serverless.sample.spark;

import java.io.IOException;
import java.io.InputStream;
import java.io.OutputStream;

import com.amazonaws.serverless.proxy.internal.model.AwsProxyResponse;
import com.amazonaws.servi

[2018-01-07 03:15] SAPessi commented on #89
So long as you use the Stream Handler like the example, you should be able to access all those parameters.

First, in your Spark method, use the `getAttribute` method of the `HttpServletRequest` object to extract [the `API_GATEWAY_CONTEXT_PROPERTY`](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/i

[2018-01-07 03:57] metaphyze commented on #89
Thanks.  I just tried that.  It actually does compile, but it looks like those values aren't there.  I get null for the all the custom values.  This is similar to the first thing I tried, like this:

((ApiGatewayRequestContext)req.attribute("com.amazonaws.apigateway.request.context")).getAuthorizer().getContextValue("picture")

That also returns null.

[2018-01-07 04:04] metaphyze commented on #89
Oh, but yeah, I'm still using the POJO example, not the stream handler.  I guess I need to work out the stream handler equivalent of this:

    @Override
    public AwsProxyResponse handleRequest(AwsProxyRequest awsProxyRequest, Context context) {
        if (!isInitialized) {
            isInitialized = true;
            try {
                handler = SparkLambdaContainerHandler.getAwsProxyHandl

[2018-01-07 04:05] SAPessi commented on #89
You can literally take the spring sample of the stream handler and just
replace the container handler with the spark one.

S

On Sat, Jan 6, 2018 at 8:04 PM Robert Brown <notifications@github.com>
wrote:

--
--
Stefano Buliani
@sapessi
Mobile :: +1 (206) 437-0144
http://www.flickr.com/photos/sapessi/

[2018-01-07 04:31] metaphyze commented on #89
That did it.  I removed my replacement version of ApiGatewayAuthorizerContext.  Then I  changed the code to be:

public class LambdaHandler implements RequestStreamHandler {  // rather than RequestHandler<AwsProxyRequest, AwsProxyResponse>

and the lambda function to be:

    @Override
    public void handleRequest(InputStream inputStream, OutputStream outputStream, Context context)
            th

[2018-01-07 17:27] SAPessi commented on #89
I'm going to keep this open to track the updated samples. Actions items:

* Improve documentation on enhanced custom authorizers context
* Add stream handler to all samples
* Explore the possibility of creating a stream handler abstract class that you can extend to make it easier to create stream handlers with these library instead of relying on Lambda's raw interface.

[2018-01-07 23:18] avinashbitra commented on #86
Thanks @SAPessi

[2018-01-08 21:15] SAPessi commented on #88
Quick question. Have you tried setting the active profile directly in your application?

[code]

[2018-01-08 23:07] SAPessi commented on #87
Closing this issue for now. If anything else comes up, feel free to re-open.

[2018-01-08 23:07] #87 closed

[2018-01-08 23:07] SAPessi commented on #85
Closing this one.

[2018-01-08 23:07] #85 closed

[2018-01-08 23:08] SAPessi commented on #81
Glad it works now. Closing this issue.

[2018-01-08 23:08] #81 closed

[2018-01-08 23:09] SAPessi commented on #72
Closing this issue.

[2018-01-08 23:09] #72 closed

[2018-01-08 23:26] adsil2 commented on #88
No . Let me try and get back to you shortly.

[2018-01-09 21:33] ienroll opened #90 "Context injection in ExceptionMapper"
Hi,
 HttpServletRequest injection into the ExceptionMapper is not working for an application using AWS JerseyLambdaContainerHandler.

Is there a way that I can get hold of request in the ExceptionMapper ?

import java.util.Arrays;
import java.util.NoSuchElementException;
import javax.servlet.http.HttpServletRequest;
import javax.ws.rs.core.Context;
import javax.ws.rs.core.MediaType;
import javax.w

[2018-01-09 22:14] SAPessi commented on #90
Hey @ienroll, when you initialize the application, are you including our custom abstract binder for the servlet request?

[code]

[2018-01-10 16:42] cslee00 opened #91 "Startup time optimization - redundant ObjectMappers"
Profiling to reduce lambda cold-start time (Spring context, not Boot).

There are 2 or 3 ObjectMappers created, which take a moderate amount of time to initialize:

1) inside AwsProxyRequestBuilder (new ObjectMapper())
2) inside AwsProxyExceptionHandler (new ObjectMapper())
3) user-created when using RequestStreamHandler (new ObjectMapper())

#1 & #2 could be hoisted out to a single instantiation.

[2018-01-10 16:59] SAPessi commented on #91
Nice, thanks for the suggestions @cslee00 - I'll make sure to do this for the next release.

[2018-01-10 17:00] ienroll commented on #90
Hi,
I tried AbstractBinder with and without using bindAsContract(ExceptionMapperFactory.class) as shown below. And, I  get the following exception:
A MultiException has 4 exceptions. They are:
1. java.lang.IllegalStateException: Not inside a request scope.
2. java.lang.IllegalArgumentException: While attempting to resolve the dependencies of com.tr.ecp.aws.registry.http.mapper.NoSuchElementMapper

[2018-01-10 17:04] SAPessi commented on #90
@ienroll, You should haven't to bindAsContract. Can you share the full stack trace? I'll take a look at this later today.

[2018-01-10 17:15] ienroll commented on #90
Here is a full stacktrace without bindAsContract:

MultiException stack 1 of 3
java.lang.IllegalStateException: Not inside a request scope.
at jersey.repackaged.com.google.common.base.Preconditions.checkState(Preconditions.java:173)
at org.glassfish.jersey.process.internal.RequestScope.current(RequestScope.java:233)
at org.glassfish.jersey.process.internal.RequestScope.findOrCreate(RequestScope.ja

[2018-01-10 18:58] cslee00 opened #92 "Startup time optimization - eliminate expensive bean creations"
Continued analysis of startup time (Spring container, not Boot) shows several unnecessary (default) beans created.  These can be avoided by providing a minimal set (instead of relying on defaults).

Unclear if these could/should be rolled into the container (that would be nice as an optional flag) or a documentation issue.

[code]

[2018-01-10 19:02] cslee00 commented on #92
In addition to reducing startup time, the above config improves security by removing unnecessary components such as BeanNameUrlHandlerMapping.

[2018-01-10 20:52] ienroll commented on #90
Following is what I have:

ResourceConfig app = new ResourceConfig()
    .packages("com.amazonaws.serverless.proxy.test.jersey")
    .register(new AbstractBinder() {
        @Override
        protected void configure() {
            bindFactory(AwsProxyServletRequestFactory.class)
                .to(HttpServletRequest.class)
                .in(RequestScoped.class);
            bindFactory(AwsPro

[2018-01-10 21:21] SAPessi commented on #92
This are great tips. I'll make sure to include them in the documentation. I'll close this issue for now and refer to the original issue #33.

[2018-01-10 21:21] #92 closed

[2018-01-10 21:59] SAPessi commented on #90
Hey @ienroll,

I've done a lot of Googling, this seems to be a pretty common issue but I couldn't find a detailed explanation of why it's happening. I was able to replicate the issue and fix it by using `@Inject` to allow Jersey to lazily load the dependency instead of the forced `@Context`.

Turns out this was a known bug in older versions of Jersey, should have been fixed from 2.4 but looks like

[2018-01-10 22:56] SAPessi commented on #91
The first object mapper, in `AwsProxyRequestBuilder`, is only used for unit tests. It should no be initialized at runtime. Do you still see it being created?

[2018-01-10 23:01] cslee00 commented on #91
No, apologies, was reading from a search from new ObjectMapper() vs the profiler - nothing there for AwsProxyRequestBuilder, just the one (#2 above) inside the framework.  Would be great to get down to one mapper for the container, and one for Spring MVC, as ObjectMapper creation is the third hotspot in the profiler (3 instances - #2 & #3 above, and one for Spring MVC which needs to be separate).

[2018-01-10 23:13] SAPessi commented on #91
I'm moving the object mapper to be a singleton inside the `LambdaContainerHandler` class. All classes in the framework will re-use the singleton and stream handler implementations can do the same. I'll think through what I can do to make it easier to build stream handlers as a separate issue.

[2018-01-10 23:20] cslee00 commented on #91
Thx!

In my stream handler implementation (below) there is nothing specific to my code base, nor are there foreseeable points where there would be value to hooking into.  The entire class could be provided by the container, with documentation on what to specify as the Lambda entry point (with some consideration to extension points for subclasses if need be).

It seems  this could also replace the

[2018-01-10 23:27] cslee00 opened #93 "Preserve unknown properties from HTTP messages"
Various domain classes use `@JsonIgnoreProperties(ignoreUnknown=true)`, allowing the container to continue to function when AWS adds additional properties to messages (they document that this is a possibility).

Unfortunately those properties are, well... ignored.  No way to see what the original message was.

Perhaps grab any unknown properties into a map (example below).  Small risk here that fo

[2018-01-10 23:29] cslee00 opened #94 "Provide a mechanism to log *raw* requests & responses"
In support of debugging would be great to have a way to see the raw request/response JSON at container ingress/egress points.

Only when debugging turned on to avoid unnecessary overhead.

[2018-01-10 23:55] SAPessi commented on #93
That's exactly why we added the ignore properties statement. We need applications to keep working even when the event document changes. We try to keep up as much as possible with the services and I'd rather add native support for new features quickly when notified (via an issue or what's new post) than introduce something that may become confusing later on.

[2018-01-10 23:58] SAPessi commented on #91
We could provide a stream handler class for each framework. So far, we've tried to stay away from it because developers may want to perform additional business logic in the handler such as configuration for X-Ray. My plan was to publish some archetypes with version 1 of the framework and include the default stream handler in there.

[2018-01-11 00:40] SAPessi commented on #84
Hey @agibalov, I went back to explore this. The reason why I stayed away from including the stage name in the path is that stages don't necessarily map to servlets. Further, if you configure a custom domain name in API Gateway and point it directly to a stage the base path goes away. One change I'm contemplating is:

1. Include the stage name as the context path
2. Include the actual request path

[2018-01-11 16:14] SAPessi commented on #90
Glad to hear, I'm going to close this issue.

[2018-01-11 16:14] #90 closed

[2018-01-11 17:53] SAPessi commented on #84
I've looked a bit deeper into this. There is no easy way for me to claim that the context path is the stage (see custom domain name issue above). Instead, I'm relying on the `ContainerConfig` object to tell me whether the stage should be included or not in the context path, same story for the base path you can strip. The `getContextPath()` method changes to:

[code]

To get the desired effect, you

[2018-01-11 18:30] SAPessi commented on #94
I would rather not do this. Requests and responses may contain confidential data that should never go in a log. I want to avoid blindly logging it when you set the level to debug to look at a different issue. You can log the data yourself directly from the handler.

[2018-01-11 18:30] #94 closed

[2018-01-11 18:30] #93 closed

[2018-01-11 18:31] SAPessi commented on #91
Closing this since it was addressed in the latest commit. It will go out with version 0.9. I will also update the samples to add a stream handler that re-uses the same ObjectMapper

[2018-01-11 18:31] #91 closed

[2018-01-11 19:14] SAPessi commented on #88
Hey @adsil2, any update on this?

[2018-01-11 20:47] SAPessi commented on #89
Closing this since I pushed all pending updates in the last commit.

[2018-01-11 20:47] #89 closed

[2018-01-11 21:04] adsil2 commented on #88
Hi @SAPessi -- Is it possible to autowire this in my LambdaHandler class? (see above) I can get stage from APIGateway stage variable and then call  the above?

[2018-01-11 21:19] SAPessi commented on #88
Not sure Spring will autowire something from the handler class. I have not tried. You can get the stage value any time by extracting the api gateway context from the request - take a look at the sample here: https://github.com/awslabs/aws-serverless-java-container/wiki#security-and-api-gateway-context

[2018-01-11 21:38] SAPessi commented on #86
The latest commit addresses this issue. I'm closing this for the time being.

[2018-01-11 21:38] #86 closed

[2018-01-11 22:11] SAPessi opened #95 "Update Spring and Jersey framework to latest release"
Update Spring support to `5.0.2.RELEASE`
Update Jersey to support `2.26`

[2018-01-12 01:20] adsil2 commented on #88
Once I get the stage in the LambdaHandler how do I get it into the ConfigurableEnvironment instance, since it cannot be autowired -i.e. it is running outside Spring. Do you see what I mean?

[2018-01-12 08:50] 1123 opened #96 "Exception running CognitoAuthorizerClaimsTest.claims_dateParse_issueTime"
This seems to be a very promising project. Thanks for your work. Yet I cannot build it. Here is the first test that fails for me:

[code]

Seems like my DateTimeFormatter does does not match `EEE` with `Mon` in the test case. If I remove this part of the Date and the pattern, then parsing works.

Any ideas?

[2018-01-12 09:11] 1123 commented on #96
Turns out I need to add `.withLocale(Locale.ENGLISH)` to the initialization of the DateTimeFormatter:

[code]

[2018-01-12 17:10] SAPessi commented on #96
Thanks for the fix @1123, good catch! I'm making some changes on another branch and I'll get it all merged together over the next few days!

[2018-01-12 18:43] SAPessi commented on #95
There seems to be a bug with Spring 5.0.2 that prevents it from honoring the `@RequestBody(required=false)` flag. Overall, it looks like Spring 5 is not yet widely adopted. As of now, I can see 27 dependents on maven versus 312 for Spring 4. I'll delay this upgrade too until the framework gets more widely adopted and stable

[2018-01-12 19:06] SAPessi commented on #84
Closing this issue as it should be resolved in the latest commit

[2018-01-12 19:06] #84 closed

[2018-01-12 19:06] SAPessi commented on #82
Updated all samples and added the docs in the wiki

[2018-01-12 19:06] #82 closed

[2018-01-12 19:08] SAPessi commented on #73
New spring boot sample is ready. In the `servlet-improvements` branch at the moment but will merge into master soon.

[2018-01-12 19:08] #73 closed

[2018-01-12 19:09] SAPessi commented on #78
Hey @Bart1909, any update on this?

[2018-01-12 19:43] SAPessi commented on #88
Hey @adsil2, in the latest commit I've added an `activateSpringProfiles(String... profiles)` method to the `SpringBootLambdaContainerHandler` object. When you call this method, the system will flag the application for re-initialization and set the `spring.profiles.active` property accordingly.

[2018-01-12 19:43] #88 closed

[2018-01-12 19:51] SAPessi commented on #79
Hey @ryan81g, did the last suggestion solve your issue?

[2018-01-12 19:53] SAPessi commented on #80
Hey @feinstein, getting back to this - could you share your pom.xml file?

[2018-01-12 20:29] adsil2 commented on #88
Thanks @SAPessi  I will give it a run and let you know.

[2018-01-12 20:33] SAPessi commented on #80
The issue happens because there is no dependency in the project that defines an appender for slf4j. I have intentionally not included an appender in the library because I want each developer to use their preferred one. Having said that, I have found a pretty awesome library that defines an appender for slf4j specifically for Lambda - it also includes the request id in the log lines: https://blog.s

[2018-01-12 20:33] #80 closed

[2018-01-12 20:37] feinstein commented on #80
@SAPessi Thank you for the recommendation! I will read more about it ASAP!

[2018-01-12 20:50] #96 closed

[2018-01-12 20:57] SAPessi commented on #88
Great. Keep in mind that this is not published yet. It's in the `servlet-improvements` branch of the GitHub repo. As soon as the last build completes I'll merge into master. The official 0.9 release should go out next week.

[2018-01-15 09:12] lewisje1991 commented on #79
Hi Guys I am still running into issues with the number of RDS connections. Even with the handler only being loaded when not null.

[2018-01-16 18:53] SAPessi opened #99 "Jersey response writer is slow"
* Framework version: 0.8
* Implementations: Jersey

## Scenario
The `JerseyServletResponseWriter` object is slower than expected. In tests running on SAM local the writer was taking ~50ms. Similarly the conversion from Servlet Request to container request is slow (~75ms)

## Expected behavior
We expect this object to execute in low single-digit ms

## Full log output
[code]

[2018-01-17 01:51] quantum-fusion opened #101 "Spring-Boot Lambda Petstore example is missing proxy.model why?"
* Framework version: XX
* Implementations: Jersey / Spring / Spring Boot / Spark

## Scenario

cd $HOME/aws-serverless-java-container-master
mvn compile

## Expected behavior

The main project for server less was compiled which shows success.

The spring-boot project called pet-store was compiled, however shows that there are dependency errors while executing mvn compile.

------------------------

[2018-01-17 02:25] quantum-fusion commented on #101
The issue is that proxy.model does not exist in this project.

Why are these dependencies missing?

[2018-01-17 03:18] SAPessi commented on #101
Hey @quantum-fusion, We have done a bit of refactoring in the repo preparing for the 0.1 release. For the latest version of the samples to work (cloned from this repo), you will also have to install the 0.9-SNAPSHOT version of the library here. Run `mvn install` in the root of the cloned repository and then try to re-build the sample. Once 0.9 official is published on maven central the issue will

[2018-01-17 13:49] alepeltier opened #102 "Stack tace error returned when incorrect body is provided for POST request"
* Framework version: 0.8
* Implementations: Jersey / Jackson

I'm using aws-serverless-java-container to run a lambda which handles POST requests passed through a proxy in API Gateway.

When I supply an incorrect body to the API I get an error message back with the full stack trace of the application. I thought that this might be thrown in the lambda handler but when trying to debug it I can't nar

[2018-01-17 16:47] quantum-fusion opened #103 "Spring-Boot pet store missing pom.xml dependencies for com.amazonaws.serverless.sample.springboot.StreamLambdaHandler.java"
The problem is that mvn package results is missing dependencies for the com.amazonaws.serverless.sample.springboot.StreamLambdaHandler.java

These are the dependencies that are missing:

import com.amazonaws.serverless.exceptions.ContainerInitializationException;
import com.amazonaws.serverless.proxy.internal.LambdaContainerHandler;
import com.amazonaws.serverless.proxy.model.AwsProxyRequest;
impo

[2018-01-17 16:48] quantum-fusion commented on #101
see issue 103.

[2018-01-17 16:49] quantum-fusion commented on #101
I will try your suggestions, however I was able to root-cause the issue, see issue 103.

[2018-01-17 16:50] SAPessi commented on #103
The pom.xml is configured to load the latest version available - that's what the [) parenthesis mean. It would load 0.9-SNAPSHOT if you `mvn install` it on your machine.

The process is:
[code]

[2018-01-17 16:50] #103 closed

[2018-01-17 16:51] SAPessi commented on #101
Provided full instructions in #103.

[2018-01-17 16:51] #101 closed

[2018-01-17 16:54] SAPessi commented on #102
Hi @alepeltier, are you using a POJO handler or a Stream handler for your Lambda function? Any chance you can post the full stack trace of the exception? To confirm, you see the stack trace in the body of the response?

[2018-01-17 17:00] quantum-fusion commented on #103
The process is:

$ git clone git://github.com/awslabs/aws-serverless-java-container.git
$ cd aws-serverless-java-container/
$ mvn clean install
$ cd samples/springboot/pet-store
$ mvn package

Results: /pet-store/target/serverless-spring-boot-example-1.0-SNAPSHOT-shaded.jar
[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESS
[INFO] -----------------

[2018-01-17 17:00] quantum-fusion commented on #103
I would recommend adding these instructions to your README.txt on the Wiki.

[2018-01-17 17:50] alepeltier commented on #102
Hello @SAPessi

The handler code is:

public class ApplicationHandler implements RequestHandler<AwsProxyRequest, AwsProxyResponse> {
    private ResourceConfig jerseyApplication = new ResourceConfig()
            .packages("XXX.XXX")
            .property(ServerProperties.BV_SEND_ERROR_IN_RESPONSE, true)
            .property(ServerProperties.BV_DISABLE_VALIDATE_ON_EXECUTABLE_OVERRIDE_CHECK, true)

[2018-01-17 18:11] Bart1909 commented on #78
Hi @SAPessi,

the problem was solved. I had some missing dependencies in my pom.xml

Now it is working fine!

[2018-01-17 18:11] #78 closed

[2018-01-17 19:13] alepeltier commented on #102
Just to clarify that response I posted in my original message is what’s displayed in postman and returned when the API is called.

[2018-01-17 20:01] SAPessi commented on #102
If you can clean up the stack trace, I'm only interested in the lines that are relevant to aws-serverless-java-container.

Off the top of my head, it looks like the framework is receiving a response from Jersey that already contains the exception, so it's treating it as a valid response. Is your ValidationExceptionMapper trapping this? Is it called at all? What does it generate in the toResponse m

[2018-01-17 20:02] SAPessi commented on #78
Great to hear! Thanks!

[2018-01-17 21:58] SAPessi commented on #102
Let me know if you get anywhere with this @alepeltier.

What's suspicious to me is that the library includes its own "safety" [exception handler](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/AwsProxyExceptionHandler.java) that should hide any stack trace and simply return 500s or 502s depending

[2018-01-18 17:04] alepeltier commented on #102
@SAPessi  I think it's been narrowed down to the @JsonProperty tags being used in the model. Thanks for the advise I'll let you know if we still have the issue.

[2018-01-18 20:39] SAPessi commented on #102
@alepeltier I think you have two separate issues: First, the application is throwing an exception when it receives a model it doesn't recognize. Second, the exception is bubbling up all the way to the client.

The first one, is not necessarily bad behavior. Think of it as a form of validation, if the request model is not valid, the request fails - why not? makes sense to me. If you wanted to make

[2018-01-18 23:10] quantum-fusion opened #104 "SpringBoot application crashes with null pointer error when running locally without SAM local"
The problem is that this variable is a null value, when running locally with a manifest file.

A manifest file should be added to folder META-INF called MANIFEST.MF in package com.amazonaws.serverless.sample.springboot

The contents of the manifest file MANIFEST.MF should be as follows:
Manifest-Version: 1.0
Main-Class: com.amazonaws.serverless.sample.springboot.Application

The problem with this

[2018-01-19 02:07] adsil2 commented on #88
@SAPessi I tested this and it looks great!

[2018-01-19 14:37] alepeltier commented on #102
@SAPessi  you were correct the issue was being thrown by the ExceptionMapper.

I've managed to fix it by creating the following class

`
@Provider
public class JsonMappingExceptionMapper implements ExceptionMapper<JsonMappingException> {
    @Override
    public Response toResponse(JsonMappingException exception) {
        return Response.status(Response.Status.BAD_REQUEST).build();
    }
}
`

Tha

[2018-01-19 22:04] #102 closed

[2018-01-22 00:05] quantum-fusion opened #105 "Swagger2/Open API Swagger UI support request"
**Updated to reflect results of deep dive**
* Framework version: 0.9.1
* Implementations: Spring Boot

## Scenario
* Servlet request handler cannot work with wrapper responses:
[code]

* Servlet forward fails for spring boot default error pages, response buffer is already flushed

---
### Original issue description
I am interested in having Swagger2 support for Swagger UI with Sam local running La

[2018-01-22 18:44] SAPessi commented on #62
This is merged into master and have added a unit test for it.

[2018-01-22 18:44] #62 closed

[2018-01-24 14:28] nithril commented on #33
You may look too at [1.10.9. Generating an index of candidate components](https://docs.spring.io/spring/docs/current/spring-framework-reference/core.html#beans-scanning-index)

[2018-01-24 21:05] SAPessi commented on #104
The principal is there to demo that you can inject a security principal when your request is authorized by API Gateway. I will remove the println statement from the method, it was there just to test.

I was able to run the demo without errors (and without manifest file):
[code]

[2018-01-24 21:07] SAPessi commented on #105
Are you trying to serve the HTML for Swagger UI from a Lambda function? What does SAM local have to do with this?

[2018-01-25 13:39] quantum-fusion commented on #105
Sam local has nothing to do with the Swagger that generates HTML and CSS portion.

The security mechanism that is used with Swagger I found was conflicting with the Sam local proxy security.  In fact the MVC portion of spring boot used with Lambda was requiring a login user name and password, which in fact without Lambda is not a requirement.

I have provided two examples, one with Swagger, and on

[2018-01-25 13:40] quantum-fusion commented on #105
To answer your question, No, I am not specifically trying to generate swagger from a lambda function, however given that the SpringBoot controller allows a plurality of controllers, it could be construed that perhaps a Lamba set of controllers would generate swagger UI, with HTML, and CSS.

[2018-01-25 14:47] davidmco65 commented on #105
The way I've resolved what I think you're trying to do is use a maven plugin to generate the Swagger from our code (which then I automatically augment to import directly into API Gateway) and then use Enunciate to create static HTML and publish to an S3 bucket.  Let me know if you'd like more details.

David

[2018-01-25 14:52] quantum-fusion commented on #105
Yes, I am very interested, in that I think Swagger will help developer productivity, and at our AWS meetup group Lambda is of great interest.

Do you have a GitHub repo that I can take a look at , so that I can try to adopt changes across projects?  If you have a new standard way of doing this, I am trying to offer a consistent way to do this with Spring Boot and JAVA.

[2018-01-25 16:18] SAPessi commented on #33
Thanks @nithril - I will link to this in the docs.

[2018-01-26 03:29] feinstein commented on #80
@SAPessi take a look at [this issue](https://github.com/symphoniacloud/lambda-monitoring/issues/4) that I opened, if you want to log Exceptions, I would advise you to refrain from adopting their library for now

[2018-01-26 03:40] feinstein opened #107 "Error on Jersey Documentation"
The Jersey documentation [here](https://github.com/awslabs/aws-serverless-java-container/wiki/Quick-start---Jersey) says " Spring application", where it should be "Jersey Application".

[2018-01-26 03:59] feinstein opened #108 "Make it compatible with Jersei 2.26"
It would be nice if the Jersey version could be bumped to `2.26`.

[2018-01-26 04:16] feinstein opened #109 "Static or No-Static Handler?"
The documentation [here](https://github.com/awslabs/aws-serverless-java-container/wiki/Quick-start---Jersey) says:

But the code sample just below the text doesn't have the `static` modifier. Why? Should `handler` be static or not?

[2018-01-26 17:31] SAPessi commented on #109
I'll clean up the documentation. The point I need to make is that the handler should be declared as member variables in your handler class. The Lambda runtime initializes your handler as a singleton and keeps re-using the same object to handle subsequent events - given this behavior, having the handler as a member variables allows us to re-use the same handler across multiple events.

[2018-01-26 17:33] SAPessi commented on #108
I'm working on this for the next release. Already tracking in #95 - I'm going to close this issue for now.

[2018-01-26 17:33] #108 closed

[2018-01-26 17:43] feinstein commented on #109
That's good to be on the documentations as well.

[2018-01-26 17:44] feinstein commented on #108
Oh, great, I just updated from 0.8 and I thought I remembered 0.9 would accept Jersey 2.26. Thanks.

[2018-01-26 19:07] feinstein opened #110 "Recomendations for Better Cold Start Performance"
Are there any recommendations for better Cold Start performance?

I have a very simple Jersey application, my jar package is 10MB, it's 3 REST Resources, all of them small, I have only logging and DB libraries (MySQL Driver and HikariCP), no VPC, and I am getting around **10s cold start times**, but 200ms hot-start execution times.

Are there any ways to optimize this?

[2018-01-26 22:01] SAPessi commented on #108
0.9 is still running the older version. I will push 2.26 for version 1.0 - I was running into too many issues and needed 0.9 to go out.

[2018-01-26 22:03] SAPessi commented on #110
* More memory = more CPU - the minimum amount of memory I'd recommend for a Java function is 512MB, try and go even higher to see what you achieve
* Instead of pointing ResourceConfig to a package, register exactly the classes you need

I'll create a docs page with these tips.

[2018-01-27 22:43] feinstein commented on #108
Great, thanks!

[2018-01-27 22:44] feinstein commented on #110
I will try to point the classes themselves, I am already at 512mb machine, I don't want to increase the costs higher than that.

[2018-01-30 15:16] kdhunter opened #111 "AwsHttpServletRequest throws UnsupportedOperationException in getRequestedSessionId instead of returning null"
* Framework version: 0.9
* Implementations: Spring Boot

Using aws-serverless-java-container-spring 0.9 and Spring Boot 1.5.9.RELEASE, which pulls in Spring Security 4.2.3.RELEASE.

The current implementation of `com.amazonaws.serverless.proxy.internal.servlet.AwsHttpServletRequest` throws an `UnsupportedOperationException` when the `getRequestedSessionId()` method is called.

The default Spring B

[2018-01-30 15:35] kdhunter commented on #111
Neglected to mention that it appears that you can work around this by completely disabling session management:

[code]

which prevents the `SessionManagmentFilter` from being added to the chain.  Our preferred configuration was

`http.sessionManagement().sessionCreationPolicy(SessionCreationPolicy.STATELESS);`

which tells Spring never to create a session.  However this configuration keeps the `Se

[2018-01-30 18:32] SAPessi commented on #111
Thanks for the feedback @kdhunter. Throwing that exception was a deliberate choice. Writing applications with Lambda, we expect you not to rely on a session - your code needs to be completely stateless. I will definitely include your snippet on how to disable session checking in the Spring Boot docs.

If this is something you want to leverage, can you tell me a little bit more about the use-case a

[2018-01-30 19:02] agibalov commented on #84
@SAPessi I've just upgraded to 0.9 and removed all the custom code I had to write to make Spring MVC URL builder functionality work in 0.8. Thanks!

[2018-01-30 23:11] feinstein opened #112 "API Gateway Path Mapping Problem"
* Framework version: 0.9
* Implementations: Jersey (but I believe this affects all versions)

## Scenario

All the details of this issue can be found on this [AWS Forums thread](https://forums.aws.amazon.com/thread.jspa?threadID=269585&tstart=0).

Basically, regular URLs and Custom Domain Name URLs From API Gateway, inconsistently map their URL paths to the invoked a Lambda Function.

Here's my in

[2018-01-30 23:19] SAPessi commented on #112
Hey @feinstein, you can use the `stripBasePath` option of the [`ContainerConfig`](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/model/ContainerConfig.java#L67) object. We have a shorthand syntax in the handler to set this:

[code]

Alternatively, you can grab the current config and modify it `han

[2018-01-30 23:40] feinstein commented on #112
Oh, interesting, I will take a look at this, thanks!

[2018-01-31 04:14] feinstein commented on #112
@SAPessi I can't find the `setStripBasePath` or the `getContainerConfig` on the `JerseyLambdaContainerHandler`, is this the `handler` you are referring to?

My `StreamLambdaHandler` is almost a direct copy from the docs and the `JerseyLambdaContainerHandler` is the only `handler` I can see.

[2018-01-31 04:26] SAPessi commented on #112
Yeah, I can find it in the sample. My handler would change like this:

[code]

[2018-01-31 04:30] feinstein commented on #112
I am sorry, my bad, it's late in here, I made a typo and auto-complete wasn't working, ops!

[2018-01-31 04:50] feinstein commented on #112
@SAPessi now I am getting `404` on both URLs.

1 - Is there an easy way debug path issues? like a `handler.getPath()` that returns a string that I can just log and see what's being passed?

2 - Are there any caveats on using the `pathParameters` instead of the `path` passed to the Lambda Function?

[2018-01-31 05:04] SAPessi commented on #112
For routing, `pathParameters` only works if you have API Gateway configured with a `{proxy+}` catch-all path. If you specify the specific resource, for example `/orders/{id}`, I would only get the id value in the `pathParameters` object.

I'm looking into the path.

[2018-01-31 05:05] feinstein commented on #112
I see, it makes sense.

[2018-01-31 05:06] feinstein commented on #112
@SAPessi where is the code that actually strips the base path? I want to double check it's logic to see the final path, so I cant figure out why both URLs now return 404.

[2018-01-31 05:09] feinstein commented on #112
Thanks! I will try to figure out what is going on here....

[2018-01-31 05:09] SAPessi commented on #112
thanks. Ping here if you think there's something wrong

[2018-01-31 06:26] feinstein commented on #112
@SAPessi I modified my `StreamLambdaHandler` to include the following code:

[code]

So basically I am just logging the `path` before and after it's stripped out.

Now is the part that I really don't understand what's going on, in my logs I can see that the `path` is being stripped out correctly, but I still get a 404!

My Custom Domain Name invocation log looks like this:
[code]
And my regular UR

[2018-01-31 06:34] SAPessi commented on #112
Weird. I'll create some unit tests tomorrow specifically for jersey
and see what I can figure out. I'll ping you here as soon as I have
something

S

On 1/30/18, feinstein <notifications@github.com> wrote:

--
--
Stefano Buliani
@sapessi
http://www.flickr.com/photos/sapessi/

[2018-01-31 06:38] feinstein commented on #112
@SAPessi perfect. If you need anything from me, please let me know. Thank you once again!

[2018-01-31 14:04] kdhunter commented on #111
I completely agree that the code needs to be stateless.  However, “getRequestedSessionId” does not create a session.

To enforce statelessness, the appropriate place to throw an exception would be in getSession - a call to getSession() or getSession(true) should throw.

My concern is that there is a lot of common software that may check for the existence of a session (via any number of means), but

[2018-01-31 15:15] SAPessi commented on #112
Hey @feinstein, found the issue and pushed a fix to the `jersey` branch. I've also added a couple of unit tests for it. The issue was introduced in the latest release. I will push out a path version 0.9.1 today.

[2018-01-31 15:35] SAPessi commented on #111
@kdhunter fair point. Would returning null from the `getSessionId()` call work here? I can make the change today and push it out in the 0.9.1 release.

[2018-01-31 17:55] SAPessi commented on #111
I've just tested returning from the `getRequestSessionId()` method, the security framework then moves on to requesting the session - which would throw the exception. If I return a non-null value, it proceeds trying to cache the session in an internal class. I'm not sure there's a clean and safe way around this. I'm no spring expert so open to suggestions. Given the above, I'd rather update the doc

[2018-01-31 22:00] feinstein commented on #112
@SAPessi great! let me know when it's out so I can test it.

[2018-01-31 23:13] SAPessi commented on #112
@feinstein 0.9.1 is making its way to maven central. Should be there within the hour.

[2018-02-01 01:07] feinstein commented on #112
@SAPessi it works perfectly now! I will probably make some sort of configuration file to provide the URL to be stripped out, since there are `prod` and `dev` URLs for the same Lambda Function.

Thank you for all the help, you are the best!

[2018-02-01 01:07] #112 closed

[2018-02-01 14:05] davidmco65 commented on #105
Hi, sorry for the delay, I lost this thread...

I'm in the process of publishing this now.  It's a little specific to my setup, but feel free to customize.  It will be at https://github.com/davidmco65/APIGatewaySwaggerUtils.

Thanks,
David

[2018-02-01 15:01] kdhunter commented on #111
In my particular case, things were blowing up at the point in the code that I posted - I didn’t get any farther, so it’s very possible that I could have run into trouble later even if getRequestSessionId had returned null.  I had configured my application to be “stateless" - I had assumed (possibly incorrectly) that nothing would then attempt to create a session.

[code]

Possibly that's incorrect

[2018-02-01 16:03] SAPessi commented on #111
Thanks @kdhunter, makes sense to me to return null on the session id and throw the exception when the framework tries to explicitly get/create a session. I will make this change for the next release. I will update the documentation to include the spring security settings today.

[2018-02-01 16:12] SAPessi commented on #105
Let me see if I can get to the bottom of this. This library, and API Gateway + Lambda, are capable of returning static HTML content. Generating and returning a Swagger UI as an HTML page from the Lambda function should work fine.

Generating Swagger from the code is a very interesting idea. However, as @davidmco65 mentioned, it is a task better performed at compile time. It is not a core feature I

[2018-02-01 16:15] SAPessi commented on #104
I've removed the principal log line in all spring samples. Closing this issue.

[2018-02-01 16:15] #104 closed

[2018-02-01 16:26] quantum-fusion commented on #105
I will jump on this, and get you a test case to reproduce the failure case.

[2018-02-01 16:36] quantum-fusion commented on #105
The use case, is like this, Spring Boot applications can support the Swagger2 maven plugin

When the Swagger2 plugin is integrated within a SpringBoot project, that uses Lambda, the Swagger2 plugin that generates HTML, has a timeout with SAM local, due to a security authorization that times out with the SAM local proxy security.

[2018-02-01 16:41] SAPessi commented on #105
ok. So when you build a project with the Swagger2 maven plugin it packages correctly. However, when you try to run it in SAM local, the application does not respond?

What I want to clarify is, the plugin works at compile time and builds successfully, the issue happens when you try and load the page. Is that only through SAM local or also on Lambda + API GW?

[2018-02-01 16:53] quantum-fusion commented on #105
Yes, the project compiles correctly.

The problem is found at runtime, when the swagger ui plugin is called to generate the page.

The page is not accessible, due to spring security requiring a login token

I have found noticeable differences between your Lambda Spring Boot example, and mine, the main difference is that the spring security token in your project is missing and is not shown in the c

[2018-02-01 16:54] quantum-fusion commented on #105
I can recreate this scenario, or allow you to do the integration yourself.  Let me know if you want me to reproduce, or if you want to go through the integration steps to see for your self.

[2018-02-01 16:59] SAPessi commented on #105
If you have a repo with the Swagger plugin enabled that I just grab, package, and test with SAM local send me the link - it would save me a lot of time and ensure that I replicate exactly what you are doing

[2018-02-01 17:01] quantum-fusion commented on #105
Yes, I will do this, and give it to you after lunch in about an hour.

I would ask that you do a thorough code review, because there may be a couple things that I am missing.

[2018-02-01 17:01] SAPessi commented on #68
Closing this issue

[2018-02-01 17:01] #68 closed

[2018-02-01 17:02] SAPessi commented on #79
Is there a repo we can look at? I'd like to try and replicate in local.

[2018-02-01 17:04] quantum-fusion commented on #105
If you want to see Swagger + SpringBoot in action, in the meanwhile, try this project:
It will look and feel exactly the same, if everything is working properly.
https://github.com/quantum-fusion/springboot_swagger_example-master-cassandra

The integrated version with Lambda will show up in a few hours, stay tuned:
https://github.com/quantum-fusion/swagger-lambda

[2018-02-01 17:07] SAPessi opened #115 "Add maven archetypes for all supported frameworks"
* Framework version: 1.0
* Implementations: Jersey / Spring / Spring Boot / Spark

## Scenario
Create maven archetypes for basic application on each framework

## Expected behavior
Developers should be able to create a new pre-configured project.

[code]

[2018-02-01 19:55] quantum-fusion commented on #105
Github push today was a complete train wreck, and wouldn't let me upload a directory to GitHub without lots of pain.

Therefore download the swagger-lambda.tar file from Dropbox.
https://www.dropbox.com/s/ms4wzqjt3z63ob8/swagger-lambda.tar?dl=0

The URL calls were as follows:

http://127.0.0.1:3000/v2/api-docs
http://127.0.0.1:3000/petstore/pets
http://127.0.0.1:3000/pets

Analysis:
The first and

[2018-02-01 20:01] quantum-fusion commented on #105
see line 24 of sam.yaml , it does not include the reference to the base path /petstore that is referenced in the petstore controller file.

I added the reference to /petstore as the base path, so that swagger can generate docs based on a base path for each controller.

Please let me know if sam.yaml file needs to be updated to include a base path qualifier, and if so, what the syntax should look l

[2018-02-01 20:02] quantum-fusion commented on #105
@SAPessi

@davidmco65

See these comments and the project on dropbox.

Please let me know when you have reviewed the code, and comments.

Do let me know if you have any additional questions.

[2018-02-01 21:00] quantum-fusion commented on #105
When the swagger UI is running correctly, this URL should generate the HTML and run in the web browser.

http://127.0.0.1:3000/swagger-ui.html

[2018-02-01 21:02] quantum-fusion commented on #105
See Tutorial on SpringBoot and Swagger API.
https://springframework.guru/spring-boot-restful-api-documentation-with-swagger-2/

[2018-02-01 21:08] quantum-fusion commented on #105
See error generated from SAM local gateway.
When URL was called http://127.0.0.1:3000/petstore/pets

2018/02/01 13:54:45 Function returned an invalid response (must include one of: body, headers or statusCode in the response object): invalid character '-' after top-level value
2018/02/01 13:55:09 Function com.server.springboot.StreamLambdaHandler::handleRequest timed out after 60 seconds

[2018-02-01 22:12] quantum-fusion commented on #105
My theory is that this may have generated the error Function returned an invalid response, due to adding the /petstore base path in the petstore controller, but not updating the sam.yaml file line 24 to include the /petstore base path.

Please advise.

[2018-02-01 22:12] quantum-fusion commented on #105
I do not know why the swagger functions generate the exceptions.

[2018-02-01 22:14] quantum-fusion commented on #105
@SAPessi This is the completed writeup and tar ball you were looking for, that should save you some time and work.  I have recreated the problem, please let me know when you have taken a look at this. Thanks @quantum-fusion

[2018-02-02 11:46] quantum-fusion commented on #105
Safari URL: localhost:3000/petstore/pets

Safari response: {"message":"Gateway timeout"}

Theory: It is a possibility that sam.yaml needs to be changed from line24:

 Value: !Sub 'https://${ServerlessRestApi}.execute-api.${AWS::Region}.amazonaws.com/Prod/pets'

TO:
 Value: !Sub 'https://${ServerlessRestApi}.execute-api.${AWS::Region}.amazonaws.com/Prod/petstore/pets'

Results:

Showed that adding

[2018-02-02 13:22] quantum-fusion commented on #105
@SAPessi Please let me know when you have questions, and you have received the tar ball file test case for SpringBoot with Lambda with Swagger, without error.

[2018-02-02 17:44] SAPessi opened #116 "Add request logging"
* Framework version: 1.0
* Implementations: Jersey / Spring / Spring Boot / Spark

## Scenario
Log each request using [Apache's combined log](https://httpd.apache.org/docs/2.4/logs.html) format or JSON objects (containing the same values).

**Apache**
[code]

Add a configuration variable to specify whether the logs should be in string or json format.

[2018-02-02 19:23] SAPessi commented on #105
I'm testing the application. Few issues:
1. I fixed an issue in serverless-java-container where we weren't handling response wrappers correctly. The root cause of this exception:
[code]

2. An exception is being thrown deep in your application, but I cannot get it to print it out in the logs. Still working on figuring this one out

3. Your `JsonHelper` is wildly inefficient, you are instantiating

[2018-02-02 19:32] SAPessi commented on #105
Another issue is that spring security is trying to access the session. We intentionally throw an UnsupportedOperationException when you try to access the session - you should not rely on session when coding with Lambda. You can disable session processing:

[code]

[2018-02-02 19:34] quantum-fusion commented on #105
3.) Your JsonHelper is wildly inefficient, you are instantiating an ObjectMapper at each call. Have a single object mapper as a class member, lazily load it, and re-use it each time. Even better, if you don't need any special configuration, use the default mapper provided by the framework: LambdaContainerHandler.getObjectMapper()

Are you saying that Jackson parser is not needed?  I was able to ge

[2018-02-02 19:40] SAPessi commented on #105
serverless-java-container already includes jackson as a dependency, you can just rely on the included one. I'm still debugging. I'll send you the diff to the app's code here once I'm done with all the issues

[2018-02-02 19:43] quantum-fusion commented on #105
I would be happy to run a benchmark to see if the swagger UI is working properly, and also download a new build to test locally.

[2018-02-02 20:07] quantum-fusion commented on #105
@SAPessi

I would need the fixes to the serverless code in the main branch.

I would need the modified code with changes provided back to me, so that I can run my own diffs.

How would you like to provide both builds or a single build?

[2018-02-02 20:09] SAPessi commented on #105
I'm still working on root-causing the issue. Spring boot is painful to run with SAM local. SAM local reads the output of the function from the stdout. However, spring boot fills the stdout with its logging messages. It will take me a while to get to the bottom of this. I'm working on the spring branch of serverless-java-container. I will commit my changes once I've got it working.

[2018-02-02 20:11] quantum-fusion commented on #105
I am rooting for you!  Let me know if you need to do a shared screen session, or conference call.  https://calendly.com/technologyventureslimited (Schedule appointment)

I am supposed to have an interview with AWS Virginia next week.

[2018-02-02 20:45] quantum-fusion commented on #105
Let me know what you think about the added @RequestMapping for ("/petstore")

--PetsController.java----
@EnableWebMvc
@RestController
@RequestMapping("/petstore")
@ComponentScan("com.server.springboot.controller")
public class PetsController {
    @RequestMapping(path = "/pets", method = RequestMethod.POST)
    public Pet createPet(@RequestBody Pet newPet) {
        if (newPet.getName() == null ||

[2018-02-02 22:03] SAPessi commented on #105
ok, I've figured it out. The plugin you are using to generate the Swagger UI runs at compile time to generate the swagger-ui.html page. By default, the page would be included in the application's jar by the spring boot maven plugin in the `repackage` goal - I can see the file under `META-INF/resources` in the repackaged jar. However, the repackaged jar is not compatible with AWS Lambda. This is no

[2018-02-02 22:34] quantum-fusion commented on #105
I will take a look at the updated code, and after I have reviewed the code, if there are bugs with SpringBoot , we may have to get @philwebb involved.

[2018-02-02 22:37] quantum-fusion commented on #105
@SAPessi

Question, is the serverless updates in the latest build, and available for download?  Please advise.

[2018-02-02 22:39] SAPessi commented on #105
@quantum-fusion no, the commits are on the spring branch of this repo. You should be able to just clone the branch in local, then run `mvn install`. Once that process installs 0.1-SNAPSHOT on your local machine, you can `mvn package` the pet store code I sent you, it will find the latest version on your local box automatically.

[2018-02-02 23:11] quantum-fusion commented on #105
The petstore pom.xml for the Swagger implementation is expecting:
 <build>
        <plugins>
            <plugin>
                <groupId>org.springframework.boot</groupId>
                <artifactId>spring-boot-maven-plugin</artifactId>
            </plugin>
        </plugins>
    </build>

[2018-02-02 23:13] quantum-fusion commented on #105
The example that you provided with the maven shade plugin pets.zip , has substantial differences as compared to the original swagger example. (https://springframework.guru/spring-boot-restful-api-documentation-with-swagger-2/ )

[2018-02-02 23:14] quantum-fusion commented on #105
If you wanted a test case, you could use the one here: https://github.com/springframeworkguru/springboot_swagger_example

[2018-02-02 23:15] quantum-fusion commented on #105
The repackage goal, there isn't one.

This is the build goal:

<build>
        <plugins>
            <plugin>
                <groupId>org.springframework.boot</groupId>
                <artifactId>spring-boot-maven-plugin</artifactId>
            </plugin>
        </plugins>
    </build>

[2018-02-02 23:16] quantum-fusion commented on #105
The spring-boot-maven-plugin has to be used. as shown here: https://springframework.guru/spring-boot-restful-api-documentation-with-swagger-2/

[2018-02-02 23:17] SAPessi commented on #105
A lot of the dependencies you were including were already provided by other packages in serverless-java-container, you didn't need them there. The problem you have is with how the swagger package works. As you can see this dependency is included at compile time:
[code]
It generates an HTML page at compile time and then the page gets packaged into the jar by the spring boot (see [pom file](https://

[2018-02-02 23:19] quantum-fusion commented on #105
I do not know the answer to this.

[2018-02-02 23:19] quantum-fusion commented on #105
I know it is dissappointing, however I am wondering if we might get Phil Webb interested in this?

[2018-02-02 23:21] SAPessi commented on #105
Neither do I, it would require a lot of deep diving on how spring boot build and packaging works. I will put it on my backlog but won't have time any time soon.

[2018-02-02 23:21] quantum-fusion commented on #105
I was hoping we could just use shade plugin, even with the springfox-swagger-ui plugin enabled, with compile as the option, the documentation did not generate, when I enabled it again.

See https://stackoverflow.com/questions/26975818/what-is-scope-under-dependency-in-pom-xml-for

[2018-02-02 23:21] quantum-fusion commented on #105
What about other scope options, like provided?

[2018-02-02 23:21] quantum-fusion commented on #105
There is a system scope.

[2018-02-02 23:23] quantum-fusion commented on #105
If anyone in the world, knows the answer to this question, it is Stéphane Nicoll

[2018-02-02 23:23] quantum-fusion commented on #105
Should we approach him?

[2018-02-02 23:23] quantum-fusion commented on #105
We could explain what we are trying to do, and ask him the question, he will respond.

[2018-02-02 23:24] quantum-fusion commented on #105
https://spring.io/team/snicoll

[2018-02-02 23:26] quantum-fusion commented on #105
This is the official issues for Spring-Boot https://github.com/spring-projects/spring-boot/issues

[2018-02-02 23:28] quantum-fusion commented on #105
Is there some reason, why you need a shaded maven jar, and not a spring boot jar?  I know the maven shaded jar, is flattened, to include all of the dependencies, however the spring boot jar, has an automatic spring bean detector, called spring bean auto discovery?

[2018-02-02 23:28] SAPessi commented on #105
I don't think this is an "issue" with spring boot. The repackage goal of spring boot was never meant to create a jar that could run inside Lambda. My suggestion would be to take a look at the [swagger-ui source](https://github.com/springfox/springfox/tree/master/springfox-swagger-ui) and figure out how it executes - once you have that information, you have two options:

1. you can start trying to

[2018-02-02 23:35] quantum-fusion commented on #105
Currently, I am trying to figure out why running swagger-ui as a standalone with the spring-boot build, isn't working.  There is still something fundamental missing.  The compile goal for the dependencies, is just how it packages the binaries.  I could have just deleted the <compile> flags, and see what that does.  However, I believe those dependencies are being explicit.

I did notice the followi

[2018-02-02 23:43] quantum-fusion commented on #105
@SAPessi I have found the SpringFox guys.  We could submit the question to them, and ask them if they can support Maven shade plugin.  (https://github.com/springfox/springfox/issues )

[2018-02-02 23:46] SAPessi commented on #105
Why don't you first go on their Gitter chat and see if they have done it before outside of spring boot?

[2018-02-02 23:47] quantum-fusion commented on #105
I just posted a question for the spring fox guys. (https://github.com/springfox/springfox/issues/2227 )

I will have to pickup this thread on Monday, and I will let you know what I find.

[2018-02-04 23:03] quantum-fusion commented on #105
@SAPessi I found the Springfox documentation section 3.5 http://springfox.github.io/springfox/docs/current/#springfox-swagger-ui

The documentation states, that it is looking for the endpoint path by pulling in the dependency creates a webjar containing the swagger-ui static content. It adds a JSON endpoint /swagger-resources which lists all of the swagger resources and versions configured for a g

[2018-02-05 00:19] mancini0 opened #117 "Spring - setThrowExceptionIfNoHandlerFound() on the default "aws-servless-java-container" DispatcherServlet"
* Framework version:
[code]

* Implementations: Spring

## Scenario
If I run my Spring web service using Tomcat, I am able to configure the DispatcherServlet to throw an exception when no handler is found for the request. This allows me to use an `@ControllerAdvice` annotated class to catch the NoHandlerFoundException, where I can then return a json message to the user instead of Spring's default

[2018-02-05 15:24] SAPessi commented on #117
Thanks for the feedback @mancini0. I'll try to replicate and get back to you here. I have made some pretty big changes preparing for the 1.0 release. At the moment, they are in the `spring` branch of this repository if you feel like testing the latest version (`1.0-SNAPSHOT`)

[2018-02-05 19:28] quantum-fusion commented on #105
@SAPessi I am going to suggest that we start over with a fresh SpringBoot project that uses Swagger 2 fox plugin for maven, with the SpringBoot maven plugin.

See full example:
https://springframework.guru/spring-boot-restful-api-documentation-with-swagger-2/

See Github repo:
https://github.com/springframeworkguru/springboot_swagger_example

It is a possibility that AWS Lambda framework may suppo

[2018-02-05 20:37] SAPessi commented on #105
The serverless java container library is capable of serving static content via Spring: See [this unit test](https://github.com/awslabs/aws-serverless-java-container/tree/master/aws-serverless-java-container-spring/src/test/java/com/amazonaws/serverless/proxy/spring/staticapp).

How the static content is included (or generated) is not a concern of the library. You don't have to use the shade plugin

[2018-02-06 19:30] SAPessi opened #118 "Add streamProxy method to container handler"
* Framework version: 1.0
* Implementations: Jersey / Spring / Spring Boot / Spark

Add a new `streamProxy(InputStream, OutputStream, Context)` method to the `LambdaContainerHandler` object.

## Scenario
Simplifies the task of writing Lambda RequestStreamHandler` classes from:
[code]

to:
[code]

[2018-02-09 19:17] SAPessi opened #120 "Upgrade from FindBugs to SpotBugs"
* Framework version: 1.0
* Implementations: Jersey / Spring / Spring Boot / Spark

## Scenario
Upgrade build process to use [SpotBugs](https://spotbugs.github.io/) instead of FindBugs.

[2018-02-09 19:18] SAPessi commented on #105
Fixes for the bugs discovered while investigating this are now merged in master. Closing.

[2018-02-09 19:18] #105 closed

[2018-02-09 20:03] SAPessi commented on #116
Added request logging to LambdaContainerHandler object. The format of the log line is dictated by an implementation for the `LogFormatter` interface.

You can configure custom formatters on the container handler object:

[code]

By default we include the `ApacheCombinedServletLogFormatter` implementation. This is automatically set when we initialized a `AwsLambdaServletContainerHandler` - currentl

[2018-02-09 23:49] SAPessi commented on #116
Docs pushed to the next-release branch of the wiki (hidden at the moment).

[2018-02-09 23:49] #116 closed

[2018-02-09 23:50] SAPessi commented on #120
Changes are merged into master. Closing this issue.

[2018-02-09 23:50] #120 closed

[2018-02-10 01:49] SAPessi commented on #118
Added `proxyStream` method. Leaving this open until docs is updated.

[2018-02-11 16:12] SAPessi commented on #109
Updated samples and doc is ready for next release. resolving.

[2018-02-11 16:12] #109 closed

[2018-02-11 16:31] SAPessi commented on #107
Fixed in the latest doc commit - not live yet

[2018-02-11 16:31] #107 closed

[2018-02-13 20:10] SAPessi commented on #117
Hi @mancini0 - I've finally replicated this. The issue was with forward and include requests on being processed correctly. It was originally addressed in #105. I have also added a unit test for this in the echo application - I use the built-in WebApplicationInitializer and set the method on the dispatcher servlet aws-serverless-java-container creates: https://github.com/awslabs/aws-serverless-java

[2018-02-13 20:19] SAPessi commented on #118
I've committed the updated docs in the `next-release` branch of the wiki. Closing this issue.

[2018-02-13 20:19] #118 closed

[2018-02-13 20:22] SAPessi commented on #110
Updated docs to recommend static handlers and samples. All changed in the `next-release` branch of docs and `core` branch of the codebase. Closing this issue.

[2018-02-13 20:22] #110 closed

[2018-02-13 22:11] mancini0 commented on #117
@SAPessi  Great, thanks for looking into it - much appreciated.

[2018-02-15 21:41] SAPessi commented on #95
Resolving this since updates are committed and tested

[2018-02-15 21:41] #95 closed

[2018-02-15 21:44] SAPessi commented on #117
Hey, @mancini0 - if it's not too much hassle, could you test against the 1.0-SNAPSHOT in the `core` branch?

Should be as simple as:
[code]

Then, in your project, you can simply change the `pom.xml` to use 1.0-SNAPSHOT. Maven will automatically pick it up from the local copy installed in the previous step.

[2018-02-16 07:01] andregrund opened #122 "Spring - webRequest.checkNotModified(...) not working"
* Framework version: 0.9.1
* Implementations: Spring

## Scenario
I want to use HTTP 1.1 header "If-Modified-Since". When sending a request with that header "If-Unmodified-Since" is checked first, see `org.springframework.web.context.request.ServletWebRequest#checkNotModified(String s, long l)`. This calls `com.amazonaws.serverless.proxy.internal.servlet.AwsProxyHttpServletRequest#getDateHeader(St

[2018-02-16 14:32] whilp opened #123 "commons-fileupload is pinned to vulnerable version"
* Framework version: 0.9.1
* Implementations: Jersey / Spring / Spring Boot / Spark

## Scenario

We run a regular analysis of our dependencies and noticed that the version of `commons-fileupload` required by `serverless-java-container` has a CVE open:

https://nvd.nist.gov/vuln/detail/CVE-2016-1000031

This CVE is under reanalysis, but the issue was acknowledged and fixed upstream.

## Expected b

[2018-02-17 00:48] mancini0 commented on #117
Yes I’ll test it this weekend.

On Thu, Feb 15, 2018 at 3:44 PM Stefano Buliani <notifications@github.com>
wrote:

[2018-02-17 17:07] SAPessi commented on #123
Thanks @whilp, I have updated to the [latest version for the 1.0 release](https://github.com/awslabs/aws-serverless-java-container/blob/core/aws-serverless-java-container-core/pom.xml#L56) and also [added the dependency check](https://github.com/awslabs/aws-serverless-java-container/blob/core/aws-serverless-java-container-core/pom.xml#L111) maven plugin at build time for all modules.

Closing this

[2018-02-17 17:07] #123 closed

[2018-02-17 17:08] SAPessi commented on #122
Thanks for the feedback @andregrund, I'll try to replicate and get back to you early next week.

[2018-02-17 17:14] whilp commented on #123
Nope, I agree that the severity does not warrant a sooner release. Thanks
for addressing this issue!
On Sat, Feb 17, 2018 at 09:07 Stefano Buliani <notifications@github.com>
wrote:

[2018-02-19 17:19] SAPessi commented on #122
Hey @andregrund, this was indeed a bug. I've addressed in the latest commit on the `core` branch and also took the opportunity to move to the faster time package rather than the old `SimpleDateFormat`. The fix will go out with the 1.0 release in a week or two. If you want to test now, you can use the core branch in local now:

[code]

Once you have installed the library, just change your pom file

[2018-02-20 00:02] SAPessi commented on #115
All archetypes are in the `core` branch. Closing this issue.

[2018-02-20 00:02] #115 closed

[2018-02-20 08:23] andregrund commented on #122
Hello @SAPessi . Thank you for the fix. I just tested it and it workes like a charm. Looking forward to the 1.0 release.

[2018-02-20 15:56] SAPessi commented on #122
Thanks for confirming. I'll close this issue.

[2018-02-20 15:56] #122 closed

[2018-02-20 17:33] SAPessi commented on #67
I've added filters to the servlet samples and also update the wiki documentation. Closing this issue.

[2018-02-20 17:33] #67 closed

[2018-02-22 23:57] thallium205 opened #125 "requestId always returns value "test-invoke-request""
* Framework version: 0.9.1
* Implementations: Spring

## Scenario
Pulling the requestId value from the request payload at: `((AwsProxyHttpServletRequest) request).getAwsProxyRequest().getRequestContext().getRequestId()`.

## Expected behavior
The value of this should be the UUID that is generated from API gateway as described here under "Input Format of a Lambda Function for Proxy Integration" ->

[2018-02-23 01:16] SAPessi commented on #125
hey @thallium205, that request id is set by the AwsProxyRequestBuilder used in the unit tests for the framework: https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/internal/testutils/AwsProxyRequestBuilder.java#L69

Are you saying we should set a valid UUID for the unit tests?

[2018-02-23 04:40] SAPessi commented on #125
I think I know what's going on. API Gateway also automatically sends the `test-invoke-request` value for `requestId` when you use the test interface from the console - you can see it in the logs generated on the right on the `Endpoint request body after transformations:` line. Are you testing using the console or calling an API that is actually deployed?

[code]

[2018-02-23 04:43] SAPessi commented on #117
Hey @mancini0, sorry to bug you, any updates?

[2018-02-23 04:53] thallium205 commented on #125
Argh!  You're absolutely correct: when using the API Gateway's "Method Test" feature, it will include that constant as the requestId as revealed in the generated logs.  However, when hitting the endpoint using the invocation URL (through curl, for example), it generates the expected UUID requestId.
Sorry about this report... it is clearly not an issue with this library.  Thanks.

[2018-02-23 04:53] #125 closed

[2018-02-23 15:39] mancini0 commented on #117
Hi SAPessi, sorry for the delay - I will finish testing by 8 pm pacific time today.  I won't order my pad thai noodles until I finish.

[2018-02-23 15:56] SAPessi commented on #117
Please, eat @mancini0  :-). I want to publish 1.0 on Monday (you still have some time) and I'd like to include this fix.

[2018-02-24 00:48] mancini0 commented on #117
@SAPessi, everything works as expected, my DispatcherServlet is now handling the 404s in agreement with its configuration. Thanks for the quick fix.

[2018-02-24 22:46] SAPessi commented on #117
Closing this for now!

[2018-02-24 22:46] #117 closed

[2018-02-27 04:42] ShanikaEdiriweera opened #127 "Add README.md for Spring Boot sample"
* Implementations: Spring Boot

## There is no README.md for Spring Boot sample

[2018-02-27 16:24] SAPessi commented on #127
Done. Merging into master today.

[2018-02-27 16:24] #127 closed

[2018-02-28 17:09] kennovak-zy opened #128 "Dropwizard example?"
Can this framework support Dropwizard?  I have a REST server using dropwizard, JAX-RS, and hibernate and would like to port to Lambda.  If there are any examples of how to do this, please let me know.  Thanks

[2018-02-28 17:33] SAPessi commented on #128
Hey @kennovak-zy - I suspect it is possible. Ultimately Dropwizard can use Jersey behind the scenes. I'll have a go at this as soon as possible and let you know.

[2018-03-01 02:14] humank opened #129 "Can't build project well due to lack of jars in sonatype-nexus-snapshots"
* Framework version: 1.0
* Implementations: Spark

## Scenario
I'm just update this project from v0.9 to v1.0 at 2018/03/01, and encountered a build error due to lack of artifact com.amazonaws.serverless:aws-serverless-java-container-core:jar:1.1-SNAPSHOT in sonatype-nexus-snapshots (https://oss.sonatype.org/content/repositories/snapshots)
## Expected behavior
while running the followig command it

[2018-03-01 02:19] SAPessi commented on #129
1.1-SNAPSHOT is only available in the GitHub repo. 1.0 is the published. Add your dependency to version 1.0.

[2018-03-01 02:25] SAPessi commented on #129
Never mind, think I understand what you are doing now. to package the project you need to run mvn package from the root, not inside the spark directory. All modules depend on each other. To make 1.1-SNAPSHOT available in your local repository, use `mvn install`, not package:

[code]

[2018-03-01 02:30] humank commented on #129
Thanks @SAPessi !

[2018-03-01 02:30] #129 closed

[2018-03-01 16:21] tyrsius commented on #33
This isssue should have stopped the release of the official blog post. I'm shocked this thing was released; you are going to send a wave of Java engineers off of a cliff.

[2018-03-01 16:25] SAPessi commented on #33
Hey @tyrsius Unfortunately the spring load time issue was highlighted in the blog post. There's only so much we can do to mitigate this in the serverless-java-container-library.

We have customers running Spring in Lambda now - while the cold start time is high, it only affects the 99th/99.9th percentile of requests (1 out of 1000) with steady state production traffic. For some applications, that

[2018-03-01 16:32] tyrsius commented on #33
It was highlighted and then swept away as "not a real issue". Many production system don't have steady request rates. In fact that is one of lambda's big _selling points_: you don't pay when its not in use and scaling is automatic. If you have a steady request rate you don't need scaling, and your always using it. Cost analysis has shown that these cases are bad fits for lambda. So the time when t

[2018-03-01 16:36] SAPessi commented on #33
@tyrsius This library is not an HTTP server, it does not start one. Simply goes straight into the framework. This point aside, I will update the documentation and perhaps the archetype to use the indexer component.

The point of this library is to help developers work with tools they are already familiar with. If they judge Spring to be too slow at cold start for their use-case, it will be very ea

[2018-03-01 16:37] SAPessi commented on #33
I'll use this issue to track adding the indexer dependency in the Spring and Spring Boot archetypes as well as samples.

[2018-03-01 16:38] tyrsius commented on #33
You're right, its not a full HTTP server, just an HTTP server framework.

[2018-03-01 17:04] m1ky91 opened #130 "Pet store sample throw"
* Framework version: 1.0
* Implementations: Spark

## Scenario
I have a problem with Pet Store Serverless Spark example. I have just cloned the example and deploy it to AWS Lambda but it throws a NPE. With SAM Local I have no problem. What's wrong?
## Expected behavior

## Actual behavior

## Steps to reproduce
![immagine](https://user-images.githubusercontent.com/12275263/36858157-b29ed2fa-1d7a-1

[2018-03-01 17:20] SAPessi commented on #130
I have just tested myself deploying to Lambda and couldn't replicate. Let me dig deeper. I'll update this issue once I figured it out.

[2018-03-01 17:27] SAPessi commented on #130
How are you calling the application? Curl or browser? Can you paste the command you are using?

[2018-03-01 17:33] m1ky91 commented on #130
I am testing the lambda function with the test functionality on the console and also linking an API Gateway to it. But in the both scenarios I have the same response.

[2018-03-01 17:35] SAPessi commented on #130
Can you paste the test event JSON here? The framework is not handling null paths gracefully - I have fixed that. However, this should work with a non-null path. With your test event, I can also add a unit test to make sure this is checked in the future.

[2018-03-01 17:46] m1ky91 commented on #130
Below the json. It is the Classic hello world json:
{
"key3":"value3",
"key2":'"value2",
"key1":"value1"
}
This is the response:
{
  "statusCode": 502,
  "headers": {
    "Content-Type": "application/json"
  },
  "body": "{\"message\":\"Gateway timeout\"}",
  "base64Encoded": false
}

[2018-03-01 17:49] m1ky91 commented on #130
I have the same response linking API Gateway and calling GET /pets

[2018-03-01 17:51] SAPessi commented on #130
Ah, that would be why. You need to invoke this function with an API Gateway proxy event. Your test event should look like this:
[code]

This is what API Gateway (and SAM local) send to your Lambda function. When you configure API Gateway to connect to your Lambda function, make sure that you configure it with an proxy integration. The easiest way to deploy the application, is to use SAM. The instr

[2018-03-01 18:06] m1ky91 commented on #130
Thanks but I can't test it now. I am going to do this later and come back to you. Thanks a lot.

[2018-03-01 19:05] joeyvmason commented on #33
Is there an open issue for adding support for the [spring-context-indexer](https://docs.spring.io/spring/docs/current/spring-framework-reference/core.html#beans-scanning-index)? This would be improve performance greatly.

[2018-03-01 19:11] SAPessi commented on #33
@joeyvmason I'm using this issue to track the spring-context-indexer. My thinking now is that it won't be enforced b the framework, I'll just add it to the samples and the archetype.

[2018-03-01 20:04] joeyvmason opened #131 "Add support for spring-context-indexer"
Cold start performance for Spring applications is especially bad compared to Jersey and Spark applications. A lot of this is because Spring scans the classpath at runtime when building the application context. In Spring 5, you can configure an application to generate a static list of candidates at compilation time using [spring-context-indexer](https://docs.spring.io/spring/docs/current/spring-fra

[2018-03-01 20:27] SAPessi commented on #131
I've taken a quick look at this. Technically just adding the dependency should be enough for the annotation processor to run since it's [defined as a service](https://github.com/spring-projects/spring-framework/blob/master/spring-context-indexer/src/main/resources/META-INF/services/javax.annotation.processing.Processor). If not, we may have to declare it explicitly in the pom file.

The next task,

[2018-03-01 21:58] m1ky91 commented on #130
Thank you Stefano now everything works correctly. Keep up the good work.

[2018-03-01 22:27] SAPessi commented on #130
Great. I'll close this for now. The fix is committed and will go out with the next release.

[2018-03-01 22:27] #130 closed

[2018-03-05 15:12] Limess opened #132 "Expose ServiceLocator from JerseyHandlerFilter"
* Framework version: 1.0.0
* Implementations: Jersey

## Scenario
I wish to access the `org.glassfish.hk2.api.ServiceLocator` instance from the `JerseyHandlerFilter` object, this is so I can eagerly instantiate services in response to a scheduled warm up event (e.g. via https://github.com/FidelLimited/serverless-plugin-warmup).

### Example
[This stackoverflow answer](https://stackoverflow.com/a/2

[2018-03-05 16:08] SAPessi commented on #132
Hey @Limess, You should be able to follow the StackOverflow example to the Letter. When you initialize the `JerseyLambdaContainerHandler`, you [pass in a JAX-RS `Application` object](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-jersey/src/main/java/com/amazonaws/serverless/proxy/jersey/JerseyLambdaContainerHandler.java#L100), which `ResourceCon

[2018-03-05 16:17] Limess commented on #132
Hi @SAPessi, my mistake - the `getServiceLocator` method was removed in Jersey 2.26, I'll see if I can find any alternative means of accessing it outside of a Feature.

Would you have any other idea how I could instantiate my hk2 resources based on a simple JSON event, without having a specific handler/filter? (I only want to do this eagerly on certain async events, not user facing requests)

[2018-03-05 23:04] SAPessi commented on #132
Can you give me an example of the kind of resources you are trying to load? do you just want to load everything at the start?

[2018-03-06 10:40] eduramiba opened #133 "Use maven assembly plugin instead of shade plugin"
* Framework version: 1.0
* Implementations: Jersey / Spring / Spring Boot / Spark

Since using maven shade plugin to create a fat jar is known to be problematic because it can overwrite files by mixing jars (https://product.hubspot.com/blog/the-fault-in-our-jars-why-we-stopped-building-fat-jars), we currently use with success a safer way to deploy lambdas with dependencies: a single zip with all j

[2018-03-06 11:44] Limess commented on #132
@SAPessi the scenario I would like:
* Normal HTTP request comes in via API gateway, needed dependencies are loaded on the request as singletons via hk2. This is my current situation, e.g.
[code]
Most of the dependencies are AWS API classes for Dynamo, SES, Kinesis, KMS, but a few get configuration asynchronously upon construction.

* Warmup event from direct lambda invocation (not API gateway). Th

[2018-03-06 15:35] SAPessi commented on #133
Thanks for the feedback @eduramiba - I've been wondering whether it's time to build a Lambda-specific maven plugin to package an application and slim down the output jar as much as possible. I'll keep this open and think it through. I'll definitely look into adding the assembly plugin as an alternative to our samples and archetypes.

[2018-03-06 15:36] SAPessi commented on #132
Thanks for the info @Limess - now I get what you are trying to do. Let me look into it today and I'll let you know something here.

[2018-03-07 18:07] humank commented on #133
Good to know this way to pack it. Thanks @eduramiba !

[2018-03-11 14:26] sebastientromp opened #134 "Function returned an invalid response"
* Framework version: 1.0
* Implementations: Spring Boot

## Scenario

* I created the archetype using
[code]
* I run `mvn package`
* Then started sam using `sam local start-api --template sam.yaml` with output
[code]
* Then tried to call the /ping endpoint at `curl -s http://127.0.0.1:3000/ping | python -m json.tool`

## Expected behavior

The server replies with a "pong" message

## Actual behavi

[2018-03-12 11:23] alepeltier opened #135 "NoClassDefFoundError returned by lambda after upgrading to version 1.0"
* Framework version: 1.0
* Implementations: Jersey / Jackson / Jetty

I've recently upgraded from version 0.8 to 1.0. I noticed that some of the files have moved so I re-imported them into my project. The code works perfectly when I run it locally however when i upload the jar to a Lambda I get the following error:

`{
  "errorMessage": "org/glassfish/jersey/internal/inject/AbstractBinder",
  "err

[2018-03-12 15:46] SAPessi commented on #134
I'm looking into this and trying to replicate. I'll update here as soon as I figure out what's going on.

[2018-03-12 15:48] SAPessi commented on #135
Hey @alepeltier,

This could be caused by the Jersey upgrade. In version 1.0 of the library, we moved to Jersey 2.26. In the latest version, Jersey does not package its dependency injection mechanism. You may need to manually add the hk2 dependency:

[code]

[2018-03-12 15:55] SAPessi commented on #134
hey @sebastientromp, The archetype works fine when deployed in Lambda. However, it breaks with SAM local. I suspect this has something to do with how SAM local reads the function output - it expects as the last message in the stdout. Spring Boot logs a lot of messages at boot and adds a shutdown message after the output is printed out. I thought [this line](https://github.com/awslabs/aws-serverles

[2018-03-12 16:24] SAPessi commented on #134
Ok @sebastientromp, I figured out how to fix this for SAM local. Under `/src/main`, create a `resources` folder and put a new `application.properties` file in there. In the properties file we simply tell SpringBoot to turn off its logging (setting it to WARN may be enough).

[code]
![screen shot 2018-03-12 at 9 23 25 am](https://user-images.githubusercontent.com/2996317/37296095-27089874-25d7-11e8

[2018-03-13 09:00] alepeltier commented on #135
Hey @SAPessi

I've updated the following dependencies but still get the error.

`    <dependency>
            <groupId>org.glassfish.jersey.inject</groupId>
            <artifactId>jersey-hk2</artifactId>
            <version>2.26</version>
        </dependency>`

` <dependency>
            <groupId>com.amazonaws.serverless</groupId>
            <artifactId>aws-serverless-java-container-jersey</ar

[2018-03-13 15:14] SAPessi commented on #135
Are you injecting any of the servlet objects? We've changed the injection method to use `Suppliers`, these are automatically registered if your `Application` object is of type `ResourceConfig`, otherwise you'll have to do it manually: [source code](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-jersey/src/main/java/com/amazonaws/serverless/proxy/

[2018-03-14 18:12] alepeltier commented on #135
@SAPessi  on the bright side i'm now getting a different error.

`{
  "errorMessage": "org/apache/commons/io/input/NullInputStream",
  "errorType": "java.lang.NoClassDefFoundError",
  "stackTrace": [
    "com.amazonaws.serverless.proxy.internal.servlet.AwsProxyHttpServletRequestReader.readRequest(AwsProxyHttpServletRequestReader.java:37)",
    "com.amazonaws.serverless.proxy.internal.servlet.AwsPr

[2018-03-15 15:36] Limess opened #136 "ApiGatewayRequestIdentity model is incomplete"
* Framework version: 1.0
* Implementations: Jersey

## Scenario

I'm attempting to map `apiKeyId` to some stored metadata, for this I need the `apiKeyId` from the `ApiGatewayRequestIdentity` model which is injectable into

See https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-mapping-template-reference.html for the full list of fields which should be available.

[2018-03-15 15:44] SAPessi commented on #136
Hey @Limess, it's not there because I couldn't see it in the documentation: https://docs.aws.amazon.com/apigateway/latest/developerguide/set-up-lambda-proxy-integrations.html#api-gateway-simple-proxy-for-lambda-input-format. There's no harm in adding the field anyway so I'll do it for the next release. Do you see it in proxy events?

[2018-03-15 15:48] SAPessi commented on #136
Yes, confirmed it is there in proxy events too - just tested. Thanks again for the report.

[2018-03-15 15:51] Limess commented on #136
Wonderful, thanks @SAPessi.

[2018-03-15 15:55] SAPessi commented on #136
Adding latest proxy structure from my test here to check the rest of the model:

[code]

[2018-03-15 16:20] SAPessi commented on #135
Hey @alepeltier, the use of `NullInputStream` is new to the [latest version of the library](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/internal/servlet/AwsProxyHttpServletRequest.java#L406). The `NullInputStream` object is defined in the `commons-io` package, which for me is imported by the [`

[2018-03-15 19:15] SAPessi commented on #20
In the 1.0 release of the library, we updated Jersey to 2.6. The latest version of Jersey can support multiple CDI methods. Resolving this.

[2018-03-15 19:15] #20 closed

[2018-03-16 15:37] SAPessi commented on #131
I have started working to add the spring-context-indexer on the [Spring archetype](https://github.com/awslabs/aws-serverless-java-container/tree/master/archetypes/spring). To begin, I created a brand new app from the archetype and simply added the indexer as an optional dependency. After packaging the application (`mvn package`), I can see that the `spring.components` file was generated and includ

[2018-03-16 15:51] snicoll commented on #131
What concrete evidences do you have that is true? I had that discussion a countless number of times and very often proved classpath scanning isn't a problem at all.

Adding the indexer is an application's choice, not a library choice. And the various benchmarks we've done shows it doesn't make a difference for small to medium projects (less than 500 beans).

[2018-03-16 15:57] snicoll commented on #131
To answer the other questions, the index is another implementation of component scan. If you remove the annotations we're obviously not going to do anything.

There is no info log for component scan. You can enable debug log and it will tell that it fetched the info from the index.

Finally, I already mentioned that classpath scanning is very fast so no surprise you don't see a difference with a s

[2018-03-16 16:07] SAPessi commented on #131
@snicoll To you first answer: I agree with you. If it makes a difference, it's only for large applications. That's why I decided to only included in the archetypes and samples as an option (perhaps a maven profile) and not build it in the library. The main issue I'm trying to address is that some developers may not be aware of this at all, so I want to show them the option.

Good to know that Comp

[2018-03-16 16:26] snicoll commented on #131
No.

[2018-03-16 16:32] snicoll commented on #131
IMO it is wrong to add it to any kind of getting started infrastructure. As a user, this is not something you should care about when starting a project.

And it definitely sends the wrong message IMO.

[2018-03-16 16:50] SAPessi commented on #131
Interesting, I don't know enough about Spring to have a strong opinion here. Is there any downside to using the indexer @snicoll? At the moment, we just have a link to the indexer documentation in our getting started guides, would you say that's enough? What do you think @joeyvmason?

[2018-03-16 17:57] snicoll commented on #131
IMO you shouldn't have any reference to this at all.

Again, I see no proof that it is required or that it changes anything to the startup time of an application created by the archetype. As such, I don't understand why you should be mentioning this (compared to the gazillions of features of Spring Framework you're not mentioning).

[2018-03-17 15:06] alepeltier commented on #135
Hello @SAPessi,

You're right it was the commons-io package I was excluding it from the jar.

Thank you for all your help.

[2018-03-21 11:02] allinwonder opened #138 "The HTTPS assumption is not correct in SAM-local environment, it cause integration errors"
We ran into integration issues in SAM-local when we try to use the context scheme to determine integration endpoint scheme. In SAM-Local, all endpoints are using HTTP instead HTTPS.

https://github.com/awslabs/aws-serverless-java-container/blob/60e5bfaa4e2463c7678a8c0d84f815c2034abe8a/aws-serverless-java-container-jersey/src/main/java/com/amazonaws/serverless/proxy/jersey/JerseyHandlerFilter.java#

[2018-03-21 11:52] rafehi commented on #134
Also ran into a variant of this issue. Running a clean checkout of the aws sample works fine, however as soon as you remove `logback.xml` (which sets the log level to ERROR), it fails with the same error. Creating the `application.properties` file with the `logging.level.root=OFF` (as mentioned by @SAPessi ) also fixes it in this scenario.

[2018-03-21 12:42] rafehi commented on #134
The following configuration in `application.properties` also works (only disables logging for the two packages that print at shutdown):

[code]

[2018-03-21 15:10] SAPessi commented on #138
Thanks for the report @allinwonder. I'll look into it, so far as I can tell I have no easy way to tell whether the request came in as HTTP or HTTPS. The only useful field I could find is the CloudFront header: `"CloudFront-Forwarded-Proto":"https"`. However, I cannot trust this field to decide whether it's HTTPS or not since API Gateway itself may host regional endpoints and this header would not

[2018-03-21 15:19] SAPessi commented on #134
Thanks @rafehi - I'll include this in the archetypes and samples for the next release

[2018-03-21 18:35] mancini0 commented on #12
What are ones options for interrogating the current stage at runtime (i.e, from within the
handleRequest(AwsProxyRequest awsProxyRequest, Context context) )method?

I am using a custom domain name, ie,  **stage**.example.com  is  mapped to the url with the staged prefixed xxxx.execute-api.us-east-1.amazonaws.com/**{stage}**

[2018-03-21 19:03] SAPessi commented on #12
Hey @mancini0, you should be able to access the [`ApiGatewayRequestContext`](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/model/ApiGatewayRequestContext.java) object as a [request attribute](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/s

[2018-03-21 21:49] mancini0 commented on #10
I am running into a similar issue using aws-serverless-java-container-spring 1.0, Spring-HATEOS 0.24,  and Spring Boot 2.0.  It is not a big deal for me since a workaround is mapping the a custom domain name to the  combined base url and stage, but I wonder if this ticket should be re-opened.

![image](https://user-images.githubusercontent.com/5806901/37739190-69c3c696-2d27-11e8-9652-2539947ccc5b.

[2018-03-21 21:57] mancini0 commented on #12
Thanks @SAPessi !

[2018-03-22 15:16] SAPessi commented on #10
@mancini0 you can configure the library to include the stage as part of the request url/context path. See [`AwsProxyHttpServletRequest`](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/internal/servlet/AwsProxyHttpServletRequest.java#L209).

The configuration is a singleton you can grab from the ha

[2018-03-22 15:26] SAPessi commented on #138
I think I can work around this. However, I have to rely on the X-Forwarded headers. Headers are easily spoofable and I'm not a huge fan of this solution so I've added lots of checking. If you want to enable custom domains, you will have to explicitly declare them in the `ContainerConfig` object. The ports are hard-coded as either 443 or 3000.

[2018-03-24 22:28] SAPessi opened #139 "Build is broken because of CVE-2018-7489"
* Framework version: 1.0.1
* Implementations: Jersey / Spring / Spring Boot / Spark

## Scenario
A Jackson critical vulnerability, [`CVE-2018-7489`](https://nvd.nist.gov/vuln/detail/CVE-2018-7489), is blocking the build. We are waiting for Jackson 2.9.5 that should address [the issue](https://github.com/FasterXML/jackson-databind/issues/1931).

[2018-03-25 20:54] allinwonder commented on #138
@SAPessi given the headers are spoofable, developers can override the default behavior easily when they need. This means if the application can allow developers to use an override header for example `"X-Serverless-Proto": "http"` to define an expected protocol. In this case, this workaround will only be valid in an explicit environment, its config doesn't depend on or influenced by other use cases

[2018-03-26 15:38] SAPessi commented on #138
Hey @allinwonder - I'm not as concerned about protocol as I am about the `Host` and `X-Forwarded-Port` headers, I'm afraid these would become an attack vector if your code relies on them to make downstream calls. I have asked the API Gateway team to add the full request URI to the context object.

For the time being, my approach is this:
1. For the protocol, I'll take whatever the header says (I'l

[2018-04-02 16:18] SAPessi commented on #139
[Jackson 2.9.5](https://mvnrepository.com/artifact/com.fasterxml.jackson.core/jackson-databind/2.9.5/usages) is out, we will include it in the next release.

[2018-04-03 09:00] marinr commented on #33
Java lambdas generally suffer high latency at cold start. So you may consider keeping it in warm state. That can be done by exposing `/ping` service just keep you lambda warm. That will reduce load time drastically.

[2018-04-03 09:34] alepeltier commented on #135
@SAPessi

I think it might be worth mentioning that you can't excude this package from the Jar.

[2018-04-03 09:54] alepeltier commented on #135
Also sorry for the slow reply I've been on holiday and didn't have access to my laptop

[2018-04-05 14:39] sedovalx opened #140 "JerseyHandlerFilter breaks query string encoding"
* Framework version: 1.0
* Implementations: Jersey

## Scenario

When the `JerseyHandlerFilter` handles requests that contain encoded `+` signs in query parameters it breaks the encoding. As a result, such a query parameter retrieved via `@QueryParam` in an endpoint is wrongly decoded. As an example, the parameter `param=p%2Fz%2B3` of the original request is decoded as `param=p/z 3` via the `@Quer