[2018-04-05 19:06] kdhunter opened #141 "AwsProxyHttpServletRequest does not respect Base64-encoded request bodies for form POST's"
* Framework version: 1.0 (and the code in repository as of the time I'm submitting this)
* Implementations: Spring

## Scenario

If an `AwsProxyRequest` is submitted which
1. Is a `POST` with a `Content-Type` of `application/x-www-form-urlencoded`, and
2. Has its body content Base64-encoded instead of being "in the clear"

then the form parameters are not decoded properly.

`AwsProxyHttpServletReq

[2018-04-05 23:16] SAPessi opened #142 "Performance improvements"
* Framework version: 1.0.1
* Implementations: Jersey / Spring / Spring Boot / Spark

* Add initialize() method and move framework initialization to it. By default the initialize method should be called by the static `getAwsProxyHandler()`
* Move initialization of `ObjectReader` and `ObjectWriter` to the constructor of `LambdaContainerHandler`

[2018-04-06 17:07] SAPessi commented on #138
This is resolved in the latest merge. 1.1 will go out shortly. Closing the issue

[2018-04-06 17:07] #138 closed

[2018-04-06 17:08] SAPessi commented on #134
The fix for this is included in the latest merge. Closing the issue

[2018-04-06 17:08] #134 closed

[2018-04-06 17:08] SAPessi commented on #135
I'll look into adding that to the docs. Closing this issue for now.

[2018-04-06 17:08] #135 closed

[2018-04-06 17:09] SAPessi commented on #136
Latest merge includes the new fields. Closing this issue.

[2018-04-06 17:09] #136 closed

[2018-04-06 17:09] SAPessi commented on #139
Updated dependency in latest merge. Closing this issue.

[2018-04-06 17:09] #139 closed

[2018-04-06 17:11] SAPessi commented on #140
Fixed in the latest release. I'm now using the raw query string with pre-encoding/decoding.

[2018-04-06 17:11] #140 closed

[2018-04-06 17:11] SAPessi commented on #141
Fixed in the latest merge.

[2018-04-06 17:11] #141 closed

[2018-04-06 17:12] SAPessi commented on #142
Both of these are addressed

[2018-04-06 17:12] #142 closed

[2018-04-06 17:15] SAPessi commented on #33
This is now addressed in #131 and #142. Closing this one.

[2018-04-06 17:15] #33 closed

[2018-04-06 17:52] sapessi opened #144 "Add new ContainerHandlerBuilder"
* Framework version: 1.2
* Implementations: Jersey / Spring / Spring Boot / Spark

## Scenario
To make it easier to customize the configuration of a container handler, we should add an additional builder object that developers can use to pass all necessary configuration parameters in the static block of their code

## Expected behavior
[code]

[2018-04-11 14:08] sebastientromp commented on #134
Thanks! I'm just right now getting back to serverless, your help is much appreciated :)

The doc already mentions archetype version 1.1, but it doesn't seem to exist yet. Am I correct?
I'll work with manual modifications in the meantime

Cheers!

[2018-04-13 20:12] sebastientromp opened #145 "Use an SNS trigger instead of API Gateway?"
Hello,

This is a question, as I'm totally new to the SNS / SAM world. Is it possible to use an SNS topic as a trigger, instead of the API Gateway (ie the handler should be triggered when a message is broadcast to the SNS topic, instead of when a specific URL is called)?

Thanks for your help :)

Seb

[2018-04-14 07:04] sebastientromp commented on #145
A few words on what I have done so far:

* The main handler implements now `RequestHandler<SNSEvent, Object>`
* My sam.yaml is
[code]

At this stage I can't run sam local, because of the following error:

[code]
I indeed don't want to expose an API endpoint - I'm only interested in triggering the function based on an SNS event.

I'll keep you updated if/when I make progress; in the meantime, any h

[2018-04-14 07:13] sebastientromp commented on #145
I managed to make it work with the above modifications +

[code]

Now looking into how to plugin in Sprint Boot in the mix.

[2018-04-14 14:50] SAPessi commented on #145
Hey @sebastientromp, you can't really plug spring boot in the mix here. At least not easily. The event from SNS is very differen from a request object. What do you want to achieve by using Spring Boot?

[2018-04-14 14:51] SAPessi commented on #134
Hey @sebastientromp, I can see the archetypes in [maven central](https://search.maven.org/#search%7Cga%7C1%7Ccom.amazonaws.serverless.archetypes). What error are you getting?

[2018-04-14 17:44] sebastientromp commented on #145
Hey, thanks for the quick reply!

It's mostly to use Spring dependency injection as well as the other goodies like repositories.

[2018-04-14 17:48] sebastientromp commented on #134
Indeed, it works well. I must have made a typo when typing the commands.

Sorry for the noise, and thanks for the help!

[2018-04-15 23:52] SAPessi commented on #145
If you are taking a Lambda-native approach, you may want to consider other light(er)-weight dependency injection frameworks. I'd take a look at [Guice](https://github.com/google/guice) and [Dagger 2](https://google.github.io/dagger/).

[2018-04-17 19:11] sebastientromp commented on #145
I've grown fond of Spring Boot, it provices a lot of stuff out of the box, so I'll try and make it work first.
Otherwise I'll move to something simpler.

Thanks for your advice!

[2018-04-18 23:46] boardthatpowder opened #146 "Lambdas implementing RequestStreamHandler are double decoding query parameters (Jersey)"
* Framework version: 1.1
* Implementations: Jersey

## Scenario
Client > APi Gateway > Lambda.

When using `JerseyLambdaContainerHandler proxyStream(inputStream, outputStream, context)` in a RequestStreamHandler implementation, query params are de-coded a second time before passed to the appropriate JAX-RS controller.  This causes issues with strings containing `+`, which are encoded as `%2B`, dec

[2018-04-19 00:03] mvd199 commented on #146
Using debugger I was able to track it down to the method:

org.glassfish.jersey.server.spi.internal.ParameterValueHelper.getParameterValues

It receives correct request “hello+world” and returns “hello world”.
It uses valueProviders argument to parse query parameters, I have not figured yet how those valueProviders configured.

Link to source:
https://github.com/jersey/jersey/blob/master/core-serv

[2018-04-19 00:15] mvd199 commented on #146
Was able to fix the issue by adding `@Encoded` attribute to the argument in my test handler.

[code]

[2018-04-19 22:59] SAPessi commented on #146
I've done some tests calling through the browser. The API Gateway endpoint hits a Lambda function (proxy integration) that simply dumps the event. This is what I see:

* `param1=/+=,` non encoded in query string: Results in `"/ =,"` as a value in the `queryStringParameters` map from API Gateway
* `param1=%2F%2B%3D` encoded as a browser would using https://www.urlencoder.org/: `"/+="`

The issue se

[2018-04-19 23:14] boardthatpowder commented on #146
Hey Stefano, I'm always encoding the query string that contains the `/+=` special characters before calling API Gateway, therefore I'm always sending it as `%2F%2B%3D` respectively.  Regarding my previous comment, the responses I provided of using a JAX-RS controller both with and without the `@Encoded` annotation both had the encoded `%2F%2B%3D` value passed as the query string parameter to API G

[2018-04-19 23:48] SAPessi commented on #146
Here's an update on the second issue. You are calling API Gateway with the encoded value of `%2F%2B%3D`. API Gateway receives this and automatically decodes it. What I see in the map of query string parameters is `/+=`. Not to interfere with the values, I use Jersey's UriBuilder to set the query string with the exact same value I was passed from API Gateway:
* `/` = invalid character after the url

[2018-04-20 04:58] sebastientromp commented on #145
In the end I've moved out of Spring Cloud/Boot and am using Guice for DI, so I'm doing some stuff manually instead of relying on Spring's implementations, but it works well enough for what I want to do for now.

Thanks for your help!

[2018-04-20 04:58] #145 closed

[2018-04-20 14:46] boardthatpowder opened #147 "PUT request with no body fails (Jersey)"
* Framework version: 1.1
* Implementations: Jersey

## Scenario
REST PUT requests for managing relationships between resources generally have no request body compared with REST PUT requests that manage updating resource attributes do.

Attempting a REST PUT with no request body fails.  This was working in framework version 0.7.

## Expected behavior
REST PUT with no body returns successfully.

##

[2018-04-20 15:06] SAPessi commented on #147
Mh, I cannot reproduce in local with a unit test. My resource is defined like this:
[code]

The test is defined like this:
[code]

I'm getting a `200` response. What am I missing?
[code]

[2018-04-22 02:36] cloud9aws commented on #142
@SAPessi Thanks for bringing in the performance improvements by 1.1. release. Is there a benchmark testing to show mow much it reduce the cold start time, to what degree ?

[2018-04-24 23:08] ktamilvanan opened #148 "APIGateway Stage in spring boot lambda handler"
I am using the SpringBootLambdaContainerHandler as given in the example

[code]
I understand that I can user handler.activateSpringProfiles("profile"). I would like to use the api gateway stage and activate the corresponding profile. Can someone provide an example of how to retrieve the stage from the request. When i try to read the inputstream,

error is thrown on the aws lambda.

Thanks.

[2018-04-29 11:13] jannylund commented on #19
@SAPessi whatever happened with this, is play support still on the todo list?

[2018-05-01 14:51] SAPessi commented on #19
Hi @jannylund. Yes, this is still on the todo list. I'm a bit concerned on the cold start time for Play. We'll take a look at this soon.

[2018-05-09 14:09] jogep opened #149 "Built in support for Struts2 based lambda functions"
* Framework version: 2.5.16
* Implementations: Struts2

## Scenario
I created a similar Struts2 Handler like for Spring based Lambdas. This functionality could mayby directly included into this project?

Struts2 Plugin:
https://github.com/struts-community-plugins/struts2-cloud-support/tree/master/struts2-aws-lambda-support-plugin

Struts2 Lambda Handler Implementation:
https://github.com/struts-co

[2018-05-09 16:32] SAPessi commented on #149
Hi @jogep - looks really good. We'd be happy to include this in the framework to give official Struts2 support. Can you update it to work with the latest version of the framework and send us a pull request. We can do code review and request changes in the pull request.

[2018-05-09 16:37] SAPessi commented on #148
Hi @ktamilvanan, apologies for the delay. The stage is available in the API Gateway context. The context object is included in the servlet request as [an attribute](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/internal/servlet/AwsProxyHttpServletRequestReader.java#L38). From your application's r

[2018-05-17 12:03] PierrePrimot opened #150 "Character encoding weird effects with letter case sensitivity in ContentType header"
* Framework version: 1.1
* Implementations: all ?

Let's try to explain the problem with 3 examples :

# Raw problem

**Problem 1 : "Is this setCharacterEncoding effect valid ?"**
[code]
It seems to me that "; charset=UTF-8" is not a valid Content-Type...

**Problem 2 : "Double raw media type when forcing the setCharacterEncoding"**
[code]

**Problem 3 : "Letter case in content-type header changes

[2018-05-17 15:13] SAPessi commented on #150
Hey @PierrePrimot, I'll look into the `setCharacterEncoding` method, seems to be where the issue is. For unit tests, I would use the request builder just like we do ourselves: https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-spring/src/test/java/com/amazonaws/serverless/proxy/spring/SpringAwsProxyTest.java#L65

[2018-05-18 08:49] PierrePrimot commented on #150
Hi @SAPessi, thx for the reply and advice. You can find a unit test class for the 3 cases in attachement to this message !
[TestCharsetSetting.txt](https://github.com/awslabs/aws-serverless-java-container/files/2016120/TestCharsetSetting.txt)

[2018-05-23 02:19] sergeome opened #151 "Java Spark Produces 404 for the root url"
* Framework version: 1.1
* Implementations: Spark

## Scenario
Very basic "Hello World" app.

`Folder Structure`

[code]

`SparkResources`

[code]

## Expected behavior
1. User should be able to see "This is root page" when navigates to the root url "/"
2. User should be able to see "This is example page" when navigates to the "/example"

## Actual behavior
1. User sees "404 page not found" when n

[2018-05-23 02:34] seantcanavan commented on #145
@SAPessi can you confirm then that `aws-serverless-java-container` with Spring Boot is only compatible with `AwsProxyRequest` via API Gateway and is not compatible with SNS event triggers for lambda?

[2018-05-23 13:41] SAPessi commented on #151
Hi @sergeome, the issue seems to be in the SAM template. When you configure API Gateway with this event structure  below API Gateway only accepts requests in sub-resources - ie there needs to be a /something.
[code]

To make the `GET` method on the root work, you should configure the following structure:
[code]

[2018-05-23 13:42] SAPessi commented on #145
@seantcanavan you can build custom event/output models by implementing the `RequestReader` and `ResponseWriter` interfaces. By default, we only provide a reader/writer for API Gateway's proxy requests.

[2018-05-23 18:23] seantcanavan commented on #145
Thanks you're a life saver. I've been pouring over the code. Is this a decent first attempt?

``
@Component
public class AmazonSNSRequestReader extends RequestReader<AwsProxyRequest, SNSEvent> {

    private ObjectMapper objectMapper;

    @Autowired
    public AmazonSNSRequestReader(ObjectMapper objectMapper) {
        this.objectMapper = objectMapper;
    }

    @Override
    public SNSEvent rea

[2018-05-23 20:46] ktamilvanan commented on #148
@SAPessi Thanks for the reply. We will be deploying multiple copies of the lambda for different stages. But we wanted to get the profile from the api gateway context. Will update when i have this working.

[2018-05-24 00:56] sergeome commented on #151
Hi, @SAPessi. Thank you a lot for looking at that problem.
Sorry for this issue in SAM template.

I modified `sam.yaml` as you suggested and pushed my changes to the repo. However, the root url "/" still produces 404 (although it is routed correctly right now I suppose).

I suspect it might be an issue with my environment setup. Can you please confirm that it does work for you in this repo? Thank

[2018-05-27 19:00] dotekien opened #152 "Extract lambda environment variables"
* Framework version: 1.1
* Implementations: Jersey / Spring / Spring Boot / Spark

## Scenario
Extract lambda environment variables. For example:
--environment Variables={S3_BUCKET=Test}

## Expected behavior
get the map <variable_Name, variable_Value>

## Actual behavior
There is not support right now

## Steps to reproduce

## Full log output

[2018-05-27 19:57] SAPessi commented on #152
Hey @dotekien, this framework does not touch the environment variables at all. Lambda sets them as variables in the OS when it starts your process. You need to read them using the standard Java syntax:

[code]

[2018-05-27 19:59] SAPessi commented on #151
Interesting. Looks like the `path` property of the proxy event is set to `""` and not `"/"`. Have you tried running this in Lambda (not SAM local)? Does it work there? Just trying to figure out whether the fix is only in the library or in SAM local as well.

[2018-05-27 20:54] dotekien commented on #152
You are right.
I think it is related to the SAM cli issue which does not allow to have custom variable name.
If I put DEPLOY_ENV in either env.json or in template.yaml, it is unable to find it via System.getenv()

[2018-05-27 21:16] #152 closed

[2018-05-27 23:47] SAPessi commented on #151
Thanks @sergeome, I'll investigate this week.

[2018-06-05 22:09] sisiguo opened #153 "java.lang.ClassNotFoundException: my.service.StreamLambdaHandler when running Maven archetype project locally using aws-sam-cli"
* Framework version: 1.1
* Implementations: Spring Boot

## Scenario
I'm trying to create a new serverless Spring Boot application using the provided Maven archetype and following the instructions here: https://github.com/awslabs/aws-serverless-java-container/wiki/Quick-start---Spring-Boot.

However, when I try running the newly created project locally through the aws-sam-cli `sam local start-api

[2018-06-07 19:41] aldilaff opened #154 "JSON String as a Query Parameter throws error"
* Framework version: 1.1
* Implementations: Jersey

## Scenario

I have a GET endpoint that takes in a String query parameter:
[code]
When the endpoint is called with a simple string as a parameter it works as expected. For example `.../search?query=helloWorld` would work as expected. However, when the function is called with a JSON string as a parameter I am seeing an IllegalArgumentException. Ma

[2018-06-14 14:02] nikita-clearscale opened #155 "Requests hanling clarification with lambda Context"
Hello,

I have not found any documentation about `com.amazonaws.services.lambda.runtime.Context` usage.
For example what if it is needed to get rest of time lambda time:

    import com.amazonaws.services.lambda.runtime.Context

    @RestController
    @EnableWebMvc
    public class PetsController {
        @RequestMapping(path = "/pets", method = RequestMethod.POST)
        public void createPet(

[2018-06-14 14:40] SAPessi commented on #155
Hey @nikita-clearscale, the Lambda context, alongside the API Gateway context properties, is written as an attribute on the request. You can inject the `HttpServletRequest` as a parameter to your method and then use the `getAttribute` method. See the [`RequestReader`](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws

[2018-06-14 14:42] SAPessi commented on #154
Hey @aldilaff, you should URLEncode the paraters - this is how a browser would behave.

[2018-06-14 14:44] SAPessi commented on #153
Hey @sisiguo, we really need the aws-sam-cli folks to fix this. However, I think we may switch to Maven's assembly plugin instead of Shade going forward to avoid this.

[2018-06-14 19:51] aldilaff commented on #154
Hi @SAPessi, thank you for the reply.

I tried with `.../search/query%3D%7B%22name%22%3A%22faisal%22%7D` and i'm getting the same error:

[code]

I initially saw the issue while using [AWS SAM CLI](https://github.com/awslabs/aws-sam-cli) locally. However, I deployed to AWS and I am still seeing the error.

[2018-06-15 00:12] SAPessi commented on #154
You cannot have json as part of the path. You'd request should go to `/search?query=%7B%22name%22%3A%22faisal%22%7D`. Please keep in mind that it is not best practice to send JSON data in a query string parameter - I'd do it only if it's absolutely necessary. It would be much better to send parameters individually. for example: `/search?name=faisal`.

[2018-06-15 02:31] evanjaaahn opened #156 "Spring RequestParam defaultValue & required attributes ignored"
Using v1.1 of the container and spring-webmvc 5.0.7.RELEASE (tried 5.0.3.RELEASE as well), RequestParam initialization of boolean parameters is somewhat broken.

I have an endpoint defined roughly as:
[code]

If `boolVal` is not specified, I'm seeing the exception at the bottom of this description. I've tracked it down to a difference between v0.8 and v0.9 in which `AwsProxyHttpServletRequest::get

[2018-06-15 16:09] aldilaff commented on #154
Good catch, sorry about that.
I tried with `/search?query=%7B%22name%22%3A%22faisal%22%7D` and I am getting the same error:
[code]
We are currently working around it by switching the endpoint to a PUT and sending in the JSON data in the body but I was wondering if anyone else had the same issue?

Thank you again @SAPessi for the help!

[2018-06-15 17:12] mpostupalski opened #157 "Can't read values from property file"
* Framework version: 1.1
* Implementations: Spring Boot

## Scenario

Once app is starting I want to have possibility to read values from properties file ie. application.yml. I have defined app as below:

[code]
Once app is up and running `clientId` should be populated with values provided in the file.
I have configured handler as provided in Readme file:

[code]

## Expected behavior

Filed `clie

[2018-06-15 18:29] SAPessi commented on #154
I suspect it may have something to do with API Gateway/SAM CLI url-decoding the parameters and the library not re-encoding them before passing them to the framework. I'll mark it as a bug and address it with the next release.

[2018-06-15 18:32] SAPessi commented on #156
Thanks for the report @evanjaaahn, this is indeed a bug in the library. The `getParameterValues()` should return null if it's empty ([JavaDoc here](https://docs.oracle.com/javaee/7/api/javax/servlet/ServletRequest.html#getParameterValues-java.lang.String-)). I'll address this in the next release.

[2018-06-15 18:35] SAPessi commented on #157
Hey @mpostupalski, can you make sure that the yml file is included in the shaded jar? Let me know if it's there and I'll investigate further.

[2018-06-15 18:44] mpostupalski commented on #157
I’m pretty sure that this file is located in the jar, @SAPessi . I can retrieve values using `env.getProperty(“foo.clientId”)` syntax. So somehow file is parsed.

[2018-06-15 18:56] mpostupalski commented on #157
I found similar issue described under the link: https://stackoverflow.com/questions/36081908/using-spring-boot-cloud-with-amazon-aws-lambda-does-not-inject-values

[2018-06-15 18:58] SAPessi commented on #157
Seems plausible.  To avoid this in the future, I'll migrate the archetypes and samples to use the assembly plugin

[2018-06-15 19:11] mpostupalski commented on #157
An example with Gradle is also welcome ;-)

[2018-06-18 09:45] mpostupalski commented on #157
Ok, I found a workaround. The problem is mainly with `application.yml` file. With `application.properties` it works, but you have to provide path to the file with `PropertySource` annotation as follow:

[code]
However it doesn't work perfectly as I tried turn off a banner (`spring.main.banner-mode=off`) but it still appears in the CloudWatch logs.

[2018-06-18 15:40] SAPessi commented on #154
I did some testing on this. I can confirm that API Gateway automatically decodes the query string parameter values. However, it also escapes them to fit in the JSON values. Your parameter `%7B%22name%22%3A%22faisal%22%7D` appears in the `queryStringParameters` map as `{\"name\":\"faisal\"}`. If I just re-encode the content it will come through as `%7B%5C%22name%5C%22%3A%5C%22faisal%5C%22%7D`, whic

[2018-06-18 15:41] SAPessi commented on #157
Does it read the yaml file is you specify it in the `@PropertySource` annotation?

[2018-06-18 20:04] mpostupalski commented on #157
Unfortunately this annotation does not work with yaml files.

[2018-06-18 20:53] SAPessi commented on #156
Hey @evanjaaahn, any chance you can test with the `1.2-SNAPSHOT` in the `core` branch of this repo? Simply download or clone the `core` branch to your local box then run `mvn install`. Once that's installed in your local cache you should be able to just change the dependency in your pom to `1.2-SNAPSHOT`

[2018-06-18 20:53] SAPessi commented on #154
Hey @aldilaff, any chance you can test with the `1.2-SNAPSHOT` in the `core` branch of this repo? Simply download or clone the `core` branch to your local box then run `mvn install`. Once that's installed in your local cache you should be able to just change the dependency in your pom to `1.2-SNAPSHOT`

[2018-06-18 20:53] SAPessi commented on #146
Hey @boardthatpowder, any chance you can test with the `1.2-SNAPSHOT` in the `core` branch of this repo? Simply download or clone the `core` branch to your local box then run `mvn install`. Once that's installed in your local cache you should be able to just change the dependency in your pom to `1.2-SNAPSHOT`

[2018-06-18 22:28] SAPessi commented on #155
@nikita-clearscale just noticed that this is discussed in the [documentation](https://github.com/awslabs/aws-serverless-java-container/wiki#security-and-api-gateway-context). Any suggestion on what we should do to make this more visible?

[2018-06-18 22:58] SAPessi commented on #151
Hey @sergeome, any chance you can test with the `1.2-SNAPSHOT` in the `core` branch of this repo? Simply download or clone the `core` branch to your local box then run `mvn install`. Once that's installed in your local cache you should be able to just change the dependency in your pom to `1.2-SNAPSHOT`

[2018-06-18 23:01] SAPessi commented on #148
Resolving since I haven't heard back in a while.

[2018-06-18 23:01] #148 closed

[2018-06-19 16:35] SAPessi commented on #150
hey @PierrePrimot, any chance you can test with the `1.2-SNAPSHOT` in the `core` branch of this repo? Simply download or clone the `core` branch to your local box then run `mvn install`. Once that's installed in your local cache you should be able to just change the dependency in your pom to `1.2-SNAPSHOT`

[2018-06-19 17:09] SAPessi commented on #147
Hey @boardthatpowder, any hint you can give me on this?

[2018-06-19 20:12] SAPessi commented on #153
Looks like this was fixed in the latest version of the SAM CLI. resolving.

[2018-06-19 20:12] #153 closed

[2018-06-19 21:46] OnkarKadam opened #158 "Illegal Argument Exception when using domain name as resource identifier on the REST API"
* Framework version: 1.1
* Implementations:  Spring Boot

## Scenario
I am trying to implement an API which takes in a domain name as the Path parameter. When I test this API locally using SAM it works as expected but when I try to test it on AWS Lambda I get the exception I mentioned below.

Steps I followed:
 - Created the app using the maven archetype
 - Added endpoint to get information about

[2018-06-20 15:11] jogep commented on #149
Hi @SAPessi , I created the PR for this feature request.

https://github.com/awslabs/aws-serverless-java-container/pull/159

[2018-06-20 17:44] SAPessi commented on #158
Thanks for the report @OnkarKadam, I suspect this has something to do with url encoding. Perhaps SAM CLI encodes the path correctly, whereas API Gateway passes the path in the event decoded. I'll sync-up with the SAM CLI team to make sure the behavior is the same and fix the issue in the library.

[2018-06-20 19:16] SAPessi commented on #158
Hey @OnkarKadam, figured out what the problem is. It's actually in the Spring Boot configuration and not with the framework - therefore closing this issue.

Spring Boot is treating your `.com` extension as if it was a file. After you have solved that initial issue, you'll run into a really annoying content negotiation issue with Spring. This [blog post](https://blog.georgovassilis.com/2015/10/29/s

[2018-06-20 19:16] #158 closed

[2018-06-20 19:45] sapessi opened #160 "Block build on code coverage"
Include [Jacoco](https://www.jacoco.org/jacoco/) plugin in the build process and block build unless code coverage is > 70%.

[2018-06-20 20:12] OnkarKadam commented on #158
Thanks @SAPessi that worked.

[2018-06-20 22:02] SAPessi commented on #150
release 1.1.1 is going out to maven central

[2018-06-20 22:02] #150 closed

[2018-06-20 22:02] SAPessi commented on #156
release 1.1.1 is going out to maven central

[2018-06-20 22:02] #156 closed

[2018-06-20 22:03] SAPessi commented on #154
release 1.1.1 is going out to maven central

[2018-06-20 22:03] #154 closed

[2018-06-20 22:03] SAPessi commented on #151
release 1.1.1 is going out to maven central

[2018-06-20 22:03] #151 closed

[2018-06-20 22:03] SAPessi commented on #146
release 1.1.1 is going out to maven central

[2018-06-20 22:03] #146 closed

[2018-06-21 05:33] Juchar opened #162 "Error using List as @RequestParam"
* Framework version: 1.1
* Implementations: Spring Boot

## Scenario
Using `List<T>` as a `@RequestParam` and executing the request `/test?list=1,2,3`.

## Expected behavior
Executing the request locally by starting Spring Boot the list is filled correctly.

## Actual behavior
An exception occurs.

## Steps to reproduce
Implement the following method in a controller:

[code]

sam.yml:
[code]

Exec

[2018-06-21 05:50] Juchar opened #163 "Pageable initialized only partly"
* Framework version: 1.1
* Implementations: Spring Boot

## Scenario
Execute a paged and sorted request by using the parameters `?page=0&size=10&sort=attribute,desc`
and Spring Data Commons:

[code]

[See here for sorting parameters](https://docs.spring.io/spring-data/rest/docs/current/reference/html/#paging-and-sorting.sorting).

## Expected behavior
The method parameter `org.springframework.data

[2018-06-21 06:16] Juchar commented on #163
Nevermind, was a different issue. the pageable seems to work!

[2018-06-21 06:16] #163 closed

[2018-06-21 10:07] Juchar commented on #133
@eduramiba Thank you! How would you exclude the embedded tomcat in this case?

[2018-06-21 10:20] eduramiba commented on #133
@Juchar I guess you can use the goal options, https://maven.apache.org/plugins/maven-dependency-plugin/copy-dependencies-mojo.html

But if your dependency has `provided` scope, it will not be copied as `includeScope` is runtime.

[2018-06-21 12:01] Juchar commented on #133
@eduramiba Ok, thank you.

I changed you approach a little bit and it is also working (you only need to configure the assembly plugin this way):

[code]

And the `bin.xml`:
[code]

[2018-06-21 14:56] SAPessi commented on #162
Hey @Juchar, the exception thrown says that Spring cannot instantiate a `List` - rightly so, because `List` is an interface. Have you tried declaring the parameter as an implementation of `List`? For example `ArrayList`?

[2018-06-22 05:45] Juchar commented on #162
@SAPessi
Hey, that was my intention too, so I debugged a little bit further. Adding `@RequestParam` to the parameter solves the issue when using it locally (by executing Spring Boot), then everything works out, no instantiation errors while still keeping the `List<>` interface.

Additionally I also updated the library to `1.1.1`.

Now I do not have an error anymore, but the result is also not corr

[2018-06-22 15:02] SAPessi commented on #162
Hey @Juchar, the first issue is expected. It's caused by the fact that API Gateway uses a simple `Map` to send query string parameters to Lambda - for this reason the parameter `list` only contains the last value that was read for it.

In the second case, it looks like Spring is not `URLDecoding` the parameter before trying to read it as a list. This is a change we made for version `1.1.1`, fixes

[2018-06-22 15:39] SAPessi commented on #162
Sigh, it does indeed look like a bug. I'll work on it and publish a 1.1.3 later today. I'll resolve this tickets once it's out.

[2018-06-22 16:46] SAPessi commented on #162
Hey @Juchar, could you test with `1.2-SNAPSHOT` in the `core` branch of this repo?

[2018-06-22 19:08] SAPessi commented on #162
@Juchar, Release `1.1.3` is making its way to maven central and it should fix this issue.

[2018-06-22 19:08] #162 closed

[2018-06-25 05:59] Juchar commented on #162
@SAPessi Did not have the time on the weekend but just tried it out and it seems that everything works. Thank you for the quick solution! Great support!

[2018-06-25 10:08] utsavsohal opened #166 "/ping Controller does not hit"
* Framework version: 1.0
* Implementations: Jersey / Spring / Spring Boot / Spark: Spring Boot

## Scenario
I download the code given by you for spring boot and deploy on Lambda.
When I call that Lambda function using AWS API Gateway it works
(https://*******.execute-api.us-east-1.amazonaws.com/testStage/myLambda)
, ie. spring boot server starts but when I hit the URL (https://*******.execute-api.

[2018-06-25 16:01] SAPessi commented on #166
Hey @utsavsohal, did you deploy with the SAM template? What do you see in the CloudWatch Lambda logs? by default the stage published by SAM is `prod`.

[2018-06-26 07:28] utsavsohal commented on #166
Hey @SAPessi,
Thanks For the Reply,
I checked the SAM(sam.yml) details then I setup the API gateway with  "Prod" as stage name.
Then I Hit the URL : **https://{API_ID}.execute-api.us-east-1.amazonaws.com/Prod/ping** but it
is still inaccessible as it is showing **{"message":"Missing Authentication Token"}.**

Please Check the API Details:
Invoke URL: https://{API_ID}.execute-api.us-east-1.amazonaw

[2018-06-26 13:31] eugenevd commented on #133
I've tried both the suggested examples provided.
The first results in my own code (Handler) to be added to it's own jar, and then along with the other dependecy jars, is put into "lib/" directly inside the zip.
lib/myHandler.jar
lib/dep1.jar

The second example puts all the dependencies in lib/ again, but at the root of the zip the directory structure;
eg:
com/company/Handler.class
lib/dep1.jar

E

[2018-06-26 13:41] SAPessi commented on #166
The `{"message":"Missing Authentication Token"}` likely means that API Gateway cannot find the resource/method you are trying to call. The call never hits your Lambda function and therefore it is not something that we can fix in this framework.

If you have used the SAM template to deploy the API, check the `Outputs` tab of the CloudFormation stack in the AWS console, the full API endpoint to call

[2018-06-26 13:43] SAPessi commented on #133
Hi @eugenevd - I'm on the road right now but I'll try to replicate your issue with the Shade plugin and see if we can find a fix on Thursday. As for the assembly plugin questions, I'll let @eduramiba and @Juchar chime in since they clearly know more than me on the topic.

[2018-06-27 03:12] dotekien opened #167 "@ControllerAdvice does not work"
* Framework version: 1.1
* Implementations: Spring Boot

## Scenario
@ControllerAdvice
public class DefaultControllerAdvice {
        @ExceptionHandler(ServiceException.class)
	@ResponseBody
	public ResponseEntity<ErrorResponse> handleServiceException(ServiceException e) {
		return convertServiceException(e);
	}
}

## Expected behavior
Controller throws an exception and ControllerAdvice will trans

[2018-06-27 06:31] Juchar commented on #133
Hi @eugenevd - the assembly configuration I mention above will produce a zip file following [these](https://docs.aws.amazon.com/lambda/latest/dg/create-deployment-pkg-zip-java.html) conventions.

For me it worked out of the box. Maybe you could show us the `sam.yml`, possibly your error is somewhere else?

This is the relevant part from mine:

[code]

[2018-06-27 13:12] SAPessi commented on #167
We use `@ControllerAdvice` successfully in our unit tests. Take a look at [this application](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-spring/src/test/java/com/amazonaws/serverless/proxy/spring/echoapp/RestControllerAdvice.java). Why do you think this library is preventing Spring Boot from loading your `@ControllerAdvice`-annotated class?

[2018-06-27 15:16] eugenevd commented on #133
To illustrate my situation, I've forked this project to https://github.com/eugenevd/aws-serverless-java-container and used the springboot pet-store sample as a base.

Therein two branches, one each for each of the examples posted by @eduramiba (branch issue133-comment302648748) and @Juchar (branch issue133-comment399079415)
master contains no changes except for a readme file.

**Branch: master**
N

[2018-06-27 16:21] dotekien commented on #167
I am using the spring-boot-starter-parent 2.0.2 vs in the example is 1.5.9. Do you think that could cause the issue?

[2018-06-27 19:47] dotekien commented on #167
1) In the echoapp, the controllerAdvice is detected but you have no test to see if the controller advice is invoked to catch the exceptions from controller.
2) In this springboot app: https://github.com/awslabs/aws-serverless-java-container/tree/master/samples/springboot/pet-store, I added controller advice and the flow is the same as in my app: ErrorPageFilter -> LambdaContainerHandler. There is

[2018-06-28 03:37] jschwartz73 opened #168 "NPE when getting request params from spark"
* Framework version: 1.2-SNAPSHOT
* Implementations: Spark

## Scenario
Deployed the pet-store sample application and did a
```curl -X GET https://xxx.execute-api.us-east-1.amazonaws.com/Prod/pets```

## Expected behavior
Retrieve the list of pets

## Actual behavior
NullPointerException in CloudWatch logs

## Steps to reproduce
Follow steps in the samples/spark/pet-store/README.md file.  Once the

[2018-06-28 10:38] ianaz commented on #105
Have the same issue (/swagger-ui.html returns Gateway timeout). Did you @quantum-fusion solve somehow?

[2018-06-29 00:55] dotekien commented on #167
I figure the root cause of the controller advice issue.
I used the pet-store project as my starter and the issue comes from this HandlerExceptionResolver setup. Remove the below code resolve the issue.

/*
     * optimization - avoids creating default exception resolvers; not required as the serverless container handles
     * all exceptions
     *
     * By default, an ExceptionHandlerExceptionRe

[2018-06-29 00:55] #167 closed

[2018-06-29 07:14] Juchar commented on #133
@eugenevd Puh, I checked out the branch and created the zip. After having a look everything looks fine to me. I have to admit that I ran out of ideas, from my point of view it should just work out.

[2018-06-29 13:11] eugenevd commented on #133
@Juchar So you're also getting errors? The examples posted here by yourself and @eduramiba ; is there a sample where they're working somewhere?

[2018-06-29 13:47] Juchar commented on #133
@eugenevd I did just package it, not deploy it. For my lambda in my project the configuration I provided here works fine.

[2018-06-29 14:31] SAPessi commented on #167
Thanks @dotekien - I will reopen this issue and use it to track any changes. Perhaps I'll update the comments in the sample to reflect this.

[2018-07-01 14:02] rmaugusto commented on #58
I needed to integrate Spring + Lambda + Apache Camel.
I created a demo project for that with cold start optimized.

https://github.com/rmaugusto/spring-camel-integration

Native support for Apache Camel Route would be great.

[2018-07-02 07:47] eugenevd commented on #133
I was hoping to find a working example that I can look at, to compare with, to see where it is that I'm going wrong...

[2018-07-05 15:12] SAPessi commented on #58
Thanks @rmaugusto, I'll look through it. Do you think we should include something special in the library specifically for Camel or is a sample enough?

[2018-07-05 20:31] dotekien opened #171 "Exception when to create request via aws lambda invoke"
* Framework version: XX
* Implementations: Jersey / Spring / Spring Boot / Spark

## Scenario
Using
aws lambda invoke \
--invocation-type RequestResponse \
--function-name SomeFunction \
--region us-east-1 \
--payload file://file-path/input.txt \
--profile adminuser \
outputfile.txt

## Expected behavior
Mapping the request which is NOT from API gateway proxy mode to Spring Request

## Actual beha

[2018-07-05 21:32] SAPessi commented on #171
What's the content of `file://file-path/input.txt` you are passing in? Is it a valid API Gateway proxy event object?

[2018-07-06 02:35] dotekien commented on #171
Yeah, it sounds like the system I am working with has its own way to transform the request to event object and also expect the response in a specific format.

Do you have any interface which I can write a custom function to handle this input and output?

[2018-07-06 03:37] SAPessi commented on #171
Yes, the event is slightly different from what API Gateway sends as proxy. The main issue with that event above is that there is no `parameters` property, it should be `queryStringParameters`. Also, `body` is a string, not a json object:

[code]

[2018-07-06 13:11] ixidion opened #172 "NPE with Spring Boot Example"
* Framework version: 1.13
* Implementations: Spring Boot

## Scenario
NPE with Spring Boot Example and calling default URL:
`curl -X GET https://xxx.execute-api.eu-west-1.amazonaws.com/Prod/pets`

## Expected behavior
10 Pets are returned. HTTP code 200.

## Actual behavior
Error - HTTP Code 500

## Steps to reproduce
I followed installation procedure and called the URL. For a local SpringBootTest

[2018-07-06 14:50] dotekien commented on #171
Do you have any guide to write a customized reader/writer to resolve the format issue?

[2018-07-06 15:01] SAPessi commented on #172
Hey @ixidion, the issue was addressed in #168 and the code is committed in the SNAPSHOT version in this repo. Since 1.2 release is close, I was planning to wait for it.

[2018-07-06 15:06] SAPessi commented on #171
The [`RequestReader`](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/RequestReader.java) and [`ResponseWriter`](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/ResponseWriter.java) are not particul

[2018-07-06 15:13] #172 closed

[2018-07-06 15:33] dotekien commented on #171
Thanks.
I do agree with your solution and waiting for your wiki page.
Where is the best place to map a POJO to an AwsProxyRequest object ?

[2018-07-06 17:03] SAPessi commented on #171
I would do it inside the Lambda handler. Receive your custom event type, then have a utility method that can take the values out of your object and populate an AwsProxyRequest. Then you can just call the `proxy()` method of the `LambdaContainerHandler` with the new request.

[2018-07-06 18:13] dotekien commented on #171
In LambdaContainerHandler, you have
public void proxyStream(InputStream input, OutputStream output, Context context) throws IOException. Is there anyway to override this method? Without modify the framework?

[2018-07-06 18:15] SAPessi commented on #171
Use the [`proxy()`](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/internal/LambdaContainerHandler.java#L160) method directly. All framework implementations of the library support the proxy method.

[2018-07-06 20:48] dotekien commented on #171
Does the framework has any RequestHandler for this kind of interface ResponseType handleRequest(Object obj, Context) ?

[2018-07-07 00:56] SAPessi commented on #171
No, it only supports specific types. I envision you doing something like this (using Jersey as an example):

[code]

[2018-07-07 01:17] dotekien commented on #171
Yes, I just implement something similar to your above guide for SpringBoot and it works.
Now, I am able to test in local like this sam local invoke -e event.json "DemoFunc" :D

[2018-07-08 13:41] rmaugusto commented on #58
I think the biggest difficulty was integrating the dispatcherServlet into the camel-rest (camel-restlet or camel-servlet) but it was possible to work around using ServletWrappingController.
A sample is enough =)

[2018-07-13 07:41] Juchar opened #173 "NullpointerException if calling Lambda without parameters"
* Framework version: 1.1.3
* Implementations: Spring Boot (version of `spring-boot-starter-parent`:`2.0.3.RELEASE`, therefore using spring `5.0.7.RELEASE`)

## Scenario
I have implemented a custom error controller with the possibility to include the trace if the query parameter `trace` is specified:

[code]

Afterwards I call my lambda without any parameters, this produces an error.

## Expected b

[2018-07-13 07:54] Juchar commented on #173
Ok, seems that this is the same issue as in #172  and has been resolved with `1.2-SNAPSHOT`.

[2018-07-13 07:54] #173 closed

[2018-07-15 04:44] jrd281 commented on #133
Did you get this resolved?  I've got an issue where if I build it on my local machine, everything works.  But if I build it on CodeBuild, it doesn't work.

[2018-07-19 03:31] jschwartz73 commented on #168
The pull request resolved the issue

[2018-07-21 05:31] jdinerstein opened #174 "The Spring example is failing via the API Gateway straight out of the box."
* Framework version: 1.1.3
* Implementations: Spring

## Scenario
I built the sample Spring example project.  I used the commands as given in the readme and deployed it.
 This worked perfectly.

Then I tested the lambda directly from the lambda console, with the event posted here in another issue, directly and it worked correctly.  Lots of output with a statusCode of 200.

## Expected behavior
Hit

[2018-07-21 05:32] jdinerstein commented on #174
On further review it appears that there are a couple of exceptions being thrown in this log.  I can post more of it here if it is needed.

[2018-07-21 14:59] jdinerstein commented on #174
First thing this morning, after a bit of rest I decided to see if other versions proved out any differently.  In reviewing the pom.xml file last night before calling it I realized that the other libraries were all explicit versions. So the only one that would be changing was this one.

I rolled back to 0.9.1 as that seemed old enough and it failed to compile.  A result which was not entirely unexp

[2018-07-21 15:01] SAPessi commented on #168
I'll keep it open until the fix is published to maven

[2018-07-21 15:02] SAPessi commented on #174
Yes, I suspect this is the issue reported in #168. I'd suggest you use version 1.2-SNAPSHOT from the master branch. I'll publish a patch soon as 1.1.4

[2018-07-21 15:12] jdinerstein commented on #174
OK.  Thanks for the response.  I will do so.

Thanks for the great project.

[2018-07-27 13:09] eduramiba opened #175 "Requests with application/json Content-Type do not correctly assume UTF-8 charset"
* Framework version: 1.1.1 - 1.1.3
* Implementations: All

## Scenario

It seems that the changes for #150 broke the assumption that all JSON is UTF-8, by definition.

## Expected behavior

Parsing a JSON request body to a Java type should assume UTF-8 charset.

## Actual behavior

It does not correctly handle characters out of ascii set.

## Steps to reproduce

Send request with `appplication/jso

[2018-07-27 14:46] SAPessi commented on #175
Hey @eduramiba, the reason for the change is that HTTP 1.1 says that the [default charset is  `ISO-8859-1`](https://www.w3.org/International/articles/http-charset/index). We could automatically detect `UTF-8` and adjust the expected charset if one is not specified in the `Content-Type` header. However, this would break away from the specs and I'm concerned it may affect existing applications that

[2018-07-27 14:55] eduramiba commented on #175
I see, but the thing is that in version 1.1 it works just specifying `application/json` but no longer does after 1.1.1, and it seems almost all REST clients sush as httpie or even Jersey client only send that. Maybe we could add an specific case just for json, when no charset specified, and default to that?

See https://stackoverflow.com/questions/9254891/what-does-content-type-application-json-ch

[2018-07-27 15:01] SAPessi commented on #175
Perhaps I could add a field for this in the [`ContainerConfig`] object, default it to `ISO-8859-1`, but give you the ability to change this whenever you want:

[code]

Thoughts?

[2018-07-27 15:04] eduramiba commented on #175
Yeah I guess that could be a good solution.

[2018-07-30 09:55] mac10046 opened #176 "Build failed in the spring version"
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 01:25 min
[INFO] Finished at: 2018-07-30T15:23:32+05:30
[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal on project aws-serverless-java-co

[2018-07-30 14:49] SAPessi commented on #176
Hey @mac10046 - 1.2-SNAPSHOT is not yet published on maven central. If you want to use it as a dependency for an application you'll have to install it manually on your local box:
1. Clone the `master` branch of this repository to your local box
2. From the project folder, run `mvn install`.
3. Try to compile your project again, it should pick 1.2-SNAPSHOT from your local installation

[2018-07-30 14:49] #176 closed

[2018-08-01 13:14] LarsKoelpin opened #177 "Request timing out"
* Framework version: 1.1.3 (  see [1-configuration/pom.xml](https://github.com/LarsKoelpin/springboot-aws-timeout/blob/58c271767a740315e92ad7a16334cabbfc210634/1-configuration/pom.xml#L29) )
* Implementations: Spring Boot

## Scenario
I'm trying to migrate my Sprintboot App to AWS Lambda, using aws-serverless-java-container-spring version 1.1.3.
1. I uploaded my application.jar to S3
2. I created

[2018-08-02 16:50] SAPessi commented on #177
Hi @LarsKoelpin, looks like the cold start is genuinely timing out after 10 seconds.
the quick fix is obviously to increase the timeout for the Lambda function to 30 seconds. I understand that this cold start time is definitely not desirable. We need to try and figure out where Spring is spending all the time. We have a bunch of [cold start tips in the getting started guide](https://github.com/aws

[2018-08-02 17:36] SAPessi opened #178 "Integration tests for archetypes"
Add integration tests for archetypes that during build:
1. Use the archetype to create a temporary application
2. Test the version required by the generated pom matches the latest for the framework
3. tests a maven build of the generated app

[2018-08-02 20:17] SAPessi commented on #168
Closing since the feedback was included in the `1.1.4` release.

[2018-08-02 20:17] #168 closed

[2018-08-03 06:49] LarsKoelpin commented on #177
Hey @SAPessi  thanks for your response.

As this is just a part of the app (I tested with my "real" App, in which 30 seconds timeout isn't even suffiecient, so increasing the timeout is obviously not an option). I thought Spring indexing would be enough. I'll try the Import Method for now. Do you think JPA could be the bottleneck here (I'm also shipping H2, which could be as problem aswell)?

Howe

[2018-08-03 17:59] SAPessi commented on #174
@jdinerstein I released 1.1.4 to maven central yesterday.

[2018-08-03 17:59] #174 closed

[2018-08-03 18:13] SAPessi commented on #177
Hey @LarsKoelpin, I'll keep this open for now as changes to the library may come from this investigation as well as updates to the documentation.

The primary challenge here is that while a Lambda function can have a timeout of 5 minutes, API Gateway has a hard timeout of 30 seconds. In practice, this means that the first request coming in will trigger a cold start in Lambda. However, if your appl

[2018-08-05 13:39] JohnLockwood opened #179 "2 easy doc bugs in Quick Start Spring doc."
Hi,

It doesn't look like the wiki is set up to allow pull requests, so I'm submitting an issue instead:

For the Quick Start Spring doc: https://github.com/awslabs/aws-serverless-java-container/wiki/Quick-start---Spring, make the following changes

**Change this line:**  @ComponentScan("com.amazonaws.serverless.sample.spring")
**To this:** @Import({ PetsController.class })

This will bring it in

[2018-08-06 17:44] dotekien opened #180 "How to setup a test cases for Spring boot"
* Framework version: latest
* Implementations: Spring Boot

## Scenario
I want to write a controller test cases but unable to invoke the spring application

## Expected behavior

## Actual behavior

## Steps to reproduce

## Full log output

[2018-08-06 18:44] SAPessi commented on #180
Hey @dotekien, if you used the archetypes from the [quick start guides](https://github.com/awslabs/aws-serverless-java-container/wiki/Quick-start---Spring-Boot) they come with 1 test case you can re-use. Otherwise, you could look at our [existing tests for Spring Boot](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-spring/src/test/java/com/amazon

[2018-08-06 19:28] dotekien commented on #180
Thanks.

[2018-08-06 19:57] #180 closed

[2018-08-07 19:16] stephengibson83 opened #181 "Spring Boot 2 support"
* Framework version: 1.1.4
* Implementations: Spring Boot

Is there a plan to support Spring Boot 2.0.x?  If so, when will it be available?

The current maven archetype and sample are for Spring Boot 1.5.

[2018-08-07 20:18] SAPessi commented on #181
Hi @stephengibson83, Spring Boot 2 is not supported yet simply because we have not tested with it yet. I do not know whether there are breaking changes. I'll take this as a feature request and work on it for release 1.3.

[2018-08-13 16:14] peter-gergely-horvath opened #182 "NPE in AwsProxyHttpServletRequest.getRemoteAddr"
* Framework version: 1.1.4
* Implementations: Spring

## Scenario
I have a Lambda function that should export a Spring service. Unfortunately this keeps failing due to a NPE in `AwsProxyHttpServletRequest.getRemoteAddr`. I _believe_ this due to the face this service does NOT use **Cognito** at all. I believe the NPE originates from the following piece of code:
[code]

I suspect either `requestCont

[2018-08-13 16:33] SAPessi commented on #182
Hi @peter-gergely-horvath, that field should always be populated by API Gateway. Regardless of how you authorize. Are you testing from the Lambda console or sending requests via API Gateway? If you are using API Gateway, is it through the test functionality in the console or via a deployed endpoint?

[2018-08-13 16:44] peter-gergely-horvath commented on #182
Hi @SAPessi: I tried this from the Lambda console and API Gateway through the test functionality: both of them keep failing.

[2018-08-13 16:47] SAPessi commented on #182
Is the field populated in the Lambda test event? I suspect API Gateway does not populate it from its test functionality. Could you try deploying the API and sending a request to the endpoint - I would expect the field to be populated then.

As far as correcting this, what would you like the method to return if the field is not populated? `null`, '127.0.0.1`?

[2018-08-13 17:09] peter-gergely-horvath opened #183 "Documentation promotes questionable practices regarding resource closure"
* Framework version: 1.1.4
* Implementations: Jersey / Spring / Spring Boot

## Scenario

The documentation shows the following approach as sample for creating a handler. Based on the description, if my understanding is correct the stream might not be closed properly, if an exception is thrown from `handler.proxyStream` :

[code]

The whole issue boils down to one question: who is in charge of the

[2018-08-13 17:33] peter-gergely-horvath commented on #182
Hi @SAPessi, I tried deploying the API and it seems to fail with the very same error.
On the client side it's
[code]
but I was able to correlate the call with the CloudWatch log, which complains against the NPE:

[code]

As for the preference regarding the behaviour: if you check the stack trace, you see that this is actually Spring FrameworkServlet `org.springframework.web.servlet.FrameworkServle

[2018-08-13 17:36] SAPessi commented on #182
Oh, the fact that you get the JSON output as the error body tells me that API Gateway is not parsing the Lambda proxy response into an HTTP response. Check your API Gateway configuration to make sure that the integration settings for the method are set to Lambda proxy integration.

![screen shot 2018-08-13 at 10 36 09 am](https://user-images.githubusercontent.com/2996317/44047923-ca31dfac-9ee4-11e

[2018-08-13 17:42] SAPessi commented on #183
Technically all Exceptions should be caught and handled [here](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/internal/LambdaContainerHandler.java#L177). The application code should not need to do anything with the stream. I'll fix the samples/archetypes to reflect this.

[2018-08-13 23:51] aaljebouri opened #184 "NPE in AwsProxyHttpServletRequest.getQueryParamValue"
* Framework version: 1.1.3
* Implementations: Spring

## Scenario
I have a request that has all optional query parameters. When I get an API request from API Gateway which has no query parameters in the path, the queryStringParameters inside AwsProxyRequest is null. This is causing an issue when AwsProxyHttpServletRequest accesses the query parameters.

## Expected behavior
[code]
Should have a nu

[2018-08-13 23:52] SAPessi commented on #184
Hi @aaljebouri - this is a known issue and was fixed in `1.1.4`. You should be able to just update from maven.

[2018-08-14 03:42] SAPessi commented on #184
Great. Thanks for confirming @aaljebouri. I'll close this issue for now.

[2018-08-14 03:42] #184 closed

[2018-08-14 06:36] peter-gergely-horvath commented on #182
This would not really work with the current setup I have: I am experimenting with an approach where the Lambda function would merely act as a gateway to an RDS database: the query would be hard-coded in each Integration Request's Mapping template as a literal while the query parameters would be extracted from the incoming request using expressions.

[2018-08-14 14:37] SAPessi commented on #182
What does the API look like? You could always write your own custom [`RequestReader`](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/RequestReader.java) and [`ResponseWriter`](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/

[2018-08-14 15:00] peter-gergely-horvath commented on #182
Hi @SAPessi, originally this would be a simple Java method that expects a [Map of parameters and returns the result](https://github.com/peter-gergely-horvath/sq4lambda/blob/459632296144dd4e94bc57935274283935b4e03f/src/main/java/com/github/sq4lambda/QueryHandler.java#L129).

The purpose would be to have a fully self-contained, general Lambda function that simply executes the specified SQL statement

[2018-08-14 15:05] SAPessi commented on #182
Off the top of my head. You could do this:
* Store the queries in configuration parameters - perhaps a file in S3. A simple map of queryName => queryString
* Clients make requests to /query/{queryName}
* Clients can only make POST requests to this address and in the request body they include a map of parameter values
* In your app, you can create a controller for /query/{queryName}
* When you rece

[2018-08-14 15:19] peter-gergely-horvath commented on #182
my problem with that is you no longer have a RESTful interface: API Gateway seems to be a perfect place to do this kind of mapping, but apparently it just does not work :(

[2018-08-16 19:43] SAPessi commented on #181
Hey @sheltonn - absolutely, always happy to accept pull requests. If the changes are breaking, we should consider breaking Spring Boot into a separate module. If you can type down a description of the changes here, we can work through a design together. I'm on the road for most of the day today but can take a look tonight.

[2018-08-16 22:12] sheltonn commented on #181
Awesome.  That is what I was thinking about the project.  I may not be able to finish tonight, but I can definitely start.

[2018-08-17 00:04] SAPessi commented on #181
Oh I didn't mean finish. I just meant write down in this issue a description of what you plan to do and why so we can discuss together with other contributors @sheltonn

[2018-08-17 14:15] sheltonn commented on #181
I want to separate this module from the others, preferably in it's own project.  I need to research the project  code to determine how it really works to see if there are any improvements I can make.  I would eat my own dog food by converting this project to be Spring Boot 2.  I would rework all of the Junit tests to be more representative of what a Spring/Java would expect to see (Spring and Mock

[2018-08-17 15:14] SAPessi commented on #181
Implementing support for a new framework is relatively straightforward, take a look at #159 for Struts 2. If there are no breaking changes in how a Spring application is initialized in SpringBoot 2 compared to 1.x, then I'd rather keep it in the same spring module - this way customers won't have to learn a whole new thing.

Curious, what do you mean by converting this project to SpringBoot 2? Did

[2018-08-17 15:37] sheltonn commented on #181
Correct.  I'm starting to get a grip on the project and how it works.

I'm having trouble just performing `mvn clean` on the parent module.  I think the most value I can provide is to start with the top of the project and tweak the POMs.

[code]

[2018-08-17 16:58] SAPessi commented on #181
Mh, this builds fine for me from the main pom. I suspect this is because it expects the 1.2-SNAPSHOT to be already available in your local maven cache as it builds the archetypes. What happens if you run `mvn install` without clean?

Let's take this to the [Gitter room](https://gitter.im/awslabs/aws-serverless-java-container)

[2018-08-17 17:34] sheltonn opened #185 "Maven package fails"
* Framework version: 1.1
* Implementations: Jersey / Spring / Spring Boot / Spark

## Scenario
Run `mvn package` from the command line or within IntelliJ

## Expected behavior
The compile, test and package should complete successfully

## Actual behavior
The archetype child modules are unable to back-track to their parent

## Steps to reproduce

## Full log output

FIX PR https://github.com/awslab

[2018-08-21 14:53] sheltonn commented on #185
https://github.com/awslabs/aws-serverless-java-container/pull/186

[2018-08-21 19:13] dotekien opened #187 "How to throw a springboot exception to lambda while using serverless java container"
* Framework version: any
* Implementations: Spring / Spring Boot

## Scenario
The exception is caught by org.springframework.boot.web.servlet.support.ErrorPageFilter.
In order to have SQS knowing that the sending message is failed, the exception needs to be caught by lambda.

## Expected behavior

## Actual behavior

## Steps to reproduce

## Full log output

[2018-08-21 20:08] SAPessi commented on #187
Why use SpringBoot in a Lambda function that processes SQS messages? Seems overkill.

You could use a [`@ControllerAdvice` class](https://www.baeldung.com/global-error-handler-in-a-spring-rest-api).

[2018-08-24 19:48] clarabridges commented on #182
I am using a proxy integration and am testing through a call to the API gateway endpoint using a browser (vs in-console test) and I am also getting this NPE. I am using version 1.1.4

[2018-08-24 19:51] SAPessi commented on #182
Hi @clarabridges, can you share the stack trace? I'll look into it right away

[2018-08-24 21:49] clarabridges commented on #182
Thank you so much! This code is running as part of a prototype for our customer.

`java.lang.NullPointerException
at com.amazonaws.serverless.proxy.internal.servlet.AwsProxyHttpServletRequest.getRemoteAddr(AwsProxyHttpServletRequest.java:575)
at org.springframework.web.servlet.FrameworkServlet.publishRequestHandledEvent(FrameworkServlet.java:1076)
at org.springframework.web.servlet.FrameworkServle

[2018-08-24 22:13] SAPessi commented on #182
Thanks @clarabridges. I would recommend using the [`proxyStream` method](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/internal/LambdaContainerHandler.java#L195) instead of the `proxy` one. It uses the pre-initialized `ObjectReader` for the input request type - should be faster.

As for the NPE,

[2018-08-27 14:57] SAPessi commented on #175
That's the plan.

[2018-08-28 09:35] larmog opened #188 "AwsHttpServletResponse#setCharacterEncoding(String) is setting Content-Encoding"
* Framework version: 1.1.4
* Implementations: Core

## Scenario
The `setCharacterEncoding`-method in `AwsHttpServletResponse` on row 337 is using the wrong HTTP header: `Content-Encoding` that should be used for [compression](https://en.wikipedia.org/wiki/HTTP_compression).

`response.setCharacterEncoding("UTF-8")`

## Expected behavior
For example:
`Content-type: application/json; charset=utf-8`

[2018-09-04 14:34] clarabridges commented on #182
@SAPessi I switched to proxyStream as suggested but made no other changes and the issue seems to have been resolved. I haven't had a chance to look into the implementation yet to see if/how that resolved it.

[2018-09-05 00:17] SAPessi commented on #182
@clarabridges  The primary difference between the two methods is that using the `prox()` call you rely on Lambda's built-in marshaling of the JSON event. With the `proxyStream` method we use our ObjectMapper. Lambda's builtin marshaller does not support the annotations we use in our [model classes](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-c

[2018-09-11 09:19] KristofferSmedlund opened #190 "Calling using SNS"
* Framework version: 1.1.4
* Implementations: Spring Boot

## Scenario
Using SNS or simply the Invoke function to call the lambda function.

## Expected behavior
The call is mapped to a function in the controller in the Spring boot lambda function.

## Actual behavior
Nothing. Works well with the AWS API gateway though.

I'm assuming that the message sent is not formulated properly, so it's not ma

[2018-09-17 23:40] billrobertson42 opened #192 "Allow registration of binary ContentTypes"
* Framework version: Any
* Implementations: Jersey / Spring / Spring Boot / Spark (all)

## Scenario
I want to register certain content types as binary so that the `AwsProxyHttpServletResponseWriter` class will not perform the utf-8 validity scan to see if the data that I'm returning is binary.

I create a pull request: https://github.com/awslabs/aws-serverless-java-container/pull/191 as a strawma

[2018-09-20 10:41] kart2018 opened #193 "Autowired @Value from Spring Config"
* Framework version: 2.0.3
* Implementations: Spring Boot

Scenario
I am looking to get the properties value from Spring Config -> Artifactory, in my DB config i have used the Autowired @Value , looks like the properties is not able to find by LambdaHandler.

I am getting the below error,

at org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor.postProcessPropertyValue

[2018-09-21 14:59] SAPessi commented on #193
Hi @kart2018, we have not tested the framework with SpringBoot 2.x - see issue #181. Can you paste here some more code? Specifically where the `@Autowired` property is declared and the bean it should get the value from?

[2018-10-03 16:11] SAPessi commented on #190
Hey @KristofferSmedlund, apologies for the delay. The library is built to handle automatically the proxy events from API Gateway. You can make it handle custom events types by implementing your own [`RequestReader`](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/RequestReader.java) and [`ResponseW

[2018-10-05 14:57] dotekien opened #195 "Springboot app restart randomly even though a cloudwatch warmer is scheduled every 5 minutes"
* Framework version: 1.1
* Implementations: Spring Boot

## Scenario
a cloudwatch warmer runs every 5 minutes but from the cloudwatch log, springboot application restarts randomly 10 times a day

## Expected behavior
Springboot should not restart randomly

## Actual behavior

## Steps to reproduce

## Full log output

[2018-10-05 16:27] SAPessi commented on #195
Hey @dotekien, AWS Lambda recycles execution environments for maintenance regularly. For this reason, you may see existing environments go away and new ones be instantiated throughout the day.

[2018-10-05 17:59] dotekien commented on #195
Thanks @SAPessi for your quick response.

[2018-10-10 18:51] benoitparis opened #196 "Allow (or delegate to) other dispatcherServlets"
* Implementation: Spring / Spring Boot

This is a feature request, also some kind of guidance request as well (would love to implement it myself)

## Scenario

I'm trying to use a SimpleGraphQLServlet from here:
https://github.com/graphql-java-kickstart/graphql-java-servlet

I get an "Only dispatcherServlet is supported" message at startup; which must come from here:
https://github.com/awslabs/aws

[2018-10-10 19:02] mattw-hestan commented on #190
I've found that the best way to handle different event types is to update the `template.yml` file to have multiple lambda functions with different handlers. So I leave the `StreamLambdaHandler` as it is, and I create a new `SnsEventLambdaHandler` class that implements `RequestHandler<SNSEvent, Response>` with a `Response handleRequest(final SNSEvent snsEvent, final Context context)` method. Update

[2018-10-17 18:55] jschwartz73 opened #197 "Deserializing Unicode"
* Framework version: 2.7.2
* Implementations: Spark

## Scenario
I was trying to send unicode in the body, for example:
`
{"text": "Unicode character &#2400; included"}
`
## Expected behavior
I expected this to properly deserialize

## Actual behavior
The unicode characters got escaped

## Analysis
After a lot of research, I found that the default encoding is StandardCharsets.ISO_8859_1.  However,

[2018-10-17 18:56] jschwartz73 commented on #197
This issue was purely informational for anyone else working through serialization problems

[2018-10-17 18:56] #197 closed

[2018-10-18 18:49] #195 closed

[2018-10-18 20:59] SAPessi commented on #187
You will have to re-throw it form the `@ControllerAdvice` class and let it bubble up to the Lambda service.

[2018-10-19 22:00] SAPessi opened #198 "Support for API Gateway new multi-values headers and query string"
Amazon API Gateway recently released [support for headers and query strings with multiple values](https://aws.amazon.com/about-aws/whats-new/2018/10/amazon-api-gateway-adds-support-for-multi-parameters/).

[2018-10-19 22:49] SAPessi commented on #185
Closing this since it was merged.

[2018-10-19 22:49] #185 closed

[2018-10-19 22:50] SAPessi commented on #192
Closing this issue since it was merged.

[2018-10-19 22:50] #192 closed

[2018-10-19 22:56] #182 closed

[2018-10-19 22:56] SAPessi commented on #149
Merged in core branch. Resolving.

[2018-10-19 22:56] #149 closed

[2018-10-20 02:30] SAPessi opened #199 "Switch to Jackson Jr"
Remove heavy-weight `ObjectMapper` for common proxy events and switch to [Jackson Jr](https://github.com/FasterXML/jackson-jr)

[2018-10-22 18:04] rnowosielski opened #200 "Components of the request url get decoded prior to the routing process"
* Framework version: 1.1.4
* Implementations: Jersey

## Scenario

I am using path parameters in my REST api which are url encoded. However they get decoded before the routing, so if the url encoded value contained url encoded slashed this breaks my routes.

Example:

https://my.api/v0/http%3A%2F%2Fsome.resource.url

gets treated as

https://my.api/v0/http:/some.resource.url

and since the path de

[2018-10-22 18:21] SAPessi commented on #200
Hey @rnowosielski, looks like this is indeed an issue. I will address it today preparing for the 1.2 release. Should be out shortly. I'll let you know here when the fix is committed to the `core` branch. You can use the `1.2-SNAPSHOT` from there for the time being.

[2018-10-22 19:56] SAPessi commented on #200
Fix for this is now in the core branch if you want to test it @rnowosielski

[2018-10-22 20:20] SAPessi commented on #198
Ready to ship in the core branch

[2018-10-22 20:20] #198 closed

[2018-10-22 20:44] SAPessi commented on #175
This is now ready in the `core` branch for release with the next iteration. You can start using it with the 1.2-SNAPSHOT from the branch @eduramiba.

[2018-10-22 20:44] #175 closed

[2018-10-22 20:45] SAPessi commented on #187
Closing this issue.

[2018-10-22 20:45] #187 closed

[2018-10-22 20:48] SAPessi commented on #196
Could you use a `ServletRegistrationBean` in your application @benoitparis?

[code]

[2018-10-22 20:49] SAPessi commented on #190
Thanks for the update @mattw-hestan - did this solve your issue @KristofferSmedlund?

[2018-10-22 20:51] eduramiba commented on #175
Thanks! @SAPessi

[2018-10-22 20:52] #177 closed

[2018-10-22 20:53] SAPessi commented on #188
This is merged in the core branch. Closing the issue. Thank you so much for the contribution @larmog!

[2018-10-22 20:53] #188 closed

[2018-10-22 21:52] SAPessi commented on #199
Turns out that moving to Jackson Jr is too big a breaking change for a minor release. The `LambdaContainerHandler` currently exposes a static method to get a system `ObjectMapper`. Removing this method would break backward compatibility. For the time being, I only added the afterburner module to the handler's object mapper.

[2018-10-22 23:19] SAPessi commented on #183
This is ready for the next release. Closing this issue.

[2018-10-22 23:19] #183 closed

[2018-10-23 00:50] SAPessi commented on #160
Currently set the coverage requirements to 50%. All implementations are above 70%. However, code coverage on the core package is a little over 50%. While our target is 70%, we also need to release 1.2 sooner rather than later since it includes important bug fixes and new features. We'll keep chipping away at this for the next release and hopefully hit 70% in 1.3.

[2018-10-23 01:07] SAPessi opened #201 "Update framework versions"
* Update Jackson from 2.9.5 to 2.9.7 to deal with CVE-2018-7489
* Update Jersey from 2.26 to 2.27
* Update Spark from 2.7.2 to 2.8.0
* Update Spring and Spring Security 5.0.7.RELEASE to 5.1.1.RELEASE
* Update SpringBoot from 1.5.9.RELEASE to 1.5.17.RELEASE

[2018-10-23 01:19] SAPessi commented on #201
Resolved in the latest commit.

[2018-10-23 01:19] #201 closed

[2018-10-23 19:22] #178 closed

[2018-10-23 20:44] SAPessi commented on #200
Great. Let me know how it goes. If it works fine for you I'll push out 1.2 early tomorrow.

[2018-10-25 07:09] jaympatel1893 commented on #193
How can I help?

[2018-10-26 10:58] Manish-SM opened #206 "Getting issue while running Spring Boot REST service on aws lambda"
* Framework version: 2.0
* Implementations:  Spring Boot

My Handler:
[code]

POM.XML
[code]

Getting this issue :
[code]

[2018-10-26 14:38] SAPessi commented on #206
Hi @Manish-SM, does the application work if you use SpringBoot `1.5.17.RELEASE`? We have not yet officially added support for SpringBoot 2.x - it is tracked in issue #181.

[2018-10-26 15:55] Manish-SM commented on #206
Hi @SAPessi, Thanks for reply. I tried with SpringBoot 1.5.17 version and getting some different error now.
Error:
Error loading class com.lambda.StreamLambdaHandler: java.lang.ExceptionInInitializerError
java.lang.ExceptionInInitializerError
at java.lang.Class.forName0(Native Method)
at java.lang.Class.forName(Class.java:348)
Caused by: org.springframework.beans.factory.NoSuchBeanDefinitionExcept

[2018-10-26 16:11] SAPessi commented on #206
Can you remove the `spring-boot-starter` as a dependency, you should only need the `spring-boot-starter-web`. Any chance the project code is on GitHub and we can try to replicate?

[2018-10-28 20:51] legezam commented on #133
@eugenevd , I had a similar issue and solved it with the below settings:
pom.xml:
[code]

bin.xml:
[code]
This works for me using `sam local start-api`.
Two changes i made:
1, removed the jar plugin execution as the aws tutorial says we don't need a jar at all.
2, modified the assembly to copy the classes directory as a whole to the zip root.

[2018-10-29 03:56] Manish-SM commented on #206
@SAPessi, Thanks for your help. It works for me. I made mentioned changes after that deployed and tested with api gateway with JSON body and headers and it worked only with api gateway not with lambda.

[2018-10-29 03:56] #206 closed

[2018-10-29 15:37] SAPessi commented on #206
To test this directly in Lambda, you need to make sure you send an event shaped exactly like API Gateway's proxy event.

[2018-10-30 02:48] rnowosielski commented on #200
Thanks a lot - I can confirm it works now as expected in the version 1.2.

[2018-10-30 03:50] vijaychd opened #207 "KPL with Lambda"
* Framework version: 1.2
* Implementations: Spring Boot

## Scenario
Use KPL for logging from lambda function

## Expected behavior
Lambda to wait for KPL to complete the processing.

## Actual behavior
KPL write are getting terminated after handler returns.

## Steps to reproduce

## Full log output

[2018-10-30 17:08] SAPessi commented on #207
Hi @vijaychd, this is indeed the expected behavior. Lambda will freeze the execution environment as soon as your handler returns, we have no control over this behavior.

My recommendation is normally to use the default logging mechanism to CloudWatch Logs, then configure CloudWatch to [stream the logs to a Lambda function](https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/SubscriptionFilter

[2018-10-30 17:08] #207 closed

[2018-10-31 03:14] vijaychd commented on #207
@SAPessi Thanks.  Is Streaming logs to Cloudwatch Synchronous so that it is guaranteed?

[2018-10-31 03:44] SAPessi commented on #207
Yes. Lambda takes care of sending your stdout to cloudwatch so that you don't have to worry about it. There's also a [custom appender for log4j](https://docs.aws.amazon.com/lambda/latest/dg/java-logging.html)

[2018-10-31 03:49] vijaychd commented on #207
So why cant i use custom appender which uses Kinesis behind the scenes.

[2018-10-31 16:33] rnowosielski opened #208 "It is not possible to get the `referer` header field"
* Framework version: 1.2
* Implementations: Jersey

## Scenario

I am trying to retrieve the header from the original request using the `@HeaderParam("Referer")` annotation e.g

    @PUT
    @Path("{url}")
    @Produces("application/json")
    public Response doSomething(@HeaderParam("Referer") String referer) throws Exception {
           logger.info("Referer: " + referer);
    }

## Expected beh

[2018-10-31 16:42] SAPessi commented on #207
Because you'd have to send the records to kinesis yourself. This means you'd have to do it synchronously during the execution of the handler, adding latency, to make sure all log records are sent. The native Lambda logging mechanism takes care of doing that behind the scenes asynchronously.

[2018-10-31 16:59] SAPessi commented on #208
Hey @rnowosielski, I just wrote a quick unit test for this. A `Referer` header is indeed not injected by Jersey, even though I can see it in the event. Funnily enough, when I use the exact same method and `@HeaderParam` annotation for an `X-Custom-Referer` header it gets injected correctly. This looks like Jersey's doing. I'm investigating a little bit further.

[2018-10-31 17:15] SAPessi commented on #208
Never mind, investigated a bit more and it looks like it was indeed a bug. Committing a fix now.

[2018-11-01 03:30] SAPessi commented on #207
Absolutely! I'll take this to the lambda team!

[2018-11-02 21:17] rnowosielski commented on #208
@SAPessi Is there a way to download the most recent snapshot version, so I could test it in my code?

[2018-11-02 21:51] SAPessi commented on #208
Yes @rnowosielski, changes are committed to the `core` branch. Just download the code for that branch, `mvn install`, then add `1.3-SNAPSHOT` as a dependency in your code.

[2018-11-11 19:34] martinpllu opened #209 "Invoke custom servlet filter before JerseyFilter?"
I'm using the Jersey implementation and I am registering `javax.servlet.Filter` instances as described [in the wiki](https://github.com/awslabs/aws-serverless-java-container/wiki#servlet-filters).

I would like my filters to be invoked before the API resource methods, e.g. to validate security credentials. However when I register filters in this way, they are invoked after the resource methods.

A

[2018-11-12 08:08] DIGIT-SAAS opened #210 "Spring Boot Lambda Startup multiple times"
* Framework version: aws-serverless-java-container-spring:1.2
* Implementations: Spring Boot / Spring Data / spring-data-dynamodb

## Scenario
Running simple Spring Boot Backend Service, which Queries DynamoDB via Spring Data DynamoDB.

## Expected behavior
On each request I can see Spring Boot Process in Cloudwatch. The request should be finished within seconds.

## Actual behavior
I can see, tha

[2018-11-12 16:29] sapessi commented on #210
I suspect this could be caused by the fact that SpringBoot automatically discovers the application class while scanning the classpath. Is the application class in the same package as the controllers? I would try and move the application class outside of the controller package so that it's only started by the java container library and spring boot only discovers the controller classes.

[2018-11-12 17:07] martinpllu commented on #209
Thanks @sapessi. For context I have a fairly large set of legacy filters that depend heavily on the HttpServletRequest/Response APIs.

I had tried using JAX-RS filters and while they do solve the filter ordering problem, I am unable to inject HttpServletRequest/Response objects into the filter.

See (https://github.com/martinpllu/my-service)[https://github.com/martinpllu/my-service] which demonstr

[2018-11-12 18:42] sapessi commented on #209
Understood, thanks @martinpllu. The best work-around I can think of is to use the constructor for [`JerseyLambdaContainerHandler`](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-jersey/src/main/java/com/amazonaws/serverless/proxy/jersey/JerseyLambdaContainerHandler.java) instead of the static `getAwsProxyHandler` method. This way you can:

1. Con

[2018-11-12 18:44] sapessi commented on #209
I'll try and replicate your second issue - not being able to inject the servlet request in a filter - and open a separate issue to track it as a bug.

[2018-11-12 20:17] martinpllu commented on #209
Thanks @sapessi, your suggested work-around does the job nicely. I'll be interested to see if you can replicate the ContainerRequestFilter servlet injection problem; feel free to close this issue in any case. Thanks again, much appreciated.

[2018-11-12 22:34] akrambek commented on #208
@sapessi I am having the same issue and seems to be cause by `https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/internal/servlet/AwsProxyHttpServletRequest.java#L808` Any reason why it is replaced with `getIdentity().getCaller()`?!

[2018-11-12 23:50] sapessi commented on #208
Hey @akrambek, that's where API Gateway stores the caller/referer. Could you test with `1.3-SNAPSHOT` from the `core` branch to see if that fixes your issue?

[2018-11-12 23:55] akrambek commented on #208
hey @sapessi yep it works thanks! Looking forward to the official release.

[2018-11-13 13:07] DIGIT-SAAS commented on #210
I just give that possibility a try and moved the application class in a subpackage. But even that does not help. It simply boots multiple times again in the cloud watch log.

[2018-11-13 16:53] sapessi commented on #210
Can we take a look at the spring application class and Lambda handler class?

[2018-11-13 16:55] sapessi opened #211 "Inject HttpServletRequest in ContainerRequestFilter for Jersey"
* Framework version: 1.2
* Implementations: Jersey

## Scenario
Trying to inject an `HttpServletRequest` object in a container request filter results in an exception:

[code]

## Expected behavior

`HttpServletRequest` should be injected corectly

## Actual behavior

Throws `java.lang.IllegalStateException: Not inside a request scope`

[2018-11-13 16:56] sapessi commented on #209
Resolving this issue. I've created #211 to track the injection issue

[2018-11-13 16:56] #209 closed

[2018-11-15 13:45] JulianKahnert opened #212 "Feature Request - gradle support"
* Framework version: XX
* Implementations: Jersey / Spring / Spring Boot / Spark

## Scenario

## Expected behavior

## Actual behavior

## Steps to reproduce

## Full log output

[2018-11-15 16:19] sapessi commented on #212
Hi @JulianKahnert, I'll look at adding a gradle build file to the applications in the samples folder. Would that be enough?

[2018-11-16 06:27] securethings-amar opened #213 "Pass requestContext -> authorizer -> attribute to RESTendpoint method"
* Framework version: 1.1
* Implementations: Spring Boot

## Scenario
Before API Gateway pass request to lamda function, my custom authorizer kicked in and reads tenantId from authorization header. I want access to this tenantId attribute set in API Proxy request within @Controllers GET method so that I can return only tenant specific records.

Looking for a sample/example. Thanks

[2018-11-16 09:04] JulianKahnert commented on #212
Hi @sapessi,
thank you for your quick response. Agradle build file and the installation steps to build an AWS Lambda compatiable jar file would be great.

[2018-11-16 15:50] sapessi commented on #213
Hey @securethings-amar, you can get the full API Gateway context (including authorizer context) from the `HttpServletRequest` object. We [write it in there as an attribute](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/internal/servlet/AwsProxyHttpServletRequestReader.java#L45). Hopefully this he

[2018-11-16 17:03] securethings-amar commented on #213
Thanks Stefano for a quick turnaround! so does this mean, I should directly use HttpServletRequest as an argument into REST endpoint method of controller as follows?

`@RestController
public class PetsController {
        @RequestMapping("/pets", method = POST)
        public HttpServletResponse createPet(HttpServletRequest request) {
                    // Use request; withdraw attribute I want;

[2018-11-16 20:03] sapessi commented on #213
Yes, to access the API Gateway context you need to use the raw `HttpServletRequest`. However, there's nothing stopping from receiving two parameters in your `createPet` method, both the `HttpServletRequest` and the `Pet` object. Spring will take care of doing the injection/unmarshal.

[2018-11-26 20:15] jtraviesor commented on #210
I am having a similar issue, the application context is loaded again. On my local machine, the cold start is about 6 seconds. But when it's deployed to AWS, it's taking 30 plus seconds which leads to timeouts.

In my case, the lambda function is connecting to RDS (Aurora) so it's probably creating a network interface. This is a big limitation of lambda, IMO.

[2018-11-27 09:12] DIGIT-SAAS commented on #210
@sapessi I can share it privately if this would help? I created an maven archetype so you can create new projects with this settings... The main problem is the one @jtraviesor stated: It takes more than 45 Seconds to fire up this function on AWS..

[2018-11-29 06:56] sapessi commented on #210
Hey @DIGIT-SAAS, apologies for the delay. re:Invent is taking all of my attention. I don't need to have exact names. What's interesting to me is whether the `StreamHandler` is in the same package as the `Application` class, feel free to call them `foo.bar` in the example - structure is more important than names.

[2018-11-29 08:02] DIGIT-SAAS commented on #210
I moved the Application class into a subpackage e.g. the folder structure looks like this:
[code]

[2018-11-30 13:48] securethings-amar commented on #213
Thank you! And sorry it took so long to say two words.

[2018-11-30 13:48] #213 closed

[2018-12-01 18:49] sapessi commented on #210
Assume after you moved the config and application into a sub-package the behavior is still the same? I'll try to replicate next week.

[2018-12-03 17:31] vijaychd opened #214 "Feature Request"
* Framework version: XX
* Implementations: Jersey / Spring / Spring Boot / Spark
Spring boot
## Scenario
Calling Lambda Function thru Application Load Balancer
## Expected behavior
Application load balancer is recently added as trigger for lambda function.  it would be nice to support that for java container in lambda.
## Actual behavior

## Steps to reproduce

## Full log output

[2018-12-03 20:37] sapessi commented on #214
Thanks for the feedback @vijaychd - we'll definitely look at this for the next release

[2018-12-04 23:20] rnowosielski commented on #208
@sapessi do you have some rough estimate when 1.3 might go out ?

[2018-12-10 20:20] Gurminder08 commented on #76
@lewisje1991 @sapessi I am getting FileNotFoundException with the message :"application.properties file cannot be opened because it does not exist", even though it exists under the resources folder. I am trying to read RDS instance tables using JPA.

[2018-12-18 02:14] superweijiafeng opened #217 "AwsProxyHttpServletRequest.getParameterMap() not support multiple query string"
* Framework version: 1.2
* Implementations: Spring

## Scenario
My http request is `<scheme>://<host>/<path>?id=xxx&id=yyy`

Function in controller is `func(@RequestParam MultiValueMap<String, String> params)`

## Expected behavior

Value of `params`  is
[code]

## Actual behavior

Value of `params`  is
[code]

[2018-12-20 06:40] sapessi commented on #217
This is now merged in the the `core` branch.

[2018-12-20 16:43] sapessi commented on #211
@martinpllu the fix for this is now in the core branch. It will go out with 1.3. The root cause of the issue is that Jersey (and the JAX-RS specs) treat suppliers as singletons so by default it does not allow injection in single-request-scoped contexts. I have added the configuration to allow "proxying" of the suppliers.

[2018-12-20 21:04] sapessi commented on #214
@vijaychd I have committed ALB support in the `1.3-SNAPSHOT` version in the `core` branch of this repository. Could you run a few tests with it? Please note that it only supports the [multi-value headers feature](https://docs.aws.amazon.com/elasticloadbalancing/latest/application/lambda-functions.html#multi-value-headers)

[2018-12-20 22:02] sapessi commented on #181
Hey @sheltonn, @stephengibson83 - I've added a springboot2 sample in the `core` branch of this repo. I will work on an archetype too.

[2018-12-21 04:46] sapessi commented on #212
Hey @JulianKahnert, Just committed Gradle build files to the samples in the `core` branch of this repo. Next, I'll work to include Gradle build files in the archetypes.

[2018-12-21 04:47] sapessi commented on #196
Resolving this since I have not heard back in a while.

[2018-12-21 04:47] #196 closed

[2018-12-21 06:40] vijaychd commented on #214
need to figure out how /health and /swagger-ui.html would work.    @sapessi  Can that be supported?

[2018-12-21 18:14] sapessi commented on #214
Technically it should work @vijaychd, although I have never tried. What framework are you testing with?

[2018-12-21 18:23] vijaychd commented on #214
Spring boot.  /health worked after i changed the endpoint.  /v2/api-docs doesn't.

[2018-12-21 18:43] vijaychd commented on #214
Nope.
For spring boot app,  usually  the context path is set as
server.servlet.context-path=/lambda-demo-api

I think with ApiGateway proxy it was always getting set as /.     Is it something you can add to override the context path for container.

So i will use same context on the ALB,  then all endpoints should work

[2018-12-22 00:47] sapessi commented on #193
@kart2018 In the `core` branch of this repository I have a sample that works with SpringBoot 2.x - could you test with your code against the `1.3-SNAPSHOT` in the core branch? Make sure the use the `Application` config from the `springboot2` sample

[2018-12-22 00:57] sapessi commented on #155
Resolving this.

[2018-12-22 00:57] #155 closed

[2018-12-22 00:58] sapessi commented on #157
Resolving this as a duplicate of #133. Support for both assembly and gradle will go out in version 1.3 shortly

[2018-12-22 00:58] #157 closed

[2018-12-26 19:01] #181 closed

[2018-12-26 19:25] sapessi opened #222 "Swagger UI demo"
* Implementations: Jersey / Spring / Spring Boot / Spark

## Scenario
Add the ability to serve a `swagger-ui.html` to the sample applications as mentioned in #214

## Expected behavior
Navigating to `/ui/swagger-ui.html` should return the generated Swagger UI html page.

[2018-12-26 20:07] vijaychd commented on #214
By setting below, /health  and /v2/api-docs worked fine.
            handler = SpringBootLambdaContainerHandler.getAwsProxyHandler(Application.class, profiles);
            handler.getContainerConfig().setServiceBasePath("/lambda-demo-api");
            handler.getContainerConfig().setStripBasePath(true);

[2018-12-26 23:31] seshuad opened #223 "Jersey Multipart Form Data File Upload functionality appears broken"
* Implementations: Jersey

## Scenario: Using Jersey 2 to implement Fileupload, The ServletInput Stream size does not match the size of the uploaded file as a result the uploads are getting corrupted.

## Expected behavior
ServletInputStream size should match the size of the file being uploaded us Mulitpart Form upload.

## Actual behavior
The ServletInputStream size does not match the size of the

[2018-12-26 23:40] sapessi commented on #223
Hey @seshuad, the input model maps to a stream because that is indeed how Lambda receives the data - Lambda only supports JSON events so API Gateway and ALB automatically base64 encode the body before sending it to Lambda. The framework decodes the data before sending it to your implementation.

In API Gateway, you need to [explicitly enable binary support](https://docs.aws.amazon.com/apigateway/l

[2018-12-27 00:37] sapessi commented on #223
@seshuad can you tell me what sizes you see?

[code]

[2018-12-27 01:20] seshuad commented on #223
Here you go. this log is from trying to write to S3.

for a pdf file

com.amazonaws.SdkClientException: Data read has a different length than the expected: dataLength=243499; expectedLength=252786; includeSkipped=false; in.getClass()=class com.amazonaws.internal.ReleasableInputStream;

for a zip file

com.amazonaws.SdkClientException: Data read has a different length than the expected: dataLength=

[2018-12-27 02:21] sapessi commented on #223
Thanks for the additional info. The fact that it works fine with text file suggests that perhaps the request body is not base64 encoded. Quick test for this by injecting the ContainerRequest in your method.

[code]

[2018-12-28 07:19] tedyu commented on #223
The output obtained from above statement is :

Is base64 encoded: false

[2018-12-28 07:47] tedyu commented on #223
I modified getInputStream() method:
[code]
Here is the output:
[code]

[2018-12-28 07:52] tedyu commented on #223
Here is AwsServletInputStream#read :
[code]
Here is the output :
[code]
I wonder why read() is called twice where return value is -1.
The outcome of the above change to getInputStream() method is that file uploaded to S3 is of size 0.

[2018-12-28 07:53] tedyu commented on #223
Not sure it is related:
ReadListener is null for the AwsServletInputStream instance.

[2018-12-28 08:08] tedyu commented on #223
Added the following two methods to AwsServletInputStream :
[code]
However, there is no visible impact on the outcome of uploading the same pdf.
The log inside the close() method was not called.

[2018-12-28 08:39] tedyu commented on #223
If I save the upload in a local file before calling putObject() to save on S3, the file size of the upload on S3 is no longer zero.
But the pdf file cannot be read since the length seen by AwsServletInputStream is much longer than the length of request body.

[2018-12-28 08:44] tedyu commented on #223
I also tried StandardCharsets.UTF_16 and StandardCharsets.UTF_8 as parameter to getBytes().

StandardCharsets.UTF_16 resulted in 400 Bad Request - though the overridden close() was called:
[code]
For UTF8, the behavior is the same as no-parameter getBytes().

[2018-12-28 08:59] tedyu commented on #223
If I specify application/octet-stream as Content-Type in Postman, I got:

415 Unsupported Media Type

[2018-12-28 12:48] tedyu commented on #223
From AwsProxyHttpServletRequest :
[code]
The above method is called by :
[code]
Looking at CloudWatch log, I don't see the 'Entering' line - though the content type is multipart/form-data.

[2018-12-29 01:20] tedyu commented on #223
Thanks for the pointer.

I looked at the sample for using presigned URL.
Our setup is like this:
Some VMs may not have access to internet. They need to transfer the log bundle to a node with internet access.
It seems the presigned URL is useful for the node with internet access to upload log bundle to S3. However, we still need the multipart support for VMs to transfer log bundle to the node which

[2018-12-29 07:36] isczh opened #225 "Cast exception when start spring container"
* Framework version: 1.3
* Implementations: Spring

## Scenario
https://github.com/awslabs/aws-serverless-java-container/blob/97f4d3034ef9a84db0950ef36f248817a3618121/aws-serverless-java-container-spring/src/main/java/com/amazonaws/serverless/proxy/spring/LambdaSpringApplicationInitializer.java#L146

This listener will also listen refresh event and cause a cast exception. Even though it can be cat

[2019-01-03 21:15] tedyu commented on #223
When I tried to plugin the presigned URL approach into jersey resource I realized that the resource utilizes file upload feature (through MediaType.MULTIPART_FORM_DATA).
Without properly deciphering the multipart input, I cannot upload the file to S3 using presigned URL.

[2019-01-10 14:53] DIGIT-SAAS commented on #210
Did you have some luck? We tested it in multiple scenarios and it takes round about 45 seconds to call one function... this is nearly unusable....

[2019-01-10 17:57] sapessi commented on #210
I've been trying to replicate. Are you including other spring boot starter projects as dependencies. I suspect that may be the cause.

[2019-01-11 15:00] grsterin commented on #210
I have the same issue and I think I may have found a workaround for it. I just removed SpringBootLambdaContainerHandler's initialization from static block into handleRequest method with if(handler == null) condition, and made the field non-static. That seems to solve the problem.

`public class StreamLambdaHandler implements RequestStreamHandler {
    private SpringBootLambdaContainerHandler<AwsPr

[2019-01-11 16:38] sapessi commented on #210
Interesting, thanks for the tip @grsterin. I'd like to get to the bottom of why that is happening because using the static variable gives you a considerable boost in performance. I'll keep digging into it.

[2019-01-11 16:39] sapessi commented on #225
I expected the application listener to be triggered only for the request handled events - otherwise what's the point of the generic there? Any idea how to avoid this? Should I have a separate listener for the refresh?

[2019-01-15 20:25] sandeeppilania opened #227 "NPE: While trying to integrate RESTAPI from Springboot app using API gateway lambda proxy"
* Framework version: 1.3
* Implementations: Spring Boot

## Scenario
NPE with Spring Boot Example and calling default URL:
curl -X GET https://xxx.execute-api.eu-west-1.amazonaws.com/Prod/greeting
## Expected behavior
Hello World
## Actual behavior
Error - HTTP Code 500
## Steps to reproduce

I am trying stepup a simple helloworld application using api gateway and lambda proxy, i am using
handler.

[2019-01-16 17:06] smanish-kumar opened #228 "@QueryParam and @Context HttpServletRequest context is not working properly."
* Framework version: 1.3
* Implementations: Jersey / Spring
Scenario: I have downloaded the sample code for jersey pet store project. Completed the maven build and tired to test using AWS SAM Local. I was able to publish the sample pet store project on AWS SAM Local. However when, i use curl -s http://127.0.0.1:3000/pets?limit=1 from terminal in AWS SAM Local environment, the value of "limit" is n

[2019-01-16 17:23] sapessi commented on #227
Based on the [exception location](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/internal/servlet/AwsProxyHttpServletRequestReader.java#L39), I'm guessing you don't have the multi-value headers enabled. Are you running via API Gateway, ALB, or testing locally?

[2019-01-16 17:25] sapessi commented on #228
Are you running in SAM local? Could you log the event? The framework depends on the [multiValueHeaders and query string parameter fields](https://aws.amazon.com/about-aws/whats-new/2018/10/amazon-api-gateway-adds-support-for-multi-parameters/), are those present in the SAM local event?

[2019-01-16 22:00] NRosenbergLoyaltyOne opened #229 "StreamLambdaHandler without Lambda Proxy"
The class StreamLambdaHandler  is using the SpringBootLambdaContainerHandler to initilize spring and pass the lambda request along. Is there a way to do the same without using the Aws Lambda proxy? So my Spring Boot rest endpoints can function the same as if I wasn`t using lambda?

Thank you.

[2019-01-16 22:38] sapessi commented on #229
Can you explain more about what you are trying to achieve? The library defines a `RequestReader` and `ResponseWriter` interface that lets you support custom event types and outputs.

[2019-01-16 22:47] NRosenbergLoyaltyOne commented on #229
So, when I create an API Gateway to access my lambda thru Rest, I have to mark the "Lambda Proxy" flag, that wraps the body of my request into the json mentioned here: https://github.com/awslabs/aws-serverless-java-container/issues/130#issuecomment-369674101.

My question would be, what if I don`t want to use the Lambda Proxy? If I want to be able to use a simple body, like if my Spring Boot app w

[2019-01-16 22:54] sapessi commented on #229
If you don't use the proxy wrapper, your only alternative is to use mapping templates in API Gateway to generate a json event - if that's what you are looking for, then implementing customer RequestReaders and ResponseWriters is your best bet. Unless you have special requirements that force you to use mapping templates, I'd encourage you to stick with the proxy integration. Lambda cannot receive h

[2019-01-16 22:56] NRosenbergLoyaltyOne commented on #229
Got it. Thank you very much for the info.

[2019-01-16 22:56] #229 closed

[2019-01-17 10:34] smanish-kumar commented on #228
Hi Stefano, Many thanks for the comment. Yes you are correct. I am using SAM Local for this.

I just downloaded jersey pet store code from https://github.com/awslabs/aws-serverless-java-container/tree/master/samples/jersey/pet-store and following the steps mentioned in the https://aws.amazon.com/blogs/opensource/java-apis-aws-lambda/ blog.

I am not sure about the event as I am using "sam local st

[2019-01-17 11:21] smanish-kumar commented on #228
Hi Stefano, below are code files for the reference:

1. StreamLambdaHandler.java
import com.amazonaws.serverless.proxy.internal.LambdaContainerHandler;
import com.amazonaws.serverless.proxy.internal.testutils.Timer;
import com.amazonaws.serverless.proxy.jersey.JerseyLambdaContainerHandler;
import com.amazonaws.serverless.proxy.jersey.suppliers.AwsProxyServletContextSupplier;
import com.amazonaws.s

[2019-01-17 19:32] sandeeppilania commented on #227
i was trying to run it through API gateway. i am able to get a fix for this if i create the stack using Cloudformation template or SAM. But i still dont know what i was missing when i was trying to set it up manually piece by piece in the console.

But with CFT stack I am able to use API endpoint without any issues. It's working all good but when I checked the logs I did some error in the logs, in

[2019-01-18 17:43] jessefarinacci opened #230 "jersey lambda fn has null outputstream"
* Framework version: com.amazonaws.serverless:aws-serverless-java-container-jersey:jar:1.3:compile

## Scenario

[code]

## Expected behavior

`OUTPUT: some non-null value`

## Actual behavior

`OUTPUT: `

## Steps to reproduce

## Full log output

[code]

[2019-01-18 18:13] sapessi commented on #228
I'll try to replicate this with SAM local next week and let you know.

[2019-01-18 23:11] tedyu opened #231 "Obtaining request body for PUT request"
We are using aws-serverless-java-container-jersey 1.3

I am looking for how request body (of text) can be obtained for PUT request (without using spring).
I have looked at src/test/java/com/amazonaws/serverless/proxy/jersey/EchoJerseyResource.java
[code]
However, the above file doesn't seem to show example.

Suppose we have a method declared as:
[code]
where UploadStatus is a POJO containing an in

[2019-01-20 08:57] dhawalkp opened #232 "NullPointerException if calling lambda without http headers"
Hi Stefano, As per our conversation over the chime, here is the Issue for the NPE

* Framework version: 1.3
* Implementations: Spring Boot

## Scenario
I was recently trying out to develop a microservice using Java based lambda using spring boot. After following all the instruction, my requests continuously failed giving NullPointerException while testing the lambda endpoint using Test console of

[2019-02-01 09:13] shuangy92 opened #234 "ExceptionInInitializerError when using spring with profile"
* Framework version: 1.3
* Implementations: Spring & Spring Boot

## Scenario

At first I was using spring boot with spring profile, and I found that the application has a high possibility to launch twice.
The first launch is fast, and as soon as the log prints out `START RequestId：...`, the second launch starts.
It may happen at any time during the first launch. The farthest place the first launc

[2019-02-05 21:36] sapessi commented on #234
Thanks for the report. We have seen this before and we are trying to isolate the root cause. In the meanwhile, a good suggestion to get around the issue came up in #210 - take a look [here](https://github.com/awslabs/aws-serverless-java-container/issues/210#issuecomment-453544491).

[2019-02-05 23:56] peavers opened #235 "@RequestParam("file") MultipartFile input - byte size seems to double when running via a lambda"
* Framework version: 1.3
* Implementations: Spring Boot

## Scenario
Running locally, the byte size of a `MultipartFile` is correct, running via Lambda the file size is approximately twice as big, and is no longer a valid file.

## Expected behavior
`input.getBytes()` will return the same number of bytes when running in a Lambda as it does locally

## Actual behavior
`input.getBytes()` returns dou

[2019-02-06 16:32] sapessi commented on #235
Hi @peavers, I suspect this is because the `Content-Type` is not treated as binary. First, you need to configure API Gateway to handle requests with a content type of `multipart/form-data` (I assume) as binary - you can find the guide [here](https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-payload-encodings-configure-with-console.html). Because Lambda does not support binar

[2019-02-07 02:42] peavers commented on #235
You're correct my friend that was it. Simply adding `multipart/form-data` was enough to get things working as expected. Much appreciated.

[2019-02-07 02:42] #235 closed

[2019-02-11 10:03] huksley commented on #232
Any updates on this?
Same problem occurs if one adds to CloudFormation template event to run function periodically:
[code]

[2019-02-11 14:05] huksley opened #237 "NullPointerException if calling Lambda via CloudWatch event"
* Framework version: 1.3
* Implementations: Spring Boot

## Scenario
Adding following event to MyServiceFunction
[code]

results in NullPointerException generated when CloudWatch periodically calls Lambda at AwsProxyHttpServletRequestReader.java:48
[code]

## Expected behavior
No NullPointerException in Cloudformation logs

## Actual behavior
Actually running Lambda + provide some way to execute c

[2019-02-11 17:55] sapessi commented on #237
What does the scheduled event do? Does it invoke the same Lambda function or does it send an HTTP request?

[2019-02-11 18:11] vijaychd opened #238 "JDBC Connection Pools - Recommendation for Lambda runtime"
* Framework version: 1.3
* Implementations: Spring Boot

## Scenario
How to ensure database connection pools are managed effectively when running in Lambda.  Any recommendations?
## Expected behavior

## Actual behavior

## Steps to reproduce

## Full log output

[2019-02-11 18:29] huksley commented on #237
It invokes the same Lambda function.
https://github.com/huksley/serverless-java-spring-boot/blob/master/sam-template.yaml#L44

[2019-02-11 21:01] sapessi commented on #237
Ok. I'll add a null check for this particular exception. However, this framework is only meant to work with API Gateway or ALB proxy events, it will not recognize events from other sources (such as CloudWatch scheduled events). To make this work, you will either have to implement your own `RequestReader` and `ResponseWriter` for the event types or handle it in the handler method before calling the

[2019-02-11 23:13] dhawalkp commented on #232
@sapessi  I can fix it if you like and you can review the code. Would that be fine?

[2019-02-12 06:14] huksley commented on #237
Is there any examples how to handle this? As I understand right now there is single entry point `handleRequest(InputStream, OutputStream, Context context)`  which handles all incoming events. How to distinguish type of event from this method?

[2019-02-12 18:13] sapessi commented on #223
I haven't been able to replicate the behavior in a unit test yet. Pretty sure I'm doing something wrong when creating the request object. I'll keep looking into it and hopefully push a fix for the next patch release.

[2019-02-12 18:17] sapessi commented on #227
Hey @sandeeppilania, if it works fine when you go through SAM this is likely a setup issue in API Gateway. Have you configured the integration settings for the API Gateway method to use a proxy integration?

![screen shot 2019-02-12 at 10 16 11 am](https://user-images.githubusercontent.com/2996317/52658227-63cc5200-2eaf-11e9-9c14-0d26320ec86d.png)

[2019-02-12 18:19] sapessi commented on #228
Checking in with @jfuss on whether they have an issue tracking `multivalueQueryParams` and headers support in SAM local?

[2019-02-12 18:23] sapessi commented on #230
Hey @jessefarinacci, where are you invoking the Lambda function from? Looks like a NPE when trying to put the ALB context in the request. Normally, I would expect the `requestContext` to be not null even if the request did not come from ALB. This is similar to #237 where the event is triggered by an unsupported event source (CloudWatch).

[2019-02-12 18:28] sapessi commented on #231
Hey @tedyu, Jersey should be able to do that for you. See my [test code here](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-jersey/src/test/java/com/amazonaws/serverless/proxy/jersey/EchoJerseyResource.java#L172). The `SingleValueModel` in the parameter is automatically unmrashalled. See also a decent [example here](http://appsdeveloperblog.com/

[2019-02-12 18:30] sapessi commented on #232
The issues are not related. Working to replicate and push a fix for this now. It will go out as a patch release.

[2019-02-12 18:34] sapessi commented on #237
I'm assuming you are using the scheduled event just to keep the function "warm". If that's the case, I would probably recommend just catching the exception and returning successfully. Even though there is an exception, you are achieving your goal which is to force Lambda to keep instances of the function around.

The most important this to remember is to catch the exception and exit the function s

[2019-02-12 18:36] sapessi commented on #238
Hi @vijaychd, Lambda itself enforces that each function instance only processes one event at a time. For this reason, your connection pool should have a max size of 1. Make sure you declare the connection pool as a singleton so that it can be re-used for all subsequent invocations of the function. Finally, if you are running against a database that cannot handle large number of connections, make s

[2019-02-12 19:11] sapessi commented on #223
I've done some more digging into this @tedyu and @seshuad. I believe the root cause of the issue is described in [this StackOverflow answer](https://stackoverflow.com/questions/32426291/jersey-2-multipart-form-data-issue-inputstream-is-empty-available-0/33962167#33962167). TLDR is that Jersey doesn't have a built-in provider to read an `InputStream` from a multipart form. When I changed my test to

[2019-02-12 23:07] sapessi commented on #225
I'm going to remove the listener altogether as it is no longer required for the response latch to be release. All unit tests still pass.

[2019-02-13 08:34] huksley commented on #237
@sapessi Thanks for a important note about function exit!

However I am genuinely interested in able to use all 3 types of events in Spring Boot application deployed as AWS Lambda - event (SNS) processing, cron tasks, API gw endpoints

[2019-02-13 10:30] sendpramod commented on #206
Hi,
what do you mean by "event shaped exactly like API Gateway's proxy event".
I am getting exception while running a springboot2 application on aws.
I have created a apigateway and invoking the lambda function through it

[2019-02-13 17:10] sapessi commented on #237
Understood. I'll write a short version of the steps here. I'll use this issue to remind myself to expand [the docs on how to achieve this](https://github.com/awslabs/aws-serverless-java-container/wiki#event-translation).

In the examples below I use the StreamHandler instead of the typed one because Lambda's built-in serialization mechanism does not support Jackson annotations. This frameworks use

[2019-02-13 18:56] spullara commented on #128
I'm working on a custom runtime for running AWS Lambdas with Java 9+. I'd love to get Dropwizard working with this as well. If anyone has a theory on how to get it to work I'd love to hear it. Do you think changes to Dropwizard would be required?

[2019-02-14 11:29] huksley commented on #237
@sapessi Thanks for a thorough description!
I think I will go with **Option 1** for a start, I will get back to you once done to share the results.

[2019-02-14 18:11] jayasai470 opened #239 "spring webflux + serverless"
* Framework version: 1.3
* Implementations: Spring boot 2.1.2 + web-react

## Scenario

just wanted to check if there is a support for spring webflux without server sent events ?

## Expected behavior

## Actual behavior

## Steps to reproduce

## Full log output

[2019-02-14 18:12] sapessi commented on #238
Assuming the answer was accepted. Closing this issue.

[2019-02-14 18:12] #238 closed

[2019-02-14 18:14] sapessi commented on #239
I have not tested with WebFlux. I will mark this as a feature request and look into it for the next minor release.

[2019-02-14 18:29] kart2018 commented on #227
i am also getting the same issue and trying to call from apigee.

{
  "statusCode": 502,
  "multiValueHeaders": {
    "Content-Type": [
      "application/json"
    ]
  },
  "body": "{\"message\":\"Gateway timeout\"}",
  "isBase64Encoded": false
}

And errors also same


18:19:08
START RequestId: b91ee6ea-4645-448a-aab1-3cb6638293e0 Version: $LATEST

18:19:08
2019-02-14 18:19:08.762 ERROR 1 ---

[2019-02-14 18:52] sapessi commented on #234
I think the class loader is a red herring. Since you got the log output twice, it means the static code was executed twice, which in turn means you were running in a new instance of the function. Each instance is completely isolated so you would have a different instance of the class loader.

I'm trying to replicate the issue in a unit test but I'm having little luck. I'll keep you posted.

[2019-02-14 19:03] sapessi commented on #234
Any chance you can share your source code @shuangy92?

[2019-02-14 19:06] sapessi commented on #76
Hey @Gurminder08, is the file included in the deployment package for Lambda? Have you tried opening the built zip or jar file to make sure the resources are there?

[2019-02-14 20:20] jayasai470 commented on #239
@sapessi Thanks for considering
i have tried to deploy the webflux similar to using this https://github.com/arawn/building-serverless-application-with-spring-webflux
but there were some errors on app start

`org.springframework.beans.factory.BeanDefinitionStoreException: Failed to process import candidates for configuration class [com.example.Application]; nested exception is java.lang.IllegalArgu

[2019-02-15 05:02] vijaychd commented on #238
yes.  thanks

[2019-02-15 20:17] davidmco65 commented on #238
Hi, I have a different experience.   We use C3P0 for connection pooling (Java) but when we see the UnknownHostException issue in Lambdas, it's good that we set our max connection pool size to 2 or 3.  So sometimes one of the connections will go stale and can't reconnect but the process has another connection to use.  Just my .02 worth.
Mac

[2019-02-19 09:54] huksley commented on #237
Added workaround so SNS/SQS/CloudWatch events are not sent through to AWSProxy code as-is.
https://github.com/huksley/serverless-java-spring-boot/commit/ea93648aea630a80dc3b33307065fbf8bfd2fbee

Good idea to convert them to AwsProxyRequest but I think such logic is heavily application-depended (i.e. which endpoint to hit?) or can/need to be configured somehow.

[2019-02-20 17:25] dnellutla opened #241 "Null Pointer in AwsProxyHttpServletRequestReader"
* Framework version: 1.3
* Implementations:  Spring Boot

## Scenario Calling Calling an Rest API  developed using Spring boot framework and running on Lambda with the aws-serverless-java-container-spring library.

## Expected behavior  Should work without any issues as described in the examples

## Actual behavior
   Null Pointer exception @ request.getRequestContext().getElb(). I am not setting

[2019-02-20 17:28] sapessi commented on #241
Thanks for the report @dnellutla - I've addressed this as part of #237. I'll push a patch release over the next couple of days.

[2019-02-20 17:28] #241 closed

[2019-02-20 17:29] dnellutla commented on #241
Hi @sapessi , Thank you. What version  can I use to overcome this issue ?

[2019-02-20 21:29] dnellutla opened #242 "AwsLambdaServletContainerHandler : Could not forward request"
* Framework version: 1.2
* Implementations:  Spring Boot

## Scenario
Called an Rest API which is a POST and accepts a Body.
## Expected behavior
Should return 201 Status Code
## Actual behavior
Returns 200 with Gateway timeout.

## Steps to reproduce
 Call a Http method POST REST API

## Full log output
2019-02-20 21:17:30.053 ERROR 1 --- [ main] s.p.i.s.AwsLambdaServletContainerHandler : Could n

[2019-02-21 01:03] patrickherrera opened #243 "Unable to deserialise headers and queryStringParameters from incoming (local) API Gateway request"
* Framework version: aws-serverless-java-container-core:1.3
* Implementations: all

## Scenario
I am using the 'sam local' (SAM CLI, version 0.11.0) tool to develop and test a lambda.
I am effectively following this guide: https://github.com/micronaut-projects/micronaut-aws/tree/master/examples/api-proxy-example to perform the integration

I am running `sam local start-api` to startup an API Gatew

[2019-02-21 01:58] sapessi commented on #243
Hi Patrick, this is because as of release `1.3` this library only uses API Gateway's new `multiValueHeaders` and `multiValueQueryString` properties. Unfortunately, those are not supported by the SAM CLI yet. I'll push for [https://github.com/awslabs/aws-sam-cli/issues/735](https://github.com/awslabs/aws-sam-cli/issues/735) to be resolved, it is the right thing to do. Apologies for the inconvenienc

[2019-02-21 02:01] sapessi commented on #242
@dnellutla can you confirm that the integration request settings in API Gateway are configured as Lambda proxy?
![screen shot 2019-02-12 at 10 16 11 am](https://user-images.githubusercontent.com/2996317/53137916-6ecf5400-3539-11e9-9cfd-1502ffb3d1db.png)

This library only supports proxy events out of the box. To support other event types you'd have to create your own implementations of `RequestRea

[2019-02-21 02:02] sapessi commented on #227
Your issue is different @kart2018 - it will be addressed over the next couple of days (from #237)

[2019-02-21 08:43] patrickherrera commented on #243
No problems. I managed to work around it by parsing the InputStream into Map and also into an AwsProxyRequest object. Then I extracted the headers etc from the Map and added them to the corresponding multivalued version in the AwsProxyRequest and then serialised it back to an InputStream and passed it on.
It worked, but now I have issues that the local API Gateway is returning back the response fr

[2019-02-21 08:43] #243 closed

[2019-02-21 11:37] shuangy92 commented on #234
@sapessi I tested with [this project](https://github.com/shuangy92/lambda-demo) and attached some [logs](https://github.com/shuangy92/lambda-demo/tree/master/logs).
I used [StaticGenarator](https://github.com/shuangy92/lambda-demo/blob/master/src/main/java/lambda/demo/StaticGenarator.java) to manipulate the boot time.
From my observation, when the `DIVIDER` is large, the app has a large chance to

[2019-02-21 12:07] kart2018 commented on #227
@Sapessi Thanks for your comments, will wait for your update.

[2019-02-21 15:22] m1ky91 commented on #74
Hi Stefano,
instead of opening a new issue I am replying here to talk about CORS. I have enable with success CORS on a resource of my API with API Gateway. If I test the endpoint with postman it works correctly and I receive the JSON response:

![immagine](https://user-images.githubusercontent.com/12275263/53179412-eeb9f480-35f3-11e9-8ba1-d95100579d8e.png)

but if I want to test CORS on https://ww

[2019-02-21 15:48] dnellutla commented on #242
HI @sapessi , the Use Lambda Proxy integration checkbox was not checked.  After it was checked the request was able to forward to the API. Thank you.

[2019-02-21 17:08] #242 closed

[2019-02-22 04:10] shuangy92 commented on #234
I changed the lambda memory size from 1G to 2G, now the app can boot once with `DIVIDEND = 10` in 9s.

[2019-02-22 08:57] m1ky91 commented on #74
Hi,
I figure it out. Since with the lambda integration proxy we can't set up integration response, I had to hard code the response header into the RestController (I am using Spring Boot 2) in the following way:

`HttpHeaders headers = new HttpHeaders();`
`headers.add("X-Requested-With", "*");`
`headers.add("Access-Control-Allow-Origin", "*");`
`headers.add("Access-Control-Allow-Methods", "GET, POS

[2019-02-22 20:10] sapessi commented on #234
thanks @shuangy92 I'll keep testing and trying to replicate. I'll have to push this out to a future release because I want to get 1.3.1 out sooner rather than later.

[2019-02-25 20:04] sarbajitdutta commented on #76
@sapessi I have the same problem. I have checked by opening the jar file and the application.properties are there in the root. I am using @PropertySource(value = "classpath:application.properties"). When running locally it runs fine but when uploading to lambda it does not find application.properties.

[2019-02-26 01:09] sapessi commented on #232
Closing since version `1.3.1` is out.

[2019-02-26 01:09] #232 closed

[2019-02-26 01:10] sapessi commented on #230
Closing since version `1.3.1` is out.

[2019-02-26 01:10] sapessi commented on #225
Closing since version `1.3.1` is out.

[2019-02-26 01:10] #225 closed

[2019-02-26 01:10] sapessi commented on #223
Closing since version `1.3.1` is out.

[2019-02-26 01:10] #223 closed

[2019-02-26 01:10] sapessi commented on #230
Closing since version `1.3.1` is out.

[2019-02-26 01:10] #230 closed

[2019-02-26 01:11] dhawalkp commented on #232
@sapessi  Thanks very much!!!

[2019-02-26 03:13] sapessi commented on #76
Can you share your `pom.xml` file, the source structure, and the class where you load the properties file? I'll try to replicate in local.

[2019-02-26 06:57] Noisyfox commented on #210
Seems that if the static init took > than 10 seconds, then the handler instance will be killed by aws, and then it will re-init the handler again within a START-END-REPORT which means you have to pay for the init time. If your init completes within 10 seconds then that init time is free.

[2019-02-26 16:56] sapessi commented on #242
The patch is now pushed. Update to version `1.3.1`.

[2019-02-26 19:47] sapessi commented on #237
@huksley I've added a [new page to the docs about supporting custom event types](https://github.com/awslabs/aws-serverless-java-container/wiki/Custom-event-types). Hopefully this helps explain what is happening behind the scenes

[2019-02-26 19:47] #237 closed

[2019-02-26 19:56] huksley commented on #237
@sapessi Thanks! Really appreciated it! Maybe you are too much verbose but there is no such thing for docs)

[2019-02-27 12:06] Noisyfox commented on #234
Make sure your static init code runs less than 10 seconds otherwise you will get a dual-init problem. Put the init in the handler callback with a null check like this:
[code]

[2019-02-28 08:45] shuangy92 commented on #234
@Noisyfox I tried this way, but it doesn't reduce my cold start time much. See my quote below.

I finally changed the lambda memory size to 3008M (which is the upper limit). Now it works fine.

[2019-02-28 09:25] shuangy92 commented on #234
Well just checked the logs. 3008M memory only helps a little. Looks like once the issue happens, then it happens continuously, and vice versa.
One of my lambda (size 72.7M) is now continuously booting twice, but 5 hours ago it was continuously booting once...

[2019-02-28 10:24] Noisyfox commented on #234
Even with the lazy-init approch?

[2019-02-28 11:47] kart2018 commented on #227
@sapessi do you have any update on this issue.

[2019-02-28 17:13] sapessi commented on #227
Hey @kart2018, we published version `1.3.1` of the framework on maven. It should resolve your issue.

[2019-02-28 17:30] sapessi commented on #234
Hey @Noisyfox, @shuangy92

There is indeed a 10 seconds limit to the init time. If your class takes longer than 10 seconds to instantiate during the Lambda function init it will be automatically restarted.

I see two ways around this. First a radical way:
* **Drop Spring/SpringBoot**: It is just too slow at starting large applications. If you are looking for performance my recommendation would be

[2019-03-04 11:37] kart2018 commented on #227
@Sapessi Really Appreciated to get the new version. I have tried with 1.3.1 and getting the same error and don't see any difference. My Lambda Handler Code is below

package com.java.test.lambda.demo;

import java.io.IOException;
import java.io.InputStream;
import java.io.OutputStream;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import com.amazonaws.serverless.exceptions.ContainerIn

[2019-03-04 16:32] sapessi commented on #227
I can guarantee that the above code would work via API Gateway. I cannot test against Apigee so I have no way of knowing. Are you sure the exception is exactly the same? Same line of code?

[2019-03-04 16:56] balihb opened #245 "The incoming event is not a valid request from Amazon API Gateway or an Application Load Balancer"
* Framework version: latest
* Implementations: Spring Boot

## Scenario
I'm trying to create two Spring Boot function. One supposed to call the other, I can call both from outside (Api Gateway), but if I try to do it directly with lambda invoke I get this:
The incoming event is not a valid request from Amazon API Gateway or an Application Load Balancer
either from code or from the lambda console.

[2019-03-04 17:41] sapessi commented on #245
Hey @balihb - the framework expects an event that is shaped like [an API Gateway or ALB proxy event](https://docs.aws.amazon.com/apigateway/latest/developerguide/set-up-lambda-proxy-integrations.html#api-gateway-simple-proxy-for-lambda-input-format). That doesn't mean that the call must come from API Gateway or ALB, just that the event should have the same model. If you wanted to, you could use th

[2019-03-05 15:11] kart2018 commented on #227
Yes, exactly the same error. Why this code is not working with APIGEE ...I am really not sure why is there difference using API Gateway and APIGEE both functionality are same.

2019-03-05 15:05:22.291 INFO 1 --- [ main] c.v.b.l.a.BuildApprovalLambdaHandler : Created AWS Handler, com.amazonaws.serverless.proxy.spring.SpringBootLambdaContainerHandler@e70f13a
2019-03-05 15:05:22.303 INFO 1 --- [ main

[2019-03-05 17:02] sapessi commented on #227
I'm staring at the [NPE line of code](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/internal/servlet/AwsProxyHttpServletRequestReader.java#L48) and I cannot figure out what null would escape from the checks around it. Any chance you could share a dump of the incoming event so that I can built a u

[2019-03-07 13:12] aajitverma001 opened #246 "queryStringParameters is not Initialized"
* Framework version: 1.3.1
* Implementations:  Spring Boot

## Scenario
I am trying to create Rest API using spring boot container. I have used sample code as mentioned in the doc. The problem I am facing is that @RequestParam is not set. I using SAM local to test.

lamda Handler
[code]

Application Init:
[code]
Rest API:
[code]

## CurrentOutput
[code]

##Raw Request
[code]
Looking at the code in

[2019-03-11 07:17] wangjl1110 opened #247 "exception occurs when cookie value is empty"
* Framework version: 1.2 and above
* Implementations: Jersey / Spring / Spring Boot / Spark

## Steps to reproduce
Set the value of cookie to empty. Call req.getCookies().getName(), exception occurs

[2019-03-11 11:09] kart2018 commented on #227
@sapessi The below is the input event we are passing and not sure where to find the type of event Apigee generates.
{
    "buildId": 27,
    "projectId": "HelloWorld",
    "requestedBy": "xxxxx,
    "deployTime": "2019-07-03 13:25:00",
    "cycleRunStatus": true,
    "approvedBy": "xxxxx",
    "approvalResponse": "{\"Comments\": \"Approved \"}",
    "requestCreated": "2019-07-03 13:23:00"
}

In th

[2019-03-11 15:06] sapessi commented on #227
This framework will not be able to support that event out of the box. You'll need to either add support for a custom event type yourself - I've written a [wiki guide for it](https://github.com/awslabs/aws-serverless-java-container/wiki/Custom-event-types) -  or transform it yourself to an [`AwsProxyRequest`](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-c

[2019-03-12 16:59] sapessi commented on #246
Hi @aajitverma001, the cause of the issue is that this framework switched to only using the [multi-value headers and query string parameters](https://aws.amazon.com/blogs/compute/support-for-multi-value-parameters-in-amazon-api-gateway/). While this works fine with API Gateway itself, the fields are [not yet supported by the SAM CLI](https://github.com/awslabs/aws-sam-cli/issues/735).

[2019-03-12 17:02] sapessi commented on #245
Can I resolve this @balihb?

[2019-03-13 15:39] balihb commented on #245
I've tried to emulate an api gateway request with AwsProxyRequest, but I haven't been able to figure out a way to access the data from the current request (so I can maybe forward it to the next request).

[2019-03-13 17:39] sapessi commented on #245
If you simply want to forward the current request to the other Lambda function you can access the incoming event from the `HttpServletRequest` as an attribute. See the [`RequestReader` code here](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/internal/servlet/AwsProxyHttpServletRequestReader.java#

[2019-03-13 20:09] codescrawl opened #249 "Logging Configuration"
* Framework version: 1.3
* Implementations: Jersey

## Scenario
I cannot configure logging for my application although I have tried various combinations. I've added the following maven dependencies with log4j.version set in a property as 2.11.2 (I've tried a few variants):

        <dependency>
            <groupId>org.apache.logging.log4j</groupId>
            <artifactId>log4j-core</artifactId>

[2019-03-24 00:04] feinstein opened #250 "Jersey doesn't honor @Produces annotation."
* Framework version: 1.3.1
* Implementations: Jersey

I created a very simple project from the Jersey archetype and made only this modification:

[code]

So, basically, I have a `keepalive` endpoint that will generate a `text/plain` response.

When I invoke this using SAM Local, this is what I get:

![image](https://user-images.githubusercontent.com/8120472/54873119-a9354680-4dae-11e9-97f1-1f3cfe7

[2019-03-26 22:52] sapessi commented on #249
Hi @codescrawl, apologies for the delay. Have you tried including Lambda's implementation of the Log4j APIs? [Docs here](https://docs.aws.amazon.com/lambda/latest/dg/java-logging.html).

[2019-03-26 22:53] sapessi commented on #250
Hey @feinstein, have you tried running it in AWS using Lambda and API Gateway? I'd like to rule out SAM local as the culprit before we dig deeper into the code

[2019-03-26 22:59] feinstein commented on #250
No, I didn't.

I wasted some time converting my setup to use SAM Local, and once I found it won't attend my needs, I am converting all back to GlasshFish for testing (probably automated Jetty shortly).

Could you test it on AWS? I am not very much proficient on the `yaml` deployment, so in order for me to test, I would have to do it all by hand on the console, while you know all that `yaml` magic

[2019-03-26 23:01] sapessi commented on #250
I'll run a test tomorrow

[2019-04-04 18:36] otbe commented on #196
Sorry for bringing back this quite old issue but Im faced with it now.

It tried your `ServletRegistrationBean` solution but the constructor of SimpleGraphQLServlet is private. Is there any other solution?

Thank you!

[2019-04-05 22:36] superbrown opened #251 "Is there any way to get the Lambda context within the handler fuctions?"
The funtions in the SparkResources class, which are the REST controller funcitons, don't appear to have any means of getting a hold of the Lambda context object. (It isn't in the signature of the Route defined in the SparkResources class.)

Hopefully I'm wrong about that. If so, how can the context be accessed?

[2019-04-05 23:13] sapessi commented on #251
Yes, the context is included in the `HttpServletRequest` as [an attribute](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/internal/servlet/AwsProxyHttpServletRequestReader.java#L55) (alongside a few other teams).

[2019-04-09 11:50] otbe opened #252 "Allow (or delegate to) other dispatcherServlets"
* Framework version: 1.3.1
* Implementations: Spring Boot

## Scenario
Use another servlet besides `dispactherServlet`.
Basically this issue is the same as #196  but was closed without a working solution. I want to deploy the same graphql-java `SimpleGraphQLHttpServlet ` which throws "Only dispatcherServlet is supported".

## Expected behavior
It should somehow work :)

I already tried to register

[2019-04-09 17:07] sapessi commented on #252
Hi @otbe - I'll try to replicate the issue and see if I can find a good generic solution for it. Do you have a project you could share so that I don't have to start from scratch?

[2019-04-09 17:08] sapessi commented on #251
Did the suggestion solve your problem @superbrown? If so, can we close this issue.

[2019-04-09 17:09] sapessi commented on #249
Did the Lambda Log4j library solve the issue @codescrawl? Can we close this?

[2019-04-09 17:23] otbe commented on #252
Hi @sapessi

thanks for your response. You can use my little playground repo if you want: https://github.com/otbe/kotlin-sb-aws-lambda

You should be able to deploy a version by running:

[code]
`sls` aka serverless must be global available (`$ yarn global add serverless`)

After that you should be able to query the API by using this curl snippet:
[code]

thank you!

[2019-04-11 15:54] sapessi commented on #234
I will implement solution #2, using a separate thread to make the most of the 10 seconds of initialization time, releasing the initialization latch when the ten seconds are over to allow Lambda to continue and use a second latch to hold the handler until the Spring application is initialized. I will make this an optional feature.

[2019-04-12 00:15] Noisyfox commented on #234
That sounds very promising!

[2019-04-29 12:12] kothar opened #254 "Requests for static resources trigger a security error during mime type detection"
* Framework version: 1.3
* Implementations: Spring Boot

## Scenario
Hosting static resources (e.g. css or js files) from a /static folder on the classpath.

## Expected behavior
The static file is served by the service

## Actual behavior
Requests for paths with extensions causes `getMimeType` to be called on the `AwsServletContext` class. This in turn calls `SecurityUtils.getValidFilePath(String

[2019-04-30 16:56] #251 closed

[2019-05-03 11:07] franciszabala opened #256 "Adding Spring Boot Web Services fails current example"
* Framework version: 2.1.1.RELEASE or 1.5.20.RELEASE
* Implementations: Spring Boot

## Scenario
After adding this maven dependency:

[code]

executing `mvn clean package` keeps throwing off:

`org.springframework.context.ApplicationContextException: Unable to start web server; nested exception is java.lang.UnsupportedOperationException: Only dispatcherServlet is supported`

## Expected behavior
S

[2019-05-06 11:28] eduramiba commented on #147
Hi,
We can reproduce this issue with version 1.3.1.

Our handling code looks like this:
[code]

And the stack trace at our jersey unhandled exceptions mapper:

[code]

It seems that `NullInputStream` is created by `AwsProxyHttpServletRequest` when the body is null, but then this input stream is read here: https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-cont

[2019-05-06 17:12] sapessi commented on #147
Thanks @eduramiba. Let me reopen this. I'll look into it over the next couple of days.

[2019-05-14 19:58] otaviomedeiros opened #257 "Http response writer generating base64 encoded content for blob"
* Framework version: 1.3
* Implementations: Jersey

## Scenario
I'm trying to download a zip file with jersey and aws api gateway with proxy integration.

[code]

## Expected behavior
Response body with a blob.

## Actual behavior
Response body with base64 encoded content.

[code]
## Steps to reproduce
Add gradle dependency
[code]
and write a method like described in Scenario.

[2019-05-14 20:34] sapessi commented on #257
Hi @otaviomedeiros, the framework uses the [list of binary content types from the `ContainerConfig` object](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/internal/servlet/AwsProxyHttpServletResponseWriter.java#L47) to decide whether to base64 encode a response.

You should be able to set this by

[2019-05-15 02:27] otaviomedeiros commented on #257
Hi @sapessi. Thanks for your quick answer.
Unfortunately it doesn't work and i can't find any example on how to get this working.
This is what i've done here...

[code]

[2019-05-15 20:34] sapessi commented on #257
Hi @otaviomedeiros, I've been trying to replicate with a unit test in the framework but I see the expected output: ie the base64 encoded binary content and the `isBase64Encoded` parameter set to true. Based on this, I can only assume that the issue is the fact that API Gateway is not decoding the encoded body. Is `application/zip` [configured as a binary content type in API Gateway](https://docs.a

[2019-05-16 00:55] otaviomedeiros commented on #257
@sapessi i can't convert the base64 encoded content to binary because i'm using proxy integration which doesn't provide a way to modify the content responded by the lambda function. The point is that  i'd like my lambda function responding with `isBase64Encoded` set to false and not base64 encoding the response content.

[2019-05-16 02:48] sapessi commented on #257
@otaviomedeiros, Lambda cannot return a binary payload - Lambda only deals with JSON objects. This is why we base64-encode the response body. Once API Gateway receives this response, it automatically decodes it and returns it as binary. This behavior is controlled by the binary media types configuration in API Gateway. If you configure API Gateway to recognize `application/zip` as a binary media t

[2019-05-16 17:32] otaviomedeiros commented on #257
@sapessi you are completely right. I'm aware that i have to add the request `Accept` header to make it work as well as have configured Binary Media Types. I was trying to make it work without the need to add `Accept` header but it seems that it's not possible.
Thanks for all your help 😃

[2019-05-16 17:32] #257 closed

[2019-05-16 19:34] alexvigdor opened #258 "Multipart name and filename come through inverted in Part"
* Framework version: 1.3.1
* Implementations: Core

## Scenario
Multipart file uploads come through with the field name and filename inverted when retrieved from a Part obtained from the servlet request, compared to POSTing directly to an application running locally and not in lambda under aws-serverless-java-container, i.e. the behavior is inconsistent with tomcat and jetty.

This even stands out

[2019-05-16 21:36] sapessi commented on #258
Thanks for catching this @alexvigdor! We'll address it with the next release

[2019-05-17 17:36] chadothompson opened #259 "SAM Local Testing of POST Function Produces 415 Error"
* Framework version: 1.3.1 (Spring Boot 2.1.4.RELEASE)
* Implementations: Spring Boot

Deploy / Run:  SAM local.  (Eventually to AWS Lambda / API Gateway, but would like to run / test some things locally before deploying.)

## Scenario

I've created a rather simple application that performs a `GET` and `POST` operations.  The eventual goal will be to store 'Domain' objects (simple POJO).  I'm able

[2019-05-17 18:23] chadothompson commented on #259
UPDATE: I found it.   This may be related, but I discovered that the error does not lie with the POST itself, but with the inability of Jackson to map / parse the incoming Domain object.

If I replace

[code]

with

[code]

i.e. handle the parsing within the call itself, things work just fine.  It seems that there is something with the parsing of a @RequestBody when specifying an object.  I'll see

[2019-05-17 18:23] #259 closed

[2019-05-27 08:43] karolbe opened #260 ""Internal server error" response in project created with Spring Boot 2 archetype"
* Framework version: 1.3.1
* Implementations: Spring Boot 2
SAM CLI, version 0.16.1

## Scenario

Follow these steps to reproduce the issue:

mvn archetype:generate -DartifactId=my-service -DarchetypeGroupId=com.amazonaws.serverless.archetypes -DarchetypeArtifactId=aws-serverless-springboot2-archetype -DarchetypeVersion=1.3.1 -DgroupId=com.mycompany -Dversion=1.0-SNAPSHOT -Dinteractive=false

cd m

[2019-05-27 15:17] sapessi commented on #260
Hi @karolbe. Unfortunately this is an issue with the SAM CLI not supporting the new multiValueHeaders properties of API Gateway ([issue](https://github.com/awslabs/aws-sam-cli/issues/735)). I will ping the team again tomorrow.

[2019-06-03 12:04] MarvGilb commented on #260
Is there an update or workaround, how I can get it to start?

[2019-06-04 12:36] timbarker opened #261 "Superfluous ERROR log entry produced when no Content-Type header present"
* Framework version: 1.3.1
* Implementations: Spring Boot

## Scenario

When handling GET requests with no content-type header set (due to not having any content) a superfluous ERROR log entry is produced. e.g.

This results in noise in our applications logs from ALB heath-check requests which do not have a content-type header

[Link to offending log line](https://github.com/awslabs/aws-serverless

[2019-06-04 16:24] sapessi commented on #261
Thanks for the feedback @timbarker. you are right, I'll change this to `DEBUG` for the next release.

[2019-06-14 09:56] MarvGilb opened #262 "Change method naming of AwsProxyRequest for Jackson and other serializers."
Serializer like Jackson's ObjectMapper are using method names for serialization and deserialization.
Prefixes like get/set/is will be removed and the following String will be used as parameter names.

For the property _isBase64Encoded_ the method names are:

- isBase64Encoded
- setIsBase64Encoded

See: https://github.com/awslabs/aws-serverless-java-container/blob/e4f4d4de6016a60d3fe728181d24aa4d91

[2019-06-17 12:40] ryber opened #263 "ArrayIndexOutOfBoundsException when header value contains a equal sign"
* Framework version: 1.3.1
* Implementations:  Spark

## Scenario
ArrayIndexOutOfBoundsException when a header value contains a "=" as part of it's value

## Expected behavior
Would Parse the value to include the "="

## Actual behavior

java.lang.ArrayIndexOutOfBoundsException: Index 1 out of bounds for length 1

## Steps to reproduce

[code]

## Full log output

[code]

[2019-06-17 15:31] sapessi commented on #263
Thanks for reporting this @ryber - we'll address it in the next minor release.

[2019-06-18 12:45] Marclev78 commented on #262
This should be treated as a high priority as it is causing requests to `sam local start-api` to consistently to fail with an InternalServerError when trying to deserialise the response.

[2019-06-18 16:37] sapessi commented on #262
Thanks for the feedback @Marclev78 - I'll work to replicate and push a fix with the next patch release. Hoping to get it out this week.

[2019-06-20 15:56] sapessi commented on #262
Hey @Marclev78, I have a fix for this about to go out in the core branch. However, I doubt this is the cause of your issue. Requests are only de-serialized, which happens correctly, the framework never serializes them. Still, I have added the annotation on the field [like we do in the response](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/

[2019-06-20 16:45] sapessi commented on #263
I just tested with the Apache header value parser and it also struggles with the base64 encoded value. What I get out of it is:
[code]

I can fix the parser not to throw the exception. However, I assume you want to get the full base64 encoded value out. Are you using the `String getHeader(String)` method of the request?

[2019-06-20 17:44] sapessi commented on #260
The SAM CLI team has addressed the issue in the latest release.

[2019-06-20 17:45] sapessi commented on #250
The SAM CLI team has [implemented multiValueHeaders support](https://github.com/awslabs/aws-sam-cli/issues/735). It should be released shortly

[2019-06-20 17:52] feinstein commented on #250
Although that's good to know, I don't think this is related to multi-value headers in SAM Local, as I got this behavior in a regular unit test.

Maybe `@Produces(MediaType.TEXT_PLAIN)` defaults to empty?

[2019-06-20 18:23] sapessi commented on #250
Just tried to create a unit test for this and cannot replicate - this test succeeds for me.

**Method in my test resource:**
[code]

**Unit test method:**
[code]

[2019-06-20 18:32] feinstein commented on #250
Could you try the code I posted at the beginning? Otherwise I will test yours as soon as I get to my PC.

[2019-06-20 18:39] sapessi commented on #250
Ah, figured it out. Unless you set an entity Jersey does not set the content type header since it's superfluous. It's not the framework that skips it, it's just not set to begin with.

[2019-06-20 18:43] feinstein commented on #250
I was afraid this could be something about Jersey, but no-one at Jersey answered me, sorry to bother you with this and thank you for the support!

[2019-06-20 18:43] #250 closed

[2019-06-20 18:47] sapessi commented on #250
No problem. I did some quick googling but can't find a way to force Jersey to add the content type header in a response. You may have to add the header manually when the body is empty.

[2019-06-20 18:50] feinstein commented on #250
This is not an actual issue to me, I was just afraid the HTTP protocol was not being honored, but my APIs won't suffer from this. I was a little afraid this would impact others.

I guess setting an empty string to the body would do the trick as well.

[2019-06-20 21:33] rickbhardwaj opened #264 "SAM local building response properly, but Internal Server Error when deployed"
* Framework version: 1.3.1
* Implementation: Jersey

## Scenario
I built a REST service using Jersey serverless container. Previously, sam local and the deployed lambda function had identical behavior.

Now, however, execution works against sam local (version 0.17.0,) albeit quite a bit slower than before, but does not execute when deployed to Lambda- it simply initializes the container, runs unti

[2019-06-20 21:50] sapessi commented on #264
Thanks @rickbhardwaj, I'll try to replicate with your code and let you know. To be clear, you don't see any exception, the code just hangs until the Lambda function times out?

[2019-06-20 22:44] sapessi commented on #264
The Lambda logs in the issue only cover 2seconds of an execution. Can you attach a more complete log? Which version of Jersey are you using?

[2019-06-21 01:54] ryber commented on #263
We have a filter that deals with JWT's stored in secured/http-only cookies. It works file in Tomcat, Jetty, and Spark (jetty). In this case we were using it with Java spark in a lambda. That's when we hit this exception. I created the issue boiled down without all the extra. So round-about it comes from getting cookie values. But I suspect it would have a problem even if it was just in an "regular

[2019-06-21 15:44] sapessi commented on #263
Should be ok with regular headers because the getHeader method returns the string value without trying to parse it. I've added a condition to check whether the entire value is base64-encoded in the fix. I will add a test for a cookie value to be base64-encoded. Can you confirm that the header looks something like this:

[code]

[2019-06-21 16:14] ryber commented on #263
Yes, looks exactly like that

[2019-06-21 16:15] ryber commented on #263
I'd keep in mind that the = is the buffer and I believe could be just one, maybe 3? In any case not always just two of them

[2019-06-21 16:25] sapessi commented on #263
Yup, thanks. Working on a fix now. It's hard to distinguish whether it's a key name with a null value or a base64 encoded value when the buffer has a single `=`

[2019-06-21 16:57] rickbhardwaj commented on #264
Hi @sapessi , I think this is the complete log. But it's the same takeaway- some startup logging, run until time out, and ends execution.

[code]

[2019-06-21 17:30] rickbhardwaj commented on #264
@sapessi I'm using jersey version 2.26

[2019-06-21 18:03] sapessi commented on #263
Just pushed some more changes. I've added a unit test for your use-case and it seems to work. you can test with the `1.4-SNAPSHOT` version from the `core` branch of this repo

[2019-06-21 18:06] sapessi commented on #264
Looks like you are using Spring. Why use it inside Jersey and not go straight for the Spring implementation of this framework?

[2019-06-21 18:06] rickbhardwaj commented on #264
Some extra context: here is my sam.yaml

[code]

and I am invoking the API Gateway with https://******.execute-api.us-west-2.amazonaws.com/Stage/configurations

[2019-06-21 18:09] rickbhardwaj commented on #264
@sapessi I'm using Spring mostly just for dependency injection and caching. I'm using jersey for the actual REST implementation. i.e., this is what a basic version of my interface looks like:

[2019-06-21 18:12] sapessi commented on #264
I've never tried the two together. I can take a look into it. Out of curiosity, why Spring instead of the built-in hk2? My recommendation for Lambda normally is Dagger2 for performance reasons, although I know it doesn't integrate nicely with Jersey. Spring is really slow to initialize inside Lambda.

[2019-06-21 18:18] rickbhardwaj commented on #264
Yeah I saw your comments here [](https://github.com/awslabs/aws-serverless-java-container/issues/33). Mostly I'm trying to write a library for my team to easily port our existing services to Lambda, and this is our setup. Asking them to rewrite their applications to switch from spring to dagger will mean nobody will use my library haha.

[2019-06-21 18:19] sapessi commented on #264
Fair, is there any code you can share with me so that I can try and replicate with your code?

[2019-06-21 18:26] rickbhardwaj commented on #264
Sure, I'm using this on a toy service built with our setup, I can share most of it. You won't be able to build it because it depends on some libraries in our maven repo, but I think you can see how we're approaching it.

Just to confirm, have other users reported any issues with the jersey library since the execution environment upgrade?

[2019-06-21 18:28] ryber commented on #263
Thanks, is it in a repo somewhere or do I need to build it myself?

[2019-06-21 18:31] sapessi commented on #264
No, this is the first time I see it. some code is better than nothing.

[2019-06-21 18:34] sapessi commented on #263
You'll have to clone the `core` branch and `mvn install` on your local system, then if you add the 1.4-SNAPSHOT as a dependency to your project maven should pick it up by itself from the local repo

[2019-06-21 19:05] rickbhardwaj commented on #264
Sorry for the delay @sapessi. After seeing this [thread](https://github.com/awslabs/aws-serverless-java-container/issues/33), I realized I hadn't tried turning on the lazyInit flag on my Spring @ComponentScans. I deployed the function and it started working very quickly. I thought I had solved it, but then I made another minor change and deployed again- back to not working. I'll share the code in

[2019-06-21 19:08] sapessi commented on #264
Sounds good. My guess is that you are running into the 10 seconds limit for the init time. Lambda allows a max of 10 seconds for your handler class to instantiate, if you take longer than that, it will assume the sandbox is dead and discard it. It is possible that behind the scenes spring is taking a long time to initialize without logging anything useful for you.

I had planned to address this in

[2019-06-21 19:09] rickbhardwaj commented on #264
That sounds very likely, and would explain why it runs on sam local and suddenly started working after a lazyInit flag was enabled. The first execution took 500 ms, but the subsequent ones took ~5ms before my next deployment.

[2019-06-21 19:26] rickbhardwaj commented on #264
Here, this is basically what I'm building.

Important classes are: StreamLambdaHandler, RoutingConfigurationApi, RoutingConfigurationActivity

[allende-public_view.zip](https://github.com/awslabs/aws-serverless-java-container/files/3315782/allende-public_view.zip)

[2019-06-21 19:27] rickbhardwaj commented on #264
I'm going to try to get rid of the component scan call.

[2019-06-21 19:43] rickbhardwaj commented on #264
I tried using the [spring-context-indexer](https://docs.spring.io/spring/docs/current/spring-framework-reference/core.html#beans-scanning-index) and the deployed lambda function began working. However, I'm not sure if this is just luck on Spring init and will revert back at some point.

[2019-06-21 19:45] sapessi commented on #264
It is, you'll be safer by slightly increasing the memory allocated to the function - however, still unpredictable. I would say move the init code to the handler method (lazy load) so that Lambda will continue no matter what (although your first invocation will be even slower). I will keep this issue open for the implementation of the async init in version 1.4 of the framework.

[2019-06-21 19:47] rickbhardwaj commented on #264
The first successful invocation took 880 ms. If we're right about this being part of the ten second limit on init, that is close. I'll try increasing the memory and see if I can move the init to the handler (not completely sure, there might be circular dependency since I need spring initialized in the handler.)

[2019-06-21 20:34] ryber commented on #263
Hey it works @sapessi! Thanks for the quick turnaround.

Once note, I had to comment out the owasp filter locally to get maven to do a local install because it couldn't resolve itself (I think), but after that all was well.

[2019-06-21 21:33] sapessi commented on #263
awesome. I'll try to push 1.3.2 out this weekend!

[2019-06-25 00:27] allinwonder commented on #258
@sapessi apart from this field inverted issue, there is another strange issue I am facing during image upload. The binary data has been `encoded` and led to corruptted image file after the upload.

the following is the original image content
![Screen Shot 2019-06-24 at 12 00 06 PM](https://user-images.githubusercontent.com/3538590/60055911-848c9a00-9722-11e9-9eb5-9f902e85b452.png)

the following i

[2019-06-25 16:25] sapessi commented on #258
Thanks for the feedback @allinwonder. Any chance you have some code I can use to replicate the issue. At the moment I have a unit test in the project to check the original file size and the test passes: [Jersey resource](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-jersey/src/test/java/com/amazonaws/serverless/proxy/jersey/EchoJerseyResource.ja

[2019-06-26 15:32] sapessi commented on #258
Hey @allinwonder, I'm planning to push 1.3.2 out as soon as possible and I'd like to include a fix for this. Let me know if you had time to test with the binary content type config or you have some code I can use to replicate.

[2019-06-26 15:34] sapessi commented on #260
Closing this since the new SAM CLI should be out. @karolbe feel free to re-open if you still run into this after updating the CLI

[2019-06-26 15:34] #260 closed

[2019-06-26 15:36] sapessi commented on #254
@kothar any chance you have some sample code I can test with?

[2019-06-26 15:38] sapessi commented on #249
Assuming this issue is resolved. If you are still running into trouble feel free to re-open.

[2019-06-26 15:38] #249 closed

[2019-06-26 15:39] sapessi commented on #246
@aajitverma001 The SAM CLI is about to release with support for the multi-value fields. You can test it now by installing from the head of the repo: `brew install aws-sam-cli --head`.

[2019-06-26 15:39] #246 closed

[2019-06-26 15:40] sapessi commented on #245
Assuming this issues is solved. Closing.

[2019-06-26 15:40] #245 closed

[2019-06-26 15:40] sapessi commented on #231
Closing this issue since I've not heard back in a long time.

[2019-06-26 15:40] #231 closed

[2019-06-26 15:41] sapessi commented on #228
The new release of the SAM CLI supports the multi-value fields. You can install it from the repo's head: `brew install aws-sam-cli --head`. Closing this issue.

[2019-06-26 15:41] #228 closed

[2019-06-26 15:43] #227 closed

[2019-06-26 15:46] sapessi commented on #171
Resolving this since we have also created the [wiki guide](https://github.com/awslabs/aws-serverless-java-container/wiki/Custom-event-types).

[2019-06-26 15:46] #171 closed

[2019-06-26 16:40] kothar commented on #254
Sure - I have put together a working example: https://github.com/kothar/spring-lambda-test

If you run the spring app directly, you can successfully request both /static.html and /dynamic
The unit test simulates making those requests to the lambda wrapper. Only the dynamic one succeeds.

[2019-06-26 20:10] sapessi commented on #254
Thanks. I can make this work in my environment by explicitly enabling the path during the cold start:
[code]

It's a bit more work but I feel it's the safest way to enable access to static files. Would this not work for you @kothar?

[2019-06-26 20:47] sapessi commented on #147
I still can't seem to replicate the issue you are seeing. [This unit test](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-jersey/src/test/java/com/amazonaws/serverless/proxy/jersey/JerseyAwsProxyTest.java#L342) succeeds. Regardless, seems like a sensible idea to put a null guard around that read operation from the input stream so I will make that

[2019-06-27 09:18] kothar commented on #254
@sapessi I can confirm that the workaround above works for me. You might want to use
[code]
in the unit test.

While I'm perfectly happy to use this approach for my application, it seems to me that the fundamental problem is not the valid paths, but the implementation of `AWSServletContext.getMimeType(String)`. The specification for that method says:

[code]

In practice, the file name passed in t

[2019-06-27 14:28] aharnly-amplify commented on #128
@kennovak-zy , @sapessi, or @spullara did you ever get any traction on running Dropwizard applications with minimal changes under aws-serverless-java-container (or another helper)?

[2019-06-27 15:57] sapessi commented on #254
You make a fair point @kothar and I'd be happy to change the implementation to work how you propose. Looks like that's exactly how [Tomcat implements it](https://github.com/apache/tomcat/blob/3e5ce3108e2684bc25013d9a84a7966a6dcd6e14/java/org/apache/catalina/core/ApplicationContext.java#L349). Before I go ahead with the change, I'd like to get confirmation that this is the only way the method is us

[2019-06-27 16:31] sapessi commented on #128
I haven't had a chance to look into it yet. Working on the 1.3.2 bug-fix release. I'll try to look into it for the 1.4 release.

[2019-06-27 22:25] sapessi commented on #254
[Release 1.3.2](https://github.com/awslabs/aws-serverless-java-container/releases/tag/aws-serverless-java-container-1.3.2) - which includes this fix - is on its way to maven central! Resolving this issue.

[2019-06-27 22:25] #254 closed

[2019-06-27 22:25] sapessi commented on #147
[Release 1.3.2](https://github.com/awslabs/aws-serverless-java-container/releases/tag/aws-serverless-java-container-1.3.2) - which includes this fix - is on its way to maven central! Resolving this issue.

[2019-06-27 22:25] #147 closed

[2019-06-27 22:25] sapessi commented on #247
[Release 1.3.2](https://github.com/awslabs/aws-serverless-java-container/releases/tag/aws-serverless-java-container-1.3.2) - which includes this fix - is on its way to maven central! Resolving this issue.

[2019-06-27 22:25] #247 closed

[2019-06-27 22:25] sapessi commented on #262
[Release 1.3.2](https://github.com/awslabs/aws-serverless-java-container/releases/tag/aws-serverless-java-container-1.3.2) - which includes this fix - is on its way to maven central! Resolving this issue.

[2019-06-27 22:25] #262 closed

[2019-06-27 22:26] sapessi commented on #263
[Release 1.3.2](https://github.com/awslabs/aws-serverless-java-container/releases/tag/aws-serverless-java-container-1.3.2) - which includes this fix - is on its way to maven central! Resolving this issue.

[2019-06-27 22:26] #263 closed

[2019-06-27 22:26] sapessi commented on #261
[Release 1.3.2](https://github.com/awslabs/aws-serverless-java-container/releases/tag/aws-serverless-java-container-1.3.2) - which includes this fix - is on its way to maven central! Resolving this issue.

[2019-06-27 22:26] #261 closed

[2019-06-27 22:26] sapessi commented on #258
[Release 1.3.2](https://github.com/awslabs/aws-serverless-java-container/releases/tag/aws-serverless-java-container-1.3.2) - which includes this fix - is on its way to maven central! Resolving this issue.

[2019-06-27 22:26] #258 closed

[2019-06-27 22:29] sapessi commented on #190
Last update before closing this. I have created a [wiki page](https://github.com/awslabs/aws-serverless-java-container/wiki/Custom-event-types) that describes how to support custom event types.

[2019-06-27 22:29] #190 closed

[2019-06-27 22:30] sapessi commented on #210
Moving this to release 1.4 - planning to work on an async initializer to make the most of the 10 seconds and then switch to the handler.

[2019-06-28 00:06] feinstein opened #266 "Update Jersey version to 2.29 or later"
Title says it all :)

[2019-06-28 07:28] eduramiba commented on #147
Thank you!

[2019-06-29 10:21] kothar commented on #254
Thanks for taking the time research a proper patch @sapessi! That seems a much better solution.

[2019-07-01 23:48] sapessi commented on #128
Hi @kennovak-zy, @spullara, @aharnly-amplify. I've started working on Dropwizard support and have a basic version working in the [`dropwizard` branch](https://github.com/awslabs/aws-serverless-java-container/tree/dropwizard) of this repo. I've also added a [hello world example](https://github.com/awslabs/aws-serverless-java-container/tree/dropwizard/samples/dropwizard/hello-world) that you can sim

[2019-07-09 17:23] Magicperf opened #267 "Custom headers not returning"
* Framework version: XX
* Implementations: Jersey

## Scenario
When setting Response.header("MY_HEAD","TEST_HEAD") in my code, the header is not sent back as part of the response readers

## Expected behavior
Custom header set at lambda should be seen in the response header at API Gateway

## Actual behavior
Custom header not showing

## Steps to reproduce
Create any endpoint created with Jersey a

[2019-07-09 17:45] sapessi commented on #267
Hi @Magicperf, the headers you pasted there are the headers returned by the Lambda service (the Lambda APIs), not the headers that the framework is trying to return. You should look at the response body from Lambda and the `multivalueHeaders` property.

[2019-07-09 17:53] Magicperf commented on #267
You are correct. I see them now.

Thank you for the quick response

[2019-07-09 17:53] #267 closed

[2019-07-09 22:55] feinstein opened #268 "Provide several Custom Domains and base paths"
* Framework version: 1.3.2
* Implementations: Jersey

I have several different systems running my serverless container:

1. API Gateway + Lambda with Custom Domain Name at `https://api.myproject.com/v1/users/12345`
    custom domain: `api.myproject.com`
    base path: `v1/passengers`

2. API Gateway + Lambda with stage path (for testing development releases): https://ixov38idvk.execute-api.us-east

[2019-07-09 22:57] sapessi commented on #268
I'll look into this and let you know here. In the meanwhile, why not load the base path from an environment variable in Lambda?

[2019-07-09 23:04] feinstein commented on #268
It's not a bad solution, I will try it for now, it's just that I am like a "one man startup" so I avoid as much as possible having to configure many different things on many different environments, as I tend to forget something on deployments, or having to mirror locally some cloud specific configuration.

Automation usually is a solution for those things, but automating everything doesn't help me

[2019-07-12 11:03] thanh3d commented on #245
I got the same issue, :(

[2019-07-13 08:00] 1103036128 opened #269 "AwsLambdaServletContainerHandler(line:100)- Could not forward request"
Spring Boot ErrorController
![image](https://user-images.githubusercontent.com/35803296/61168883-37645100-a587-11e9-8f56-b6e471aef28e.png)

[code]

[2019-07-13 08:01] 1103036128 commented on #269
Failed to complete request: org.springframework.http.InvalidMediaTypeException: Invalid mime type "; charset=utf-8": 'mimeType' must not be empty

[2019-07-15 16:17] aharnly-amplify commented on #128
Thanks @sapessi ! We will test drive this with a couple of our production Dropwizard applications over the next few weeks – happy to try and learn with you guys. cc @bcerrato-amplify.

[2019-07-15 16:35] sapessi commented on #269
Thanks for reporting this @1103036128. Do you have an example of the incoming request (event dump)?

[2019-07-15 16:43] sapessi commented on #245
Hi @thanh3d, what event are you trying to handle? Is it sent by an AWS service or are you calling the Lambda function directly? In general, you have two options:

1. Use the `AwsProxyRequest` object as the event for the second Lambda function.
2. Create an alternative implementation of the `RequestReader` as described in [the wiki guide](https://github.com/awslabs/aws-serverless-java-container/wik

[2019-07-16 00:55] 1103036128 commented on #269
I found this problem: the aws lambda serverless container does not need to set the filter - response.SetCharacterEncoding (" utf-8 "), you can close this problem, thank you

[2019-07-16 14:40] glmourad commented on #246
@aajitverma001 is your code working while testing with lambda console? Could you provide the json file?

[2019-07-16 15:01] glmourad commented on #246
Shouldn't the queryStringParameters still working since multiValueQueryStringParameters is a new key?

[2019-07-18 04:49] 1103036128 commented on #269
But I want to set the character encoding to utf-8,
where do I need to set this character encoding, am I using springboot configuration, or am I reporting an error.
#encoding
spring.http.encoding.charset=UTF-8
spring.http.encoding.enabled=true
spring.http.encoding.force=true
server.tomcat.uri-encoding=UTF-8

[2019-07-18 04:50] 1103036128 commented on #269
The error is:
 Failed to complete request: org.springframework.http.InvalidMediaTypeException: Invalid mime type "; charset=utf-8": 'mimeType' must not be empty

[2019-07-18 05:04] 1103036128 commented on #269
My dependency is :
<dependency>
            <groupId>com.amazonaws.serverless</groupId>
            <artifactId>aws-serverless-java-container-spring</artifactId>
            <version>1.3.1</version>
        </dependency>

[2019-07-18 05:09] 1103036128 commented on #269
The 1.3.2 version is the same error:
Invalid mime type "; charset=utf-8": 'mimeType' must not be empty

[2019-07-18 05:19] 1103036128 commented on #269
My example：
@RestController
@RequestMapping("/ordr/v1")
public class OrderController {
	private static final Logger LOGGER = LoggerFactory.getLogger(OrderController.class);

	@RequestMapping(value="/health",method=RequestMethod.GET)
	public Object health(String name,HttpServletResponse response){
		Map<String, Object> model = new HashMap<String, Object>();
		model.put("code", 200);
		model.put("me

[2019-07-18 05:21] 1103036128 commented on #269
ERROR com.amazonaws.serverless.proxy.internal.servlet.AwsLambdaServletContainerHandler(line:100)- Could not forward request

[2019-07-18 05:30] 1103036128 commented on #269
@sapessi I hope you can help me with this problem. Thank you very much

[2019-07-18 08:18] 1103036128 commented on #269
My springboot version is 2.1.4

[2019-07-18 18:21] sapessi commented on #269
Thanks @1103036128 - I'll work to replicate today. This is the character encoding of the response correct?

[2019-07-19 00:48] 1103036128 commented on #269
If I don't set the springboot configuration of utf-8, it will respond normally, but Chinese characters will be scrambled.So I want to set it to utf-8, but it will cause abnormal response

[2019-07-19 16:30] sapessi commented on #269
Hi @1103036128, I figured out what is going on. Seems to be a bug but I'm not 100% sure what the appropriate behavior should be. There are two things going on here.

1. The framework treats all text content [as `ISO-8859-1` because that is the HTTP standard](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverles

[2019-07-19 17:29] sapessi commented on #269
I'm committing a fix to this that conforms to the [behavior described in the servlet specs](https://docs.oracle.com/javaee/6/api/javax/servlet/ServletResponse.html#getContentType()). Once you see the commit appear in this issue you can test yourself by cloning the `core` branch of this repository, running `mvn install` on your local machine, and setting your dependency to `1.4-SNAPSHOT`. Maven sho

[2019-07-20 02:59] 1103036128 commented on #269
<dependency>
            <groupId>com.amazonaws.serverless</groupId>
            <artifactId>aws-serverless-java-container-spring</artifactId>
            <version>1.3.1</version>
            <exclusions>
		  	   <exclusion>
		  	      <groupId>com.amazonaws.serverless</groupId>
		  	      <artifactId>aws-serverless-java-container-core</artifactId>
		  	   </exclusion>
		     </exclusions>

[2019-07-20 02:59] 1103036128 commented on #269
mvn install:install-file -Dfile=aws-serverless-java-container-core-1.4-SNAPSHOT.jar -DgroupId=com.amazonaws.serverless -DartifactId=aws-serverless-java-container-core -Dversion=1.4-SNAPSHOT -Dpackaging=jar

[2019-07-20 03:00] 1103036128 commented on #269
Is my above operation correct?

[2019-07-20 03:07] 1103036128 commented on #269
When will you release it to Maven Repository?

[2019-07-20 03:48] sapessi commented on #269
You could simply:
[code]

Once it's installed, you can just change the dependency version in your project's `pom.xml` to use the `1.4-SNAPSHOT` version. I have quite a few other features to address for the [1.4 release](https://github.com/awslabs/aws-serverless-java-container/milestone/15) so it could be a few weeks. I'll try to pull it forward as much as possible.

[2019-07-20 05:23] 1103036128 commented on #269
Thank you !

[2019-07-20 05:23] #269 closed

[2019-07-31 15:51] sapessi opened #273 "proxyStream method does not call ExceptionHandler"
* Framework version: 1.3.2
* Implementations: All (core)

## Scenario
The [`proxyStream()` method of `LambdaContainerHandler`](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/internal/LambdaContainerHandler.java#L212) does not catch all exceptions and pass them to the `ExceptionHandler object`.

##

[2019-08-01 00:22] sapessi commented on #273
Upon further investigation it turns out that the bug was in the Jersey response writer. The `failure()` method was simply logging the exception and counting down the latch, which resulted in a `200` response for the client. @mikaelq fixed the issue by wrapping the exception and re-throwing.

[2019-08-01 20:54] ryber opened #274 "Problems Reading Cookies"
* Framework version: 1.3.2
* Implementations:  Spark

## Scenario
Lambda is fronted by API Gateway which is in turn fronted by cloudfront which is the host of the public vanity URL.

Code is the lambda is looking for a cookie but cannot get get. I assume that this is because it's not getting x-forwarded data? In a similar situation with a ELB running Spring/tomcat we had a similar problem and need

[2019-08-10 10:12] 1103036128 opened #275 "Invalid request type: Servlet3SecurityContextHolderAwareRequestWrapper. Only AwsProxyHttpServletRequest is supported"
Hello, I have another problem, spring sercurity has made a mistake. I need your help.
* Framework version: 1.3.2
* Implementations: Spring Boot+Springsecurity

An error occurred when the loadUserByUsername to return user in the Security UserDetails Service
![image](https://user-images.githubusercontent.com/35803296/62820594-18aea580-bb99-11e9-868b-77943c720b90.png)
The CloudWatch error log are --

[2019-08-10 10:38] 1103036128 commented on #275
Here is my sercurity config --
![image](https://user-images.githubusercontent.com/35803296/62820895-0125eb80-bb9e-11e9-9546-d28efa489e6d.png)

[2019-08-10 10:39] 1103036128 commented on #275
It should be unable to forward requests.

[2019-08-10 14:26] 1103036128 commented on #275
![image](https://user-images.githubusercontent.com/35803296/62822951-9684a800-bbbd-11e9-9752-efc9660a93f7.png)
How to convert security requests into AwsProxyHttpServletRequest requests

[2019-08-11 04:47] 1103036128 commented on #275
Now I've removed the Spring Security redirection.

[2019-08-11 15:56] sapessi commented on #275
Thanks for reporting this @1103036128. I'll look into it for the next release.

[2019-08-11 15:58] sapessi commented on #274
Hi @ryber, apologies for the delay. Any chance you can share the snippet of code you are using to read the cookies in Spark?

Technically the `Cookies` header should be forwarded just fine through CloudFront and API Gateway. To confirm, you are using a proxy integration in the API Gateway config right?

[2019-08-11 16:01] sapessi opened #276 "Use Futures instead of latches to synchronize request processing"
* Framework version: 2.0
* Implementations: All

## Scenario
The framework currently uses latches on the `HttpServletResponse` implementation to wait for the completion of a request. We should change this to use Futures. This need for this was highlighted in #272 as throwing an exception without releasing the latch may cause memory leaks.

[2019-08-13 16:29] sapessi opened #277 "Explore support for WebSockets from API Gateway"
* Framework version: 2.0
* Implementations: All

## Scenario
API Gateway added [support for WebSocket APIs](https://aws.amazon.com/blogs/compute/announcing-websocket-apis-in-amazon-api-gateway/). Most of the frameworks supported by this library also include WebSocket components. Creating this issue to track and document the implementation of WebSocket support.

[2019-08-14 11:40] dhcrees opened #278 "Access context values passed from Custom Authorizer"
Apologies for posting here, but I cant seem to find any help with this.   We are adding some context values in a custom authorizer and cant seem to retrieve the values within our Lambda.  So the context looks something like this:
},
"context": {
	"staffNo": "XXXXXX",
	"name": "test test"
}

We're using the Jersey flavour of the framework, but how do we get at the values from within our Lambda.. ?

[2019-08-14 12:18] #278 closed

[2019-08-14 12:18] dhcrees commented on #278
Managed to figure it out...

[2019-08-14 16:18] sapessi commented on #278
Hey @dhcrees, glad you solved the issue. Was it caused by the serialization of the typed `proxy()` method instead of `proxyStream`? Perhaps I should make the documentation for this more visible?

[2019-08-14 17:25] sapessi commented on #275
Hi @1103036128 - I have implemented a fix for this in the `core` branch. Let me know if you can test and whether it works for you - that was a deep rabbit hole! Thanks again for the report

[2019-08-14 18:06] dhcrees commented on #278
Sorry, this is how I had it to work for me:  This is within a `ContainerRequestFilter`

`@Context`
`private HttpServletRequest httpServletRequest;`

[code]
Hope this helps someone else.

[2019-08-14 18:08] sapessi commented on #278
Thanks for the update @dhcrees - I'll make sure that the section of the documentation about accessing these values is more visible. FYI the same values are also [copied to Jersey's `ContainerRequest`](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-jersey/src/main/java/com/amazonaws/serverless/proxy/jersey/JerseyHandlerFilter.java#L143) object - y

[2019-08-14 18:14] dhcrees commented on #278
Thanks @sapessi - Can you give me an example of how to get the values from the `ContainerRequest`, that was my first approach but it wasn't apparent how to get them.

[2019-08-14 18:18] sapessi commented on #278
You should be able to use the `getProperty` method of the `ContainerRequest` just like you are using the `getAttribute` method of the `HttpServletRequest`

[2019-08-14 18:38] dhcrees commented on #278
Got it, that's much simpler...  Thanks for all your help @sapessi.

[2019-08-15 03:06] #160 closed

[2019-08-17 10:18] mohit-saw commented on #245
I am trying to deploy the spring boot project generated by Maven archetype for Spring Boot 2.x on AWS lambda and calling its /ping endpoint with the help of AWS API gateway but I am getting the same error reported here i.e  The incoming event is not a valid request from Amazon API Gateway or an Application Load Balancer

[2019-08-17 17:13] sapessi commented on #245
Hi @mohit-saw, make sure that you have configured API Gateway as a proxy integration. See [screenshot here](https://github.com/awslabs/aws-serverless-java-container/issues/227#issuecomment-462873409). If this is not the root cause of the issue, could you share how you deployed and configured the function + API Gateway? Did you use the SAM file?

[2019-08-22 16:43] renecairo commented on #239
Hi, is there any feedback on this?
I'm trying to deploy a lambda function using Spring Boot 2.x + webflux and I'm having the following issue:
`Error loading class com.everymundo.openair.farenet.processor.StreamLambdaHandler: org/springframework/web/servlet/DispatcherServlet: java.lang.NoClassDefFoundError
java.lang.NoClassDefFoundError: org/springframework/web/servlet/DispatcherServlet`

[2019-08-22 17:53] sapessi commented on #239
Hi @renecairo - I have not worked on Webflux yet. I'm assuming you have tested with the latest version of this library?  The error indicates that it cannot load `org/springframework/web/servlet/DispatcherServlet`, which I'd expected to be bundled in the jar/zip every time. Do you have a repo that I can use to replicate?

[2019-08-22 20:52] renecairo commented on #239
Hi @sapessi

We are building fully reactive micro-services using Spring Boot 2.x and Webflux with Reactor Netty (non-servlet). Spring web-mvc is the one including the missing class and we can't have both dependencies in the same project.

[2019-08-29 18:24] khakiout commented on #239
Would like to comment that we've experience the same thing. It seems `SpringBootLambdaContainerHandler` contains a `dispatcherServlet` field by default. However, this is not included for Webflux.

[2019-08-29 19:32] sapessi commented on #239
I spent some time looking into this. I see two possible path forward:

1. Spring-spefici: Sounds like this should be a separate `SpringWebfluxLambdaContainerHandler` that interfaces with an [`WebHandler`](https://docs.spring.io/spring-framework/docs/current/javadoc-api/index.html?org/springframework/web/server/WebHandler.html) object instead of the classic `DispatcherServlet`. We should also provi

[2019-08-30 21:52] jayasai470 commented on #239
@sapessi right now no.

[2019-09-01 16:28] khakiout commented on #239
@sapessi At the moment no, we only use 'reactor' with Spring.

We'll take note of this. If Serverless doesn't benefit much from Reactor maybe we can go back to the usual way.

[2019-09-03 16:40] sapessi commented on #239
I'd say it's still worth testing @khakiout, especially if your function performs multiple, network-bound operations all at once. I'm hoping to find some time to work on this soon.

[2019-09-05 10:26] Kumaresan89 commented on #128
Hi sapessi,
As I followed your steps in Dropwizard, but I am getting the below error after mvn install,

Running com.amazonaws.serverless.proxy.AwsProxyExceptionHandlerTest
[main] ERROR com.amazonaws.serverless.proxy.AwsProxyExceptionHandler - Called exception handler for:
com.amazonaws.serverless.exceptions.InvalidResponseObjectException: Invalid response error
	at com.amazonaws.serverless.proxy.

[2019-09-09 20:21] markjschreiber commented on #268
I think that the problem is that somewhere the handler is using the `path` to map to the java method but a much more resilient solution would be to use the `resource`.

When using a custom domain I found that I needed to modify the `handleRequest` method of my `RequestStreamHandler` so that the `resource` is use to overwrite the `path`.

For all of the examples above (and all that I have tested) `

[2019-09-09 20:46] sapessi commented on #268
The issue with `resource` @markjschreiber is that it does not include the parameters. For example, for the `/users/sapessi` request the resource in the proxy request object will be `/users/{username}` if you have defined the `username` to be a path variable. I haven't had time to look into this yet.

[2019-09-09 21:24] markjschreiber commented on #268
You're right. This is another attempt that better handles API gateway proxying and is better than what I previously had but may still not be the best solution:

[code]

[2019-09-10 13:35] Defozo opened #279 "Basic auth is not working on lambda with Spring Boot"
* Framework version: v2.0.0.RELEASE
* Implementations: Spring Boot

## Scenario

This is my SecurityConfiguration class:

[code]

## Expected behavior

When I run the project locally it properly shows basic auth and I can authenticate and access my endpoints.

## Actual behavior

 However, when I deploy it to Lambda it returns HTTP code 500 and prints this:

[code]

[2019-09-11 19:49] sapessi commented on #239
Hey @jayasai470, @renecairo, @khakiout - this was a deep rabbit hole and I ended up refactoring most of the servlet context and spring integration. The first experimental version of the changes are in the `core` branch of this repo. I have added a new module called `aws-serverless-java-container-springboot2` that supports both reactive and servlet-based containers. Given the size of the change, I'

[2019-09-12 02:46] sapessi commented on #252
In order to solve #239 we have added a more complete implementation of the ServletContext that can register Servlets and associate paths to them. We have also simplified the SpringBoot integration to simply act as an embedded server. Can I ask you to test the application with version `1.4-SNAPSHOT` of the library from the `core` branch of this repo @otbe. You can follow the instructions in [my las

[2019-09-20 06:42] yeDor opened #280 "AwsProxyHttpServletRequest#getParameterValues does not support multiple query string"
* Framework version: 1.3.2
* Implementations: Spring Boot

## Scenario

http request is `<scheme>://<host>/<path>?state=xxx&state=yyy`
Function in controller is func(@RequestParam(value = "state", required = false) List<String> states)

## Expected behavior

Param states contains {"xxx", "yyy"}

## Actual behavior

Param states contains {"xxx"}

## Proposed fix

In AwsProxyHttpServletRequest#getPa

[2019-09-20 07:43] yeDor commented on #280
As

[2019-09-20 07:44] yeDor commented on #280
was closed by a miss click

[2019-09-20 19:32] sapessi commented on #280
Thanks for the report @yeDor. I'm working on a fix and we'll push it out with the next release soon.

[2019-09-23 14:51] MounicaRamini opened #281 "NPE with AWS Lambda and API Gateway"
* Framework version:
* Implementations:  Spring Boot, AWS Lambda and API Gateway

Scenario
NPE when invoking Lambda Function in AWS Lambda Console

Expected behavior
Should be inserting and fetching records from database when Lambda is invoked

Actual Behaviour
Throws below error, when Lambda is executed by using AWS Lambda Test Events

Error Message on AWS Lambda Console
[code]
Full log output on

[2019-09-23 16:22] sapessi commented on #281
Hi @MounicaRamini, can you confirm the version of Serverless Java Container you are using? Looking at [that line of code in the latest release](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/internal/servlet/AwsProxyHttpServletRequestReader.java#L48) it seems harmless since we check for null on mu

[2019-09-23 16:33] MounicaRamini commented on #281
Hi @sapessi ,
Thanks for replying.

Here is the dependency version

[code]

[2019-09-23 17:37] sapessi commented on #281
Thanks, @MounicaRamini - could you test with the [latest release (1.3.2)](https://mvnrepository.com/artifact/com.amazonaws.serverless/aws-serverless-java-container-spring/1.3.2)?

Also as an FYI, in the next release (1.4) we'll break spring boot 2 support into a separate package and include support for reactive apps (webflux) - see #239.

[2019-09-23 17:38] MounicaRamini commented on #281
@sapessi
1.3 is the latest version available at Company

[2019-09-23 17:42] sapessi commented on #281
I just checked the blame for the null-check line of code. This was indeed a [bug fixed in release 1.3.1](https://github.com/awslabs/aws-serverless-java-container/commit/e024b5aff75d5095c7782483cabb023bc12a7764) (reported in #232). How can we make it easier for you to upgrade and approve version 1.3.2 at your company?

[2019-09-23 17:46] MounicaRamini commented on #281
Ah!! Am not sure of that. So, the code am following from your repo is good enough to configure and run Lambda Function?

[2019-09-23 18:28] sapessi commented on #281
Yes, the code you are using is correct. I'd recommend upgrading to the latest release of the framework. However, for the time being you can just ensure that the test event you send through the Lambda console conforms to the latest contract and includes the `multiValueHeaders` property. You can find a sample in the [API Gateway docs here](https://docs.aws.amazon.com/apigateway/latest/developerguide

[2019-09-23 18:29] sapessi commented on #239
Hey @jayasai470, @renecairo, @khakiout did you ever get a chance to test this? I want to push out release 1.4 soon and I'd like to have a few more eyes on the new integration.

[2019-09-23 18:30] MounicaRamini commented on #281
@sapessi Thanks for the information.I'll try to test using latest contract format

[2019-09-23 18:53] sapessi commented on #252
Hi @otbe, I've tested your code with release 1.4-SNAPSHOT (referenced in the other issue). It seems to load fine. However, the graphql library you are using requires WebSocket which is not supported today through this library. It's something we have planned for release 2.0 (#277). I'll consider the root cause of this issue solved (we can register the new servlet) and add your +1 to WebSocket suppo

[2019-09-23 18:55] sapessi commented on #256
Hi @franciszabala, this should be fixed for release 1.4 - I have a test implementation in the core branch of this repo. You can use the instructions from my last comment in #239 to test yourself.

[2019-09-23 19:47] MounicaRamini commented on #281
@sapessi
The Lambda function am trying to execute is supposed to make db connection and perform the operations of fetching/inserting records from db.
The Lambda Proxy Integration format am using is also correct as referred to above docs.
So, are there any chances like, if db connection fails and it returns nothing, so we see NullPointerException ? in CloudWatch Logs

[2019-09-23 19:52] sapessi commented on #281
I've looked at the [code of the 1.3 release](https://github.com/awslabs/aws-serverless-java-container/blob/a6203803a2064d8bf3da44613f35fd4da0ea2971/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/internal/servlet/AwsProxyHttpServletRequestReader.java#L48). Looks like the NPE is happening when we try to get the `elb` property from the request. I wonder if it could be

[2019-09-24 13:24] MounicaRamini commented on #281
@sapessi
Yes, I have used RequestStreamHandler interface as well. It still throws the same NPE exception
Here is the LambdaHandler class

[code]
Here is the order of Log Output
[code]
Are there any chances like, a NPE is thrown in response because of connection attempt to db is failed ? and it could return nothing and that NPE is not handled ?

If not, would it work with versions below 1.3 ?

[2019-09-24 14:18] sapessi commented on #281
it might work with older versions, but I would recommend going to the latest. Can you share the test json you are sending to the function?

[2019-09-24 14:32] MounicaRamini commented on #281
Sure,
Here is the json

[code]

[2019-09-24 15:56] sapessi commented on #281
Out of curiosity, what happens when you send this event (The headers and multiValueHeaders would likely be populated by a client with at least a Content-Type and Accept header):

[code]

Also, make sure that the `path` and `httpMethod` properties in the event are set to something that actually exists in your Spring application

[2019-09-24 16:11] sapessi commented on #281
BTW @MounicaRamini, is the version of the library you are using a private fork of this repo? I can't seem to make sense of the error being at `com.amazonaws.serverless.proxy.internal.servlet.AwsProxyHttpServletRequestReader.readRequest(AwsProxyHttpServletRequestReader.java:48)` - perhaps I'm looking in the wrong place but I cannot see something that might trigger an NPE at that line with your even

[2019-09-24 16:12] sapessi commented on #239
Thanks for the help @zorrofox, really appreciated!

[2019-09-24 16:17] MounicaRamini commented on #281
@sapessi Yeah, I have given path and httpMethod values respective to application.So, when I send this event, I get the above errors which I have mentioned. I took this format and values from APIGateway Test and then sent these values from AWS Lambda Console Test Event as API Gateway was timing out

[2019-09-24 16:21] khakiout commented on #239
Checking on this now.

[2019-09-24 16:44] sapessi commented on #281
I created a test app with SpringBoot and version 1.3 of the library. I get an NPE in the same file but at a different line (the same of issue #232), the NPE is related to the missing `multiValueHeaders` and was fixed in release 1.3.1. If this is indeed the issue, simply setting the `multiValueHeaders` value to `{}` instead of `null` in the test event should get rid of this issue. On the timeout:

[2019-09-24 16:57] MounicaRamini commented on #281
Setting `multiheaders` value to `{ }` resolved this issue. Thanks for your help.I really appreciate it 👍
Question related to cold start, I have set my lambda memory_size to  768 MB and timeoout to 120.Should that be changed to 30 to match API Gateway time frame ?

[2019-09-24 17:01] sapessi commented on #281
I would, API Gateway will fail the request at 30 seconds anyway so there's no point in keeping Lambda there spinning. One more challenge with this that we are about to resolve in release 1.4: Lambda has a maximum time of 10 seconds for the `init` step of a function - ie returning from the constructor of your handler class. We have seen Spring applications take longer than 10 seconds (see #210) and

[2019-09-24 17:17] MounicaRamini commented on #281
@sapessi Thanks for the information

[2019-09-24 17:58] #281 closed

[2019-09-24 19:44] jayasai470 commented on #239
@sapessi thanks for the work, i have made a sample project here for testing
https://github.com/jayasai470/aws-serverless-java
router function works fine, but the spring cloud function does not return a valid resp, i guess this has to do with the response type

[2019-09-25 04:14] sapessi commented on #239
Weird @jayasai470, I cloned your repo and added a new unit test to run a full request through, the response looks correct to me:

[code]

Are you getting an actual exception?

[2019-09-25 13:55] jayasai470 commented on #239
the router function "/api/status" and "/api/time" works fine both in local and aws but spring cloud function ("/hello") does not send any resp in aws. If we run the app in local and do a curl -x POST http://localhost:8080/hello -d "somestring" i am getting proper response like "SOMESTRING". But when we deploy to aws lambda and api gateway(sls deploy) i am not receiving any output.

[2019-09-25 14:30] sapessi commented on #239
Thanks for the clarification. I'll test this today.

[2019-09-26 04:59] sapessi commented on #210
Hi @DIGIT-SAAS, @Noisyfox, @grsterin, @jtraviesor -  For the series "better late than never", I have finally found the time to work on the async init. You can test it in the `1.4-SNAPSHOT` release from the `core` branch of this repo: git clone the repo, git checkout core, then mvn install on your local box. Note that if you are using Spring Boot 2.x we have broken out support into a separate packa

[2019-09-26 05:00] sapessi commented on #234
This is on its way in release 1.4. See my [last comment](https://github.com/awslabs/aws-serverless-java-container/issues/210#issuecomment-535336265) on #210

[2019-09-26 18:32] sapessi commented on #239
I spent some time looking into this @jayasai470, looks like Functions use a fairly different interface from the standard http APIs. I believe it would require building a fully reactive handler for the framework. It is something I plan to look into but not for the 1.4 release - I'll open a separate issue to track this.

In the meanwhile, I would recommend using [Spring's own adapter](https://github

[2019-09-26 19:29] jayasai470 commented on #239
@sapessi yup i think spring cloud function with aws adapaters is good enough if we have one function, but if any one wants to have a  spring web or webflux integration for http end points then this is good enough

Thanks for the hard work and quick support.

[2019-09-26 19:29] #239 closed

[2019-09-26 21:39] sapessi commented on #264
Hi @rickbhardwaj, better late than never we have a fix for this about to go out in the next release. See [my comment in this other issue](https://github.com/awslabs/aws-serverless-java-container/issues/210#issuecomment-535336265).

[2019-09-26 23:32] gakinson commented on #262
I am experiencing this issue using the latest 1.3.2 version.

[2019-09-27 05:07] sapessi commented on #274
I've been trying to replicate this in the unit tests but I can read cookies just fine. I wonder if this is related to how the cookie is set rather than how it is read. When you set the cookie, is it associated with the custom domain name? Do you set the domain name manually on the cookie?

[2019-09-27 05:16] sapessi commented on #262
Hi @gakinson, the annotation is definitely there in the latest release ([code](https://github.com/awslabs/aws-serverless-java-container/blob/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/model/AwsProxyResponse.java#L122)).

I suspect your issue may be caused by the fact that you are using the typed handler rather than the stream one: The typed handler (rece

[2019-09-27 10:18] ssindelar opened #282 "415 Error on POST with Request Object"
* Framework version: 1.3.2
* Implementations: Jersey
* OS: Windows 10

## Scenario

I want to implement a POST requests that expects a JSON object in the Request Body like in the Pet Store example. To verify I checked out the Pet-Store jersey sample, but it doesn't work either.

## Expected behavior

The Request body should be mapped to the Method Parameter of the POST method.

## Actual behavior

[2019-09-27 11:38] kartoffelsup commented on #210
Thanks for the fix :) We are having the same issue with the regular spring container (no spring-boot) will this also fix it there?

[2019-09-27 15:35] sapessi commented on #210
Yes @kartoffelsup, it works with the spring package too. I've added Builder objects for both plain spring and springboot 1.x. I've also added a unit test to triple-check that the async initialization wrapper works with those frameworks too.

[2019-09-27 15:47] sapessi commented on #282
Is this running through the SAM CLI @ssindelar?

Jersey returns 415 (as per the [Jax Rs specifications](https://docs.oracle.com/cd/E19798-01/821-1841/gipzh/index.html#6nmq2cp2i)) when it cannot find a resource method that matches the the request content type - ie has a `@Consumes` annotation that matches the request's content type. The sample clearly [has the correct annotation](https://github.com

[2019-09-27 17:54] gakinson commented on #262
Hello @sapessi ,

Thanks for the prompt response. I can switch to use that to test, but I also just created a new instance of a jackson ObjectMapper which should respect annotations, I think, but it still does not do the deserialization correctly.

Thank you,
Geoffrey K

[2019-09-27 17:57] gakinson commented on #262
Here is my post from thread https://github.com/awslabs/aws-sam-cli/issues/1193 :

Hello, here are my notes on how I could get it working by duplicating your class and playing around with annotations.

### Failed attempts
1. Move the @JsonProperty annotation to the field and removing it from the "is" getter
2. Tried add additional letters tot he prefix

### Successful attempts
1. Deleting the "isBa